<template>
	<div class="sso-forms">
		<div class="sso-info-field">
			<label class="sso-lbl-info">
                Birthday
                <i class="far fa-question-circle sso-bday-tooltip-info" aria-hidden="true" @mouseenter="showTooltip($event, true)" @mouseleave="hideTooltip"></i>
                <div class="sso-bday-bubble-tooltip" @mouseenter="showTooltip($event, false)" @mouseleave="hideTooltip">
                    <span v-html="tooltipDOB.tooltipValue">{{ tooltipDOB.tooltipValue }}</span>
                    <br>
                    <a :href="tooltipDOB.links" target="_blank" class="sso-a-link">Learn more</a>
                </div>
            </label>
			<span class="sso-info">{{ birthdayText }}</span>
			<div class="sso-edit-container">
				<transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
				<a 
					href="javascript:void(0);"
					class="sso-a-link sso-edit-info overide-font-size-14"
					@click="activeForm=true"
					v-if="!activeForm">
                    Edit
            	</a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
        	<div class="sso-form-update">
        		<form class="sso-text-container sso-relative-pos" v-on:submit.prevent>
        			<div class="sso-date-of-birth">
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info sso-date">Year</label>
                            <v-select :options="years" :value="year" v-model="year" :on-change="setYear" class="absolute-position"></v-select>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info sso-date">Month</label>
                            <v-select :options="items" :value="month" v-model="month" :on-change="setMonth" class="absolute-position"></v-select>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info sso-date">Day</label>
                            <v-select :options="numberOfDays" :value="day" v-model="day" :on-change="setDay" class="absolute-position"></v-select>
                        </div>
                        <p v-if="dobInvalid" class="sso-error-message">Birth date must be in the past.</p>
                        <p v-if="invalidDate" class="sso-error-message">Invalid Birthdate.</p>
                    </div>
                </form>
                <div class="sso-btn-container">
                	<a class="sso-a-link sso-cancel-update overide-font-size-14"
                		@click="activeForm=false">
                		Cancel
                	</a>
                	<button type="button" v-promise-btn class="sso-btn-update" @click="save">
                    	SAVE CHANGES
                	</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';
import { months } from 'utils/months';
import vSelect from 'vue-select';

export default {
    components: { vSelect },
	name: 'birthday',

	data: () => ({
		birthday: null,
		activeForm: false,
		successSave: false,
        tooltipDOB: null,
        dobInvalid: false,
        invalidDate: false,

		hasError: false,

        day: 1,
        month: 'January',
        year: 2000,
        items: [],
        numberOfDays: [],
        years: [],

        birthdayText: null,
	}),

	watch: {
		activeForm: function(val) {
			this.resetBirthDate();
		},

        'birthday.birthMonth': function(val) {
            this.month = months[val - 1];
        },
        'birthday.birthDay': function(val) {
            this.day = val;
        },
        'birthday.birthYear': function(val) {
            this.year = val;
        },

        birthday: function(val) {
            this.validateBirthdate(val);
        }
	},

    computed: {
        ...mapState(['tooltip'])
    },

	methods: {
        showTooltip: function(e, isPos) {
            if (isPos) {
                let _left = parseInt($(e.target).position().left - 50);
                let _top = parseInt($(e.target).position().top - $('.sso-bday-bubble-tooltip').outerHeight() + 5);
                let obj = {};
                if ($(window).width() <= 320) {
                    obj = {
                        'top': _top+'px',
                        'left': '0px',
                        'width': '280px'
                    }
                } else {
                    obj = {
                        'top': _top+'px',
                        'left': _left+'px'
                    }
                }

                $(e.target).parent().find('.sso-bday-bubble-tooltip').css(obj).show();
            } else {
                $(e.target).parent().find('.sso-bday-bubble-tooltip').show();
            }
        },

        hideTooltip: function(e) {
            $(e.target).parent().find('.sso-bday-bubble-tooltip').hide();
        },

		save: function() {
        	return new Promise((resolve) => {
                let dob = this.birthday;
                this.validateBirthdate(dob);
                    
                if (!this.leapYear(dob.birthYear) && parseInt(dob.birthDay) >= 29 && parseInt(dob.birthMonth) === 2) {
                    this.invalidDate = true;
                    resolve();
                    return;
                }

                if (this.leapYear(dob.birthYear) && parseInt(dob.birthDay) > 29 && parseInt(dob.birthMonth) === 2) {
                    this.invalidDate = true;
                    resolve();
                    return;
                }
                
                if (!this.year || !this.month || !this.day) {
                    this.invalidDate = true;
                    resolve();
                    return;
                }

                if (this.dobInvalid) {
                    resolve();
                    return;
                }

        		let params = Object.assign({}, {
                    profile: this.birthday
                }, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {
                            this.activeForm = false;
                            this.successSave = true;
                            this.dobInvalid = false;
                            this.invalidDate = false;
                            this.updateStoreAccountInfo();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

                this.$accounts.setAccountInfo(params);
        	});
        },

        updateStoreAccountInfo: function() {
        	_.update(this.accountInfo, 'profile.birthDay', (val) => { return val = this.day; });
            _.update(this.accountInfo, 'profile.birthMonth', (val) => { return val = this.items.indexOf(this.month) + 1; });
            _.update(this.accountInfo, 'profile.birthYear', (val) => { return val = this.year; });

            this.updateText();
			
        	this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },

        sendValue: function() {
            this.birthday = {
                birthMonth: this.items.indexOf(this.month) + 1,
                birthDay: this.day,
                birthYear: this.year
            };
        },
        setMonth: function(val, oldval) {
            this.month = val;
            this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);
            this.sendValue();
        },
        setDay: function(val, oldval) {
            this.day = val;
            this.sendValue();
        },
        setYear: function(val, oldval) {
            this.year = val;
            this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);
            this.sendValue();
        },

        range: function (start, end) {
          return Array(end - start + 1).fill().map((_, idx) => start + idx);
        },

        daysInMonth: function (year, month) {
            var nod = new Date(year, month, 0).getDate();
            this.numberOfDays = [];

            for (var x = 1; x <= nod; x++) {
                this.numberOfDays.push(x.toString());
            }
        },

        setYears: function() {
            var xYear = new Date().getFullYear();
            for (var i = xYear; i >= 1919; i--) {
                this.years.push(i.toString());
            }
        },

        resetBirthDate: function(val) {
            if (!val) {
                this.birthday = {
                    birthDay: this.$user.profile.birthDay,
                    birthMonth: this.$user.profile.birthMonth,
                    birthYear: this.$user.profile.birthYear
                };

                this.dobInvalid = false;
                this.invalidDate = false;
            }
        },

        leapYear: function(year) {
            return (year & 3) == 0 && ((year % 25) != 0 || (year & 15) == 0);
        },

        validateBirthdate: function(val) {
            var birthDate = new Date(val.birthYear,  val.birthMonth - 1, val.birthDay);
            var currentDate = new Date();
                currentDate.setHours(0);
                currentDate.setMinutes(0);
                currentDate.setSeconds(0);
                currentDate.setMilliseconds(0);

            this.dobInvalid = birthDate.getTime() >= currentDate.getTime();
        },

        updateText: function() {
            this.birthdayText = `${months[this.accountInfo.profile.birthMonth - 1] || "--"} ${this.accountInfo.profile.birthDay || "--"}, ${this.accountInfo.profile.birthYear || "--"}`;
        }
	},

	created() {
		this.accountInfo = this.$user;

        this.birthday = {
            birthDay: this.accountInfo.profile.birthDay,
            birthMonth: this.accountInfo.profile.birthMonth,
            birthYear: this.accountInfo.profile.birthYear
        };

        this.items = months;
        this.day = this.birthday.birthDay;
        this.month = months[this.birthday.birthMonth - 1];
        this.year = this.birthday.birthYear;

        this.tooltipDOB = _.find(this.tooltip, function(o) { return o.elementID === "Birthday"; });

        this.setYears();
        this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);

        this.updateText();
	}
}

</script>