<template>
	<div class="sso-forms">
		<div class="sso-info-field">
			<div class="sso-info-field">
                <label class="sso-lbl-info">Password</label>
                <span class="sso-info">
                    <a 
                        href="javascript:void(0);" 
                        class="sso-a-link sso-change-password"
                        @click="activeForm=true"
                        v-if="!activeForm">
                        Change Password
                    </a>
                </span>
                <div class="sso-edit-container">
                    <transition name="fade">
                        <span class="sso-success-save password-success-changed" v-if="successSave">Changes Saved</span>
                    </transition>
                </div>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
        	<div class="sso-form-update">
                <form class="sso-edit-password">
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">Current Password</label>
                        <span class="sso-relative-pos">
                            <input 
                                type="password" 
                                placeholder="••••••••••••••" 
                                name="oldPassword" 
                                id="txtOldPassword" 
                                class="sso-text-field sso-clear-close"
                                v-model="oldPassword"
                                :class="{ 'has-error': hasErrorOldPass }"
                                maxLength="30">
                            <i class="far fa-eye-slash" @click="togglePassword($event, 'txtOldPassword')"></i>
                        </span>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="oldPasswordRequired">Current password is required.</p>
                            <p class="sso-error-message" v-if="oldPasswordInvalid">Current password is invalid.</p>
                        </div>
                    </div>
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">New Password</label>
                        <span class="sso-relative-pos">
                            <input 
                                type="password" 
                                placeholder="••••••••••••••" 
                                name="newPassword" 
                                id="txtNewPassword" 
                                class="sso-text-field"
                                v-model="newPassword"
                                :class="{ 'has-error': hasErrorNewPass }"
                                v-on:blur="isEmpty"
                                maxLength="30">
                            <i class="far fa-eye-slash" @click="togglePassword($event, 'txtNewPassword')"></i>
                        </span>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="newPasswordRequired">New password is required.</p>
                        </div>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="minPass">Password must be at least 6 characters.</p>
                            <p class="sso-text-info">Password must be atleast 6 characters.</p>
                            <div class="password-strength"></div>
                        </div>
                    </div>
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">Re-Type New Password</label>
                        <input 
                            type="password" 
                            placeholder="••••••••••••••" 
                            name="reTypePassword" 
                            class="sso-text-field"
                            v-model="reTypePassword"
                            :class="{ 'has-error': hasErrorReTypePass }"
                            maxLength="30">
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="reTypePassRequired">Re-Type new password is required.</p>
                            <p class="sso-error-message" v-if="notMatch">Password doesn't match.</p>
                        </div>
                    </div>
                </form>
                <div class="sso-btn-container">
                    <a class="sso-a-link sso-cancel-update overide-font-size-14" @click="activeForm=false">Cancel</a>
                    <button type="button" v-promise-btn class="sso-btn-update" @click="save">
                        SAVE CHANGES
                    </button>
                </div>
            </div>
		</div>
	</div>
</template>
<script>
import Vue from 'vue';

export default {
	name: 'change-password',

	data: () => ({
		activeForm: false,
		successSave: false,
        oldPassword: null,
        newPassword: null,
        reTypePassword: null,
		// for validation
        hasErrorOldPass: false,
        hasErrorNewPass: false,

        oldPasswordRequired: false,
        newPasswordRequired: false,
        oldPasswordInvalid: false,
        minPass: false,

        reTypePassRequired: false,
        hasErrorReTypePass: false,
        notMatch: false
	}),

    watch: {
        activeForm: function(val) {
            this.resetNewPasswErrors();
            this.resetOldPasswErrors();
            this.resetReTypePassErrors();
            this.oldPassword = null;
            this.newPassword = null;
            this.reTypePassword = null;
        },

        oldPassword: function(val) {
            if (val === "" || val === null) {
                this.hasErrorOldPass = true;
                this.oldPasswordRequired = true;
            } else {
                this.resetOldPasswErrors();
            }
        },

        newPassword: function(val) {
            this.validatePasswordStrength();

            if (val === "" || val === null) {
                this.hasErrorNewPass = true;
                this.newPasswordRequired = true;
                this.minPass = false;
            } else if (val.length < 6) {
                this.minPass = true;
                this.hasErrorNewPass = true;
                this.newPasswordRequired = false;
            } else {
                if (val !== this.reTypePassword) {
                    this.reTypePassRequired = false;
                    this.hasErrorReTypePass = true;
                    this.notMatch = true;
                }

                this.resetNewPasswErrors();
            }
        },

        reTypePassword: function(val) {
            if (val === "" || val === null) {
                this.reTypePassRequired = true;
                this.hasErrorReTypePass = true;
                this.notMatch = false;
            } else if (this.newPassword !== val) {
                this.reTypePassRequired = false;
                this.hasErrorReTypePass = true;
                this.notMatch = true;
            } else {
                this.resetReTypePassErrors();
            }
        }
    },

	methods: {
        // toggling password hide and show
        togglePassword: function(e, pwd) {
            if ($("#"+pwd).attr('type') === "password") {
                $("#"+pwd).attr('type', 'text');
            } else {
                $("#"+pwd).attr('type', 'password');
            }
            $(e.target).toggleClass('fa-eye-slash fa-eye');
        },

        validateOldPassword: function() {
            if (this.oldPassword === "" || this.oldPassword === null) {
                this.hasErrorOldPass = true;
                this.oldPasswordRequired = true;
            } else {
                this.resetOldPasswErrors();
            }
        },

        validateNewPassword: function() {
            this.validatePasswordStrength();

            if (this.newPassword === "" || this.newPassword === null) {
                this.hasErrorNewPass = true;
                this.newPasswordRequired = true;
                this.minPass = false;
            } else if (this.newPassword.length < 6) {
                this.minPass = true;
                this.hasErrorNewPass = true;
                this.newPasswordRequired = false;
            } else {
                if (this.newPassword !== this.reTypePassword) {
                    this.reTypePassRequired = false;
                    this.hasErrorReTypePass = true;
                    this.notMatch = true;
                }

                this.resetNewPasswErrors();
            }
        },

        validateReTypePassword: function() {
            if (this.reTypePassword === "" || this.reTypePassword === null) {
                this.reTypePassRequired = true;
                this.hasErrorReTypePass = true;
                this.notMatch = false;
            } else if (this.newPassword !== this.reTypePassword) {
                this.reTypePassRequired = false;
                this.hasErrorReTypePass = true;
                this.notMatch = true;
            } else {
                this.resetReTypePassErrors();
            }
        },
		
		save: function() {
			return new Promise((resolve) => {
                this.validateOldPassword();
                this.validateNewPassword();
                this.validateReTypePassword();

				if (this.hasErrorOldPass || this.hasErrorNewPass || this.hasErrorNewPass) {
        			resolve();
        			return;
        		}

        		let params = Object.assign({}, {
                    password: this.oldPassword,
                    newPassword: this.newPassword
	            }, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            this.oldPasswordInvalid = true;
                            this.hasErrorOldPass = true;
                        } else {                        	
                            this.activeForm = false;
                            this.successSave = true;
                            this.resetOldPasswErrors();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

                this.$accounts.setAccountInfo(params);
			});
		},

        validatePasswordStrength: function() {
            var pwString = this.newPassword;
            var strength = 0;

            strength += /[A-Z]+/.test(pwString) ? 1 : 0;
            strength += /[a-z]+/.test(pwString) ? 1 : 0;
            strength += /[0-9]+/.test(pwString) ? 1 : 0;
            strength += /[\W]+/.test(pwString) ? 1 : 0;
            
            $('.password-strength').removeClass('weak medium strong').show();

            switch(strength) {
              case 3:
                $('.password-strength').addClass('medium');
                break;
              case 4:
                $('.password-strength').addClass('strong');
                break;
              default:
                $('.password-strength').addClass('weak');
                break;
            }
        },
        // function to check password is Empty
        isEmpty: function(e) {
            if (e.target.value === "") {
                $('.password-strength').removeClass('weak medium strong').hide();
            }
        },

        resetNewPasswErrors: function() {
            this.hasErrorNewPass = false;
            this.oldPasswordInvalid = false;
            this.newPasswordRequired = false;
            this.minPass = false;
        },

        resetOldPasswErrors: function() {
            this.hasErrorOldPass = false;
            this.oldPasswordRequired = false;
            this.oldPasswordInvalid = false;
        },

        resetReTypePassErrors: function() {
            this.reTypePassRequired = false;
            this.hasErrorReTypePass = false;
            this.notMatch = false;
        }
	}
}
</script>