<template>
	<div class="sso-forms">
		<div class="sso-info-field">
			<label class="sso-lbl-info">Country of Registration</label>
			<span class="sso-info">{{country.countryName}}</span>
			<div class="sso-edit-container">
				<transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
				<a 
					href="javascript:void(0);"
					class="sso-a-link sso-edit-info overide-font-size-14"
					@click="activeForm=true"
					v-if="!activeForm">
                    Edit
            	</a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
        	<div class="sso-form-update">
    			<div class="sso-text-container sso-country sso-relative-pos">
                    <label class="sso-lbl-update-info sso-lbl-country-info">Country</label>
                    <v-select :options="countries" :value="country" v-model="country" label="countryName" :on-change="setCountry"></v-select>
                </div>
                <div class="sso-btn-container">
                	<a class="sso-a-link sso-cancel-update overide-font-size-14"
                		@click="activeForm=false">
                		Cancel
                	</a>
                	<button type="button" v-promise-btn class="sso-btn-update" @click="save">
                    	SAVE CHANGES
                	</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import { mapState } from 'vuex';
import vSelect from 'vue-select';

export default {
    components: { vSelect },
	name: 'country',
	data: () => ({
		activeForm: false,
		successSave: false,
        countryText: null,
        country: {'countryCode': '', 'countryName': ''},
        countryCode: '',
	}),

    computed: {
        ...mapState(['countries']),
    },

	methods: {
		save: function() {
        	return new Promise((resolve) => {
                let data = {
                    profile: {
                        country: this.countryCode
                    }
                };

        		let params = Object.assign({}, data, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {
                            this.activeForm = false;
                            this.setCountryName();
                            this.successSave = true;
                            this.updateStoreAccountInfo();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

				this.$accounts.setAccountInfo(params);
        	});
        },

        updateStoreAccountInfo: function() {
        	_.update(this.accountInfo, 'profile.country', (val) => { return val = this.countryCode; });
			
        	this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },

        setCountry: function(val, oldval) {
            this.countryCode = val.countryCode;
        },

        setCountryName: function(code) {
            var obj;
            if (code) {
                obj = this.countries.find(o => o.countryCode === code);
            } else {
                obj = this.countries.find(o => o.countryCode === this.countryCode);
            }

            this.country = {
                'countryCode': code,
                'countryName': obj.countryName
            };
        }
	},

	created() {
		this.accountInfo = this.$user;

        var code = this.accountInfo.profile.country ? this.accountInfo.profile.country : '';
        this.setCountryName(code);
	}
}

</script>