<template>
    <div class="sso-forms">
        <div class="sso-info-field">
            <label class="sso-lbl-info">Name</label>
            <span class="sso-info">{{ fullName }}</span>
            <div class="sso-edit-container">
                <transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
                <a 
                    href="javascript:void(0);" 
                    class="sso-a-link sso-edit-info overide-font-size-14"
                    @click="activeForm=true"
                    v-if="!activeForm">
                    Edit
                </a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
            <div class="sso-form-update">
                <form  v-on:submit.prevent>
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">First Name</label>
                        <input 
                            type="text" 
                            name="firstName" 
                            class="sso-text-field" 
                            v-model="firstName"
                            @input="validateFirstName"
                            maxlength="32" 
                            :class="{ 'has-error': hasErrorFN }">
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="requiredFN">
                                First name is required.
                            </p>
                            <p class="sso-error-message" v-if="FNInvalid">
                                Invalid first name.
                            </p>
                        </div>
                    </div>
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">Middle Name</label>
                        <input 
                            type="text" 
                            placeholder="Optional" 
                            class="sso-text-field"
                            v-model="middleName"
                            @input="validateMiddleName"
                            maxlength="32"
                            :class="{ 'has-error': hasErrorMN }"
                            >
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="MNInvalid">
                                Invalid middle name.
                            </p>
                        </div>
                    </div>
                    <div class="sso-text-container">
                        <label class="sso-lbl-update-info">Last Name</label>
                        <input 
                            type="text" 
                            name="lastName" 
                            class="sso-text-field"
                            v-model="lastName"
                            @input="validateLastName"
                            maxlength="32"
                            :class="{ 'has-error': hasErrorLN }">
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="requiredLN">
                                Last name is required.
                            </p>
                            <p class="sso-error-message" v-if="LNInvalid">
                                Invalid last name.
                            </p>
                        </div>
                    </div>
                </form>
                <div class="sso-btn-container">
                    <a class="sso-a-link sso-cancel-update overide-font-size-14" @click="activeForm=false">Cancel</a>
                    <button type="button" v-promise-btn class="sso-btn-update" @click="save">
                        SAVE CHANGES
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';

export default {
    name: 'full-name',

    data: () => ({
        activeForm: false,
        firstName: null,
        lastName: null,
        middleName: null,
        successSave: false,

        // for validation
        requiredLN: false,
        requiredFN: false,

        FNInvalid: false,
        LNInvalid: false,
        MNInvalid: false,

        hasErrorFN: false,
        hasErrorLN: false
    }),

    computed: {
        fullName: function () {
            return `${this.accountInfo.profile.firstName || ''} ${this.accountInfo.profile.lastName || ''}`;
        },
    },

    watch: {
        activeForm: function(val) {
            this.firstName = this.accountInfo.profile.firstName;
            this.lastName = this.accountInfo.profile.lastName;
            this.middleName = this.accountInfo.data.middleName;

            this.resetFirstNameErrors();
            this.resetLastNameErrors();
            this.resetMiddleNameErrors();
        }
    },

    methods: {
        validateFirstName: function() {
            if (this.firstName === "" || this.firstName === null) {
                this.FNInvalid = false;
                this.requiredFN = true;
                this.hasErrorFN = true;
            } else if (/^\s*$/.test(this.firstName) || !isNaN(this.firstName) || !/^[a-zA-Z\'\-\s]*$/.test(this.firstName)) {
                this.requiredFN = false;
                this.FNInvalid = true;
                this.hasErrorFN = true;
            } else {
                this.resetFirstNameErrors()
            }
        },

        validateLastName: function() {
            if (this.lastName === "" || this.lastName === null) {
                this.LNInvalid = false;
                this.requiredLN = true;
                this.hasErrorLN = true;
            } else if (/^\s*$/.test(this.lastName) || !isNaN(this.lastName) || !/^[a-zA-Z\'\-\s]*$/.test(this.firstName)) {
                this.requiredLN = false;
                this.LNInvalid = true;
                this.hasErrorLN = true;
            } else {
                this.resetLastNameErrors();
            }
        },

        validateMiddleName: function() {
            if (!/^[a-zA-Z\'\-\s]*$/.test(this.middleName)) {
                this.MNInvalid = true;
                this.hasErrorMN = true;
                return;
            }

            this.resetMiddleNameErrors();
        },

        resetFirstNameErrors: function() {
            this.requiredFN = false;
            this.FNInvalid = false;
            this.hasErrorFN = false;
        },

        resetLastNameErrors: function() {
            this.requiredLN = false;
            this.LNInvalid = false;
            this.hasErrorLN = false;
        },

        resetMiddleNameErrors: function() {
            this.MNInvalid = false;
            this.hasErrorMN = false;
        },

        save: function() {
            return new Promise((resolve) => {
                if (this.hasErrorLN || this.hasErrorFN) {
                    resolve();
                    return;
                }

                let mName = this.middleName ? this.middleName.trim() : null

                let params = Object.assign({}, {
                    profile: {
                        firstName: this.firstName.trim(),
                        lastName: this.lastName.trim()
                    },
                    data: {
                        middleName: mName
                    }
                }, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {                            
                            this.activeForm = false;
                            this.successSave = true;
                            this.updateStoreAccountInfo();
                            this.resetLastNameErrors();
                            this.resetFirstNameErrors();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

                this.$accounts.setAccountInfo(params);
            });
        },

        updateStoreAccountInfo: function() {
            _.update(this.accountInfo, 'profile.firstName', (val) => { return val = this.firstName; });
            _.update(this.accountInfo, 'profile.lastName', (val) => { return val = this.lastName; });
            _.update(this.accountInfo, 'data.middleName', (val) => { return val = this.middleName; });
            
            this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },
    },

    created() {
        this.accountInfo = this.$user;
    }
}
</script>