<template>
	<div class="sso-forms">
		<div class="sso-info-field">
			<label class="sso-lbl-info">Gender</label>
			<span class="sso-info">{{genderText}}</span>
			<div class="sso-edit-container">
				<transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
				<a 
					href="javascript:void(0);"
					class="sso-a-link sso-edit-info overide-font-size-14"
					@click="activeForm=true"
					v-if="!activeForm">
                    Edit
            	</a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
        	<div class="sso-form-update">
    			<div class="sso-gender">
                    <div class="sso-text-container sso-relative-pos">
                        <label class="sso-lbl-update-info sso-lbl-gender">Gender</label>
                        <v-select :options="['Male','Female']" :value="gender" v-model="gender"></v-select>
                    </div>
                </div>
                <div class="sso-btn-container">
                	<a class="sso-a-link sso-cancel-update overide-font-size-14"
                		@click="activeForm=false">
                		Cancel
                	</a>
                	<button type="button" v-promise-btn class="sso-btn-update sso-btn-birthday" @click="save">
                    	SAVE CHANGES
                	</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import vSelect from 'vue-select';

export default {
    components: { vSelect },
	name: 'gender',
	data: () => ({
		gender: null,
		activeForm: false,
		successSave: false,
        genderText: null
	}),

	methods: {
		save: function() {
        	return new Promise((resolve) => {
        		let _gender = this.gender === "Male" ? "m" : "f";

                let data = {
                    profile: {
                        gender: _gender
                    }
                };
                
        		let params = Object.assign({}, data, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {
                            this.genderText = this.gender;
                            this.activeForm = false;
                            this.successSave = true;
                            this.updateStoreAccountInfo(_gender);

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

				this.$accounts.setAccountInfo(params);
        	});
        },

        updateStoreAccountInfo: function(gender) {
        	_.update(this.accountInfo, 'profile.gender', (val) => { return val = gender; });
			
        	this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },

        setGenderText: function() {
            if (this.accountInfo.profile.gender === "m") {
                return "Male";
            } else if (this.accountInfo.profile.gender === "f") {
                return "Female";
            } else {
                return "";
            }
        },
	},

	created() {
		this.accountInfo = this.$user;
		this.gender = this.setGenderText();
        this.genderText = this.setGenderText();
	}
}

</script>