<template>
    <div class="sso-forms">
        <div class="sso-info-field">
            <label class="sso-lbl-info">Kapamilya Name</label>
            <span class="sso-info">{{knText}}</span>
            <div class="sso-edit-container">
                <transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
                <a 
                    href="javascript:void(0);"
                    class="sso-a-link sso-edit-info overide-font-size-14"
                    @click="activeForm=true"
                    v-if="!activeForm">
                    Edit
                </a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
            <div class="sso-form-update">
                <form class="sso-text-container sso-relative-pos" v-on:submit.prevent>
                    <label class="sso-lbl-update-info">Kapamilya Name</label>
                    <input 
                        type="text" 
                        name="kapamilyaName" 
                        class="sso-text-field" 
                        v-model="kapamilyaName"
                        :class="{ 'has-error': hasError }"
                        maxlength="30"
                        @input="validate">
                    <i class="far fa-question-circle sso-tooltip-info" @click="showTooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip"></i>
                    <div class="sso-info-container">
                        <p class="sso-text-info">You can use a combination of letters, numbers, at sign, period, underscore, or hypen.</p>
                        <!--Error Message-->
                        <p class="sso-error-message" v-if="required">Kapamilya name is required.</p>
                        <p class="sso-error-message" v-if="minimumChar">
                            Kapamilya name should be atleast 4 characters long.
                        </p>
                        <p class="sso-error-message" v-if="alreadyTaken">
                            Kapamilya Name is arleady taken.
                        </p>
                        <p class="sso-error-message" v-if="kapamilyaNameIsEmail">
                            Invalid Kapamilya Name.
                        </p>
                        <p class="sso-error-message" v-if="invalidKapamilyaName">
                            Invalid Kapamilya Name. Use a combination of<br>4-30 alphanumeric characters and valid symbols (.@) only.
                        </p>
                        <p class="sso-error-message" v-if="specialChar">
                            Special Characters are not allowed.
                        </p>

                        <div class="sso-available-kn">
                            Suggestions: 
                            <span 
                                @click="kapamilyaName = suggestedKN" 
                                class="sso-a-link sso-kn-available" 
                                v-for="suggestedKN in suggestedKapamilyaNames">
                                {{ suggestedKN }}
                            </span>
                        </div>
                    </div>
                    <div class="sso-bubble-tooltip">
                        With your Kapamilya Name, you can use one login to your favorite Kapamilya sites and apps - no more worrying about multiple registrations and passwords.
                    </div>
                </form>
                <div class="sso-btn-container">
                    <a class="sso-a-link sso-cancel-update overide-font-size-14"
                        @click="activeForm=false">
                        Cancel
                    </a>
                    <button type="button" v-promise-btn class="sso-btn-update" @click="save">
                        SAVE CHANGES
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';

export default {
	name: 'kamapmilya-name',

	data: () => ({
		kapamilyaName: null,
		activeForm: false,
		knText: null,
		successSave: false,
		suggestedKapamilyaNames: [],

		// for validation
		required: false,
		minimumChar: false,
		alreadyTaken: false,
		invalidKapamilyaName: false,
		specialChar: false,
        kapamilyaNameIsEmail: false,

		hasError: false
	}),

	watch: {
		activeForm: function(val) {
			if (val) {
				this.kapamilyaName = this.knText;
				this.resetError();
			}
		}
	},

	methods: {
		// function to show tooltip
        showTooltip: function(e) {
            let _left = parseInt($(e.target).position().left - $('.sso-bubble-tooltip').outerWidth() + 30);
            let _top = parseInt($(e.target).position().top - $('.sso-bubble-tooltip').outerHeight() - 10);

            $(e.target).parent().find('.sso-bubble-tooltip').css({
                'top': _top+'px',
                'left': _left+'px'
            }).show();
        },

        // function to hide tooltip
        hideTooltip: function(e) {
            $(e.target).parent().find('.sso-bubble-tooltip').hide();
        },

        validate: function() {
        	let notAllowedChars = new RegExp('[ `~!#$%^&*()+ÀÈÌÒÙàèìòùÁÉÍÓÚÝáéíóúýÂÊÎÔÛâêîôûÃÑñÕãõÄËÏÖÜŸäëïöüŸ¡¿çÇŒœßØøÅåÆæÞþÐð{}\[;:"|\\\]<>,/]', 'g');
        	let isValid = notAllowedChars.exec(this.kapamilyaName) ? false : true;
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        	if (this.kapamilyaName == "" || this.kapamilyaName == null) {
        		this.hasErrors();
        		this.required = true;
        	} else if (this.kapamilyaName.length < 4) {
        		this.hasErrors();
        		this.minimumChar = true;
        	} else if (!/[a-zA-Z]/.test(this.kapamilyaName)) {
        		this.hasErrors();
        		this.invalidKapamilyaName = true;
        	} else if (!isValid) {
        		this.hasErrors();
        		this.specialChar = true;
        	} else if (regex.test(this.kapamilyaName)) {
                this.hasErrors();
                this.kapamilyaNameIsEmail = true;
            } else {
        		this.resetError();
        	}

        	return this.hasError;
        },

        save: function() {
            return new Promise((resolve) => {
                if (this.validate()) {
                    resolve();
                    return;
                }

                let params = Object.assign({}, {username: this.kapamilyaName}, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {
                            this.knText = this.kapamilyaName;
                            this.activeForm = false;
                            this.successSave = true;
                            this.updateStoreAccountInfo();
                            this.resetError();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });


                gigya.accounts.isAvailableLoginID({
                    loginID: this.kapamilyaName,
                    callback: (response) => {
                        if (!response.isAvailable) {
                            this.alreadyTaken = true;
                            this.hasError = true;
                            resolve();
                        } else {
                            this.alreadyTaken = false;
                            this.hasError = false;

                            this.$accounts.setAccountInfo(params);
                        }
                    }
                });
            });
        },

        updateStoreAccountInfo: function() {
            _.update(this.accountInfo, 'loginIDs.username', (val) => { return val = this.kapamilyaName; });
            
            this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },

        resetError: function() {
        	this.hasError = false;
			this.required = false;
    		this.minimumChar = false;
    		this.alreadyTaken = false;
    		this.invalidKapamilyaName = false;
    		this.specialChar = false;
            this.kapamilyaNameIsEmail = false;
        },

        hasErrors: function() {
        	this.required = false;
    		this.minimumChar = false;
    		this.alreadyTaken = false;
    		this.invalidKapamilyaName = false;
    		this.specialChar = false;
            this.kapamilyaNameIsEmail = false;
        	this.hasError = true;
        },

        getSuggestedKapamilyaName: function() {
            this.$http.post('https://preprdkapamilya-accounts.abs-cbn.com/api/SSO/names-suggested', {
                email: this.accountInfo.profile.email,
                firstName: this.accountInfo.profile.firstName,
                lastName: this.accountInfo.profile.lastName
            }).then((response) => {
                this.suggestedKapamilyaNames = response.data;
            });
        }
    },

    created() {
        this.accountInfo = this.$user;
        this.knText = this.accountInfo.loginIDs.username;

        this.getSuggestedKapamilyaName();
    }
}

</script>