<template>
	<div class="sso-forms">
		<div class="sso-info-field">
			<label class="sso-lbl-info">
                Salutation
                <i class="far fa-question-circle sso-salutation-tooltip-info" aria-hidden="true" @mouseenter="showTooltip($event, true)" @mouseleave="hideTooltip"></i>
                <div class="sso-salutation-bubble-tooltip" @mouseenter="showTooltip($event, false)" @mouseleave="hideTooltip">
                    <span v-html="tooltipDOB.tooltipValue">{{ tooltipDOB.tooltipValue }}</span>
                </div>
            </label>
			<span class="sso-info salutation-text"> {{ capitalize(salutationText) }}. </span>
			<div class="sso-edit-container">
				<transition name="fade">
                    <span class="sso-success-save" v-if="successSave">Changes Saved</span>
                </transition>
				<a 
					href="javascript:void(0);"
					class="sso-a-link sso-edit-info overide-font-size-14"
					@click="activeForm=true"
					v-if="!activeForm">
                    Edit
            	</a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" v-if="activeForm">
        	<div class="sso-form-update">
    			<div class="sso-gender">
                    <div class="sso-text-container">
                        <label class="sso-salutation-title">How do you like to be addressed?</label>
                        <form class="sso-frm-content">
                            <div class="sso-form-control">
                                <div class="sso-radio sso-mb-5 sso-mt-3">
                                    <span class="sso-radio-input">
                                        <input type="radio" name="salutation" id="salmr" v-model="selectedSalutation"  value="MR" class="sso-radion-button">
                                        <label for="salmr" class="sso-label">Mr.</label>
                                    </span>
                                    <span class="sso-radio-input">
                                        <input type="radio" name="salutation" id="salms" v-model="selectedSalutation" value="MS" class="sso-radion-button"/>
                                        <label for="salms" class="sso-label">Ms.</label>
                                    </span>
                                    <span class="sso-radio-input">
                                        <input type="radio" name="salutation" id="salmrs" v-model="selectedSalutation" value="MRS" class="sso-radion-button"/>
                                        <label for="salmrs" class="sso-label">Mrs.</label>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sso-btn-container">
                	<a class="sso-a-link sso-cancel-update overide-font-size-14"
                		@click="activeForm=false">
                		Cancel
                	</a>
                	<button type="button" v-promise-btn class="sso-btn-update sso-btn-birthday" @click="save">
                    	SAVE CHANGES
                	</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import { mapState } from 'vuex';

export default {
	name: 'salutation',
	data: () => ({
		selectedSalutation: null,
		activeForm: false,
        successSave: false,
        salutationText : null,
        tooltipDOB: null
    }),
    
	methods: {
        showTooltip: function(e, isPos) {
            if (isPos) {
                let _left = parseInt($(e.target).position().left - 50);
                let _top = parseInt($(e.target).position().top - $('.sso-salutation-bubble-tooltip').outerHeight() + 5);
                let obj = {};
                if ($(window).width() <= 320) {
                    obj = {
                        'top': _top+'px',
                        'left': '0px',
                        'width': '280px'
                    }
                } else {
                    obj = {
                        'top': _top+'px',
                        'left': _left+'px'
                    }
                }

                $(e.target).parent().find('.sso-salutation-bubble-tooltip').css(obj).show();
            } else {
                $(e.target).parent().find('.sso-salutation-bubble-tooltip').show();
            }
        },

        hideTooltip: function(e) {
            $(e.target).parent().find('.sso-salutation-bubble-tooltip').hide();
        },
		save: function() {
        	return new Promise((resolve) => {

                let data = {
                    data: {
                        salutation: this.selectedSalutation
                    }
                };
                
        		let params = Object.assign({}, data, {
                    callback: (response) => {
                        if (response.status === 'FAIL') {
                            alert("Saving Failed.");
                        } else {
                            this.activeForm = false;
                            this.successSave = true;
                            this.updateStoreAccountInfo();

                            var timeout = setTimeout(()=> {
                                this.successSave = false;
                                clearTimeout(timeout);
                            }, 3000);
                        }

                        resolve();
                    }
                });

				this.$accounts.setAccountInfo(params);
        	});
        },

        updateStoreAccountInfo: function() {
            this.salutationText = this.selectedSalutation;
        	_.update(this.accountInfo, 'data.salutation', (val) => { return val = this.selectedSalutation; });
			
        	this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);
        },

        capitalize (s) {
            s = s.toLowerCase();
            if (typeof s !== 'string') return ''
            return s.charAt(0).toUpperCase() + s.slice(1)
        }
    },
    
    computed: {
        ...mapState(['tooltip'])
    },

	created() {
        this.accountInfo = this.$user;
        this.salutationText = this.accountInfo.data.salutation || '';
        this.selectedSalutation = this.salutationText;
        this.tooltipDOB = _.find(this.tooltip, function(o) { return o.elementID === "salutation"; });
	}
}

</script>

<style lang="scss">
    .sso-salutation-title {
        color: #727272;
    }
    .sso-frm-content {
        margin-top: 1.2em;

        .sso-radio-input {
            margin-right: 10px;
        }


        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #727272;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 10px;
            height: 10px;
            background: #00bff3;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
</style>
