<template>
    <div class="form-indicator">

        <div id="beacon-container">

            <span v-if="!hideIcon">
                <i @mouseover="showToolTopBubble()" @mouseleave="showToolTopBubble()" class="far fa-question-circle" v-if="mode =='not-started' "> </i>
                <i @mouseover="showToolTopBubble()" @mouseleave="showToolTopBubble()" class="far fa-question-circle" v-if="mode =='animating' "> </i>
                <i @mouseover="showToolTopBubble()" @mouseleave="showToolTopBubble()" class="far fa-check-circle done" v-if="mode =='done' "> </i>
            </span>
            

            
            

            <div class="circle" v-if="mode =='animating' " style="animation-delay: 4s"></div>
            <div class="circle" v-if="mode =='animating' " style="animation-delay: 3s"></div>
            <div class="circle" v-if="mode =='animating' " style="animation-delay: 2s"></div>
            <div class="circle" v-if="mode =='animating' " style="animation-delay: 1s"></div>
        </div>

       <div class="tooltip-container" :style="toolTipStyle" v-if="showToolTip && toolTipContent ">
            <p> {{toolTipContent}} </p>
        </div>

    </div>
</template>

<script>
export default {
    name : 'beacon-animation',
    props: {
        mode: {
            type: String,
            default : 'not-started' // not-started, animating, done
        },
        toolTipContent: {
            type : String,
            default: ''
        },
        toolTipStyle: {
            type : String,
            default: null
        },
        hideIcon : {
            type : Boolean,
            default : false
        }
    },

    data: () => ({
        showToolTip : false
    }),

    methods: {
        showToolTopBubble() {
            this.showToolTip = !this.showToolTip;
        }
    }
}
</script>
<style lang="scss">
    .form-indicator { 

        .far {
            cursor: pointer;
        }
        .tooltip-container {
            display: block;
            background: #fff;
            position: absolute;
            top: 310px;
            right: 50px;
            width: 300px;
            border-radius: 1px;
            z-index:9999;
            p {
                padding: 10px;
                text-align:center;
                color : #111;
                font-size:12px;
            }
        }
        .tooltip-container:after {
            content: '';
            position: absolute;
            right: 12px;
            width: 0; height: 0;
            border-top: 8px solid #fff;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

        .far:hover + .tooltip-container { display: block; }

        .done {
            color: #3cb878;
        }
        
    }
</style>