.sso-right-content-container {
	.sso-form-container {
		.sso-accounts-info {
			.sso-accounts-list-container {
				&.sso-accounts-mobile, 
				&.sso-accounts-sky, 
				&.sso-accounts-tvplus, 
				&.sso-accounts-iptv,
				&.sso-accounts-tfc,
				&.sso-accounts-osn, 
				&.sso-accounts-cable-satelite, 
				&.sso-accounts-cable, 
				&.sso-accounts-tfc-online {
					margin-top: 20px;
					// padding: 20px 0 30px 0px;
					position: relative;
					border-bottom: 3px solid #363636;

					.sso-account-mobile-header, 
					.sso-account-sky-header, 
					.sso-account-tvplus-header, 
					.sso-accounts-iptv-header, 
					.sso-accounts-tfc-header, 
					.sso-accounts-osn-header, 
					.sso-accounts-cable-satelite-header, 
					.sso-accounts-cable-header,
					.sso-accounts-tfc-online-header {
						margin-top: 20px;
						padding: 20px 0 20px 20px;
						cursor: pointer;

						&:hover {
							background-color: #363636;
						}

						i.fa-chevron-down, i.fa-chevron-up {
							position: absolute;
							right: 20px;
							font-size: 20px;
				          	cursor: pointer;

				          	&:before {
					            -webkit-text-stroke: 2px #252525;
					        }

					        &:active {
					        	opacity: 0.7;
					        }
						}

						i.fa-question-circle {
							font-size: 18px;
				          	cursor: pointer;
				          	top: 1px;
				          	position: absolute;
				          	cursor: pointer;
						    height: 50px;
						    width: 50px;
						    vertical-align: middle;
						    text-align: center;
						    line-height: 50px;
						    text-indent: 0;
						    top: 3px;
						}
					}

					.sso-account-items {
						display: none;

						ul {
							&.sso-mobile-number-list {
								margin-bottom: 20px;
							}

							padding: 0;
							margin: 0;

							li {
								padding-top: 15px;
								margin-top: 15px;
								list-style: none;
								position: relative;
								padding-left: 20px;
								border-top: 1px solid #363636;

								&.sso-dtt:last-child {
									margin-bottom: 20px;
								}

								span {
									font-weight: 200;
								}

								a.sso-account-delete {
									position: absolute;
									right: 25px;
									top: 10px;
								}
							}
						}

						.sso-add-sky-account, .sso-add-tvplus-account, .sso-add-iptv-account, .sso-add-tfc-account, .sso-add-osn-account, .sso-add-cable-satelite-account, .sso-add-cable-account {
							margin-top: 20px;
							padding: 20px 0 40px 20px;
							border-top: 1px solid #363636;
						}
					}

					.sso-account-form-container {
						background-color:  #363636;
						padding: 40px 0 35px;
						margin-bottom: 40px;
						margin-top: 20px;

						.sso-account-form {
							width: 400px;
							margin: 0 auto;

							.sso-form-title {
								text-align: center;
								font-size: 20px;
								font-weight: 500;
								margin: 0;
							}

							.sso-form {
								margin-top: 30px;

								.sso-error-response {
								    margin-bottom: 30px;
								}

								.sso-accounts-error-text {
									color: #ed145b;
								    font-size: 14px;
								    font-weight: 300;
								    text-align: center;
								}

								.sso-input-container {
									margin-bottom: 20px;

									label {
										color: #727272;
										margin-right: 20px;
										width: 90px;
									    text-align: right;
									    display: inline-block;

									    &.sso-lbl-email-add {
									    	width: 110px;

									    	@media (max-width: 860px) {
												display: block;
												text-align: left;
											}
									    }

										&.sso-view-card-number-label {
											text-align: left;
											width: 230px;
											margin-right: 5px;
										}
									}

									.sso-input-text {
										background-color:  #363636;
										color: #fff;
										border: none;
										outline: none;
										border-bottom: 1px solid #464646;
										width: 280px;
										height: 30px;
										font-weight: 100;
										padding-right: 25px;
										font-size: 14px;

										&.has-error {
											color: #ed145b;
											border-bottom: 1px solid #ed145b;
										}

										&.sso-text-m-n {
											width: 225px;
										}


										@media (max-width: 320px) {
											&.sso-accounts-email {
												width: 240px;
											}
										}

										&.sso-view-card-number-text {
											width: 180px;
										}
									}

									&.tvplus {
										label {
											width: auto;
										}
										.sso-input-text {
											width: 260px;
										}
									}

									.inline-block {
										position: relative;

										.sso-accounts-tooltip {
											position: absolute;
											right: -5px;
											top: 0;
											width: 30px;
											height: 30px;
											font-size: 18px;
											cursor: pointer;
											text-align: center;
											line-height: 30px;

											.sso-sky-account-tooltip {
												
											}
										}

										.sso-tooltip {
											display: none;
											top: -60px;
    										right: -20px;

    										@media (max-width: 420px) {
												right: -17px;
												width: 275px;

												&:after {
													right: 20px;
												}
											}
										}

										.sso-info-container {
											position: absolute;

											.sso-error-message {
												color: #ed145b;
											    display: block;
											    font-size: 12px;
											    font-weight: 300;
											    text-align: left;
											    margin: 0;
											}
										}
									}
								}

								.sso-or-seperator {
									text-align: center;
									margin: -5px 0 15px;
									color: #727272;
								}

								.sso-text-info {
    								font-size: 12px;
    								color: #727272;
    								text-align: center;
    								max-width: 400px;
    								margin: 30px auto 0;
    								font-weight: 400;

    								&.cab-sat-info-text {
									    margin-top: 10px;
									    line-height: 1.5;
									}

									&.osn-text-info {
										margin-top: 15px;
									    line-height: 1.5;
									}
								}

								.sso-btn-container {
									text-align: center;
									padding-top: 10px;

									.sso-btn-add-save {
										border: none;
										width: 320px;
										height: 50px;
										line-height: 50px;
										display: block;
										cursor: pointer;
										color: #fff;
										border-radius: 1px;
										position: relative;
										font-weight: 600;
										outline: none;
										background-color: #111111;
										font-size: 14px;
										margin: 15px auto 20px;

										&:active {
											opacity: 0.7;
										}
									}
								}
								.sso-success-info {
						    		text-align: center;
									font-weight: 200;
									display: block;
									font-size: 14px;
						    	}
							}

							&.sso-iptv-form {
								width: 500px;

								.sso-form {
									label {
										width: 165px;
									}
								}
							}

							&.sso-tfc-form {
								width: 420px;
								@media (max-width: 860px) {
									width: 280px;

									.sso-btn-container {
										.sso-btn-add-save {
											width: 250px;
										}
									}
								}

								@media (max-width: 320px) {
									width: 240px;
									.sso-btn-container {
										.sso-btn-add-save {
											width: 240px;
										}
									}
								}
							}

							&.sso-osn-form {
								width: 490px;

								.sso-form {
									label {
										width: 175px;
									}
								}
							}

							&.sso-cable-satelite-form, &.sso-cable-form {
								width: 325px;

								.sso-form-title {
									@media (max-width: 420px) {
										font-size: 16px;
									}
								}

								.sso-form {
									label {
										width: 175px;
									}

									.sso-error-message {
										color: #ed145b;
									    display: block;
									    font-size: 12px;
									    font-weight: 300;
									    text-align: left;
									    margin: 0;
									}

									.sso-input-text {
										width: 100%;
									}
								}
							}


						}
					}

					.sso-lightbox-form {
						position: fixed;
						background-color: rgba(0, 0, 0, .7);
						z-index: 999999;
					    width: 100%;
					    height: 100%;
					    left: 0;
					    top: 0;
					    overflow-y: auto;

					    .sso-account-form-container {
							box-shadow: 0px 1px 15px 3px #000000;
					    	left: calc(50% - 250px);
					    	top: calc(50% - 150px);
							border-radius: 5px;
							position: fixed;
					    	width: 500px;
					    	z-index: 9999999;

					    	&.sso-other-info {
					    		width: 400px;
					    		padding: 10px 0;
					    		left: calc(50% - 200px);
					    		top: calc(50% - 100px);
					    		z-index: 9999999;

					    		.other-info {
					    			padding: 0 20px;

					    			p {
						    			font-weight: 300;
						    		}
					    		}

					    		.overide-margin-top {
					    			margin-top: 0px !important;
					    		}
					    	}

					    	&.sso-cable-satelite-other-info {
					    		top: 10%;
					    		height: 88%;
    							overflow-y: auto;

					    		@media (max-width: $screen-sm) {
					    			top: 2%;
					    		}

					    		.other-info {
					    			padding: 0 20px;
					    			margin-top: -30px !important;

					    			p {
						    			font-weight: 300;
						    		}
					    		}
					    	}

					    	&.sso-directtv-other-info {
					    		width: 600px;
					    		padding: 10px 0;
					    		left: calc(50% - 300px);
					    		top: 40px;
					    		z-index: 9999999;
					    		position: relative;

					    		.other-info {
					    			padding: 0 20px;

					    			p {
						    			font-weight: 300;
						    		}
					    		}

					    		.overide-margin-top {
					    			margin-top: 0px !important;
					    		}
					    	}

					    	&.sso-iptv-other-info {
					    		width: 600px;
					    		padding: 10px 0;
					    		left: calc(50% - 300px);
					    		z-index: 9999999;
					    		position: relative;
    							top: calc(50% - 155px);

					    		.other-info {
					    			padding: 0 20px;

					    			p {
						    			font-weight: 300;

						    			ol li {
						    				padding: 10px 5px;
						    			}
						    		}
					    		}

					    		.overide-margin-top {
					    			margin-top: 0px !important;
					    		}
					    	}

				    		.sso-account-verif-title {
								font-size: 12px;
								text-align: center;
								font-weight: 300;
								display: block;
								color: #959595;
							}

							.sso-account-verif-info {
								text-align: center;
								font-weight: 200;
								display: block;
								font-size: 12px;
							}
					    }

					    .sso-success-container {
					    	background-color:  #363636;
							margin-bottom: 40px;
							margin-top: 20px;

							box-shadow: 0px 1px 15px 3px #000000;
					    	left: calc(50% - 250px);
					    	top: calc(50% - 150px);
							border-radius: 5px;
							position: fixed;
					    	width: 500px;
					    	z-index: 9999999;

					    	padding: 10px 20px;

					    	@media (max-width: 420px) {
					    		left: calc(50% - 180px);
    							top: calc(50% - 180px);
    							width: 355px;
					    	}

					    	@media (max-width: 320px) {
					    		left: calc(50% - 150px);
    							top: calc(50% - 180px);
    							width: 300px;
					    	}

					    	.sso-success-title {
					    		text-align: center;
					    		color: #008000;
					    	}

					    	.sso-success-info {
					    		text-align: center;
								font-weight: 200;
								display: block;
								font-size: 13px;

								a {
									font-size: 13px;
									font-weight: 300;
									color: #00bff3;
									text-decoration: none;
									cursor: pointer;
									margin: 5px 0;

									&:hover {
										text-decoration: underline;
									}
								}
					    	}

					    	.sso-btn-container {
								text-align: center;
								padding-top: 10px;

								.sso-btn-ok {
									border: none;
									width: 100%;
									max-width: 320px;
									height: 50px;
									line-height: 50px;
									display: block;
									cursor: pointer;
									color: #fff;
									border-radius: 1px;
									position: relative;
									font-weight: 600;
									outline: none;
									background-color: #111111;
									font-size: 14px;
									margin: 15px auto 20px;

									&:active {
										opacity: 0.7;
									}
								}
							}
					    }
					}
				}

				&.sso-accounts-list-container:last-child {
					border-bottom: none;
				}
			}
		}
	}
}