main {
	section.sso-body-container {
		.sso-main-content {
			.sso-address-info-form-update {
				.sso-error-response {
				    padding-top: 30px;

				    .sso-address-error-text {
				    	color: #ed145b;
					    font-size: 14px;
					    font-weight: 300;
					    text-align: center;
					    padding: 0 20px;
					}
				}
				.sso-form-update {
					.sso-text-container {
						position: relative;

						.sso-city, .sso-province, .sso-country {
							position: absolute;
						}
					}

					.sso-btn-container {
						width: 300px;
    					margin: 0 auto;
    					padding: 20px 0;

    					@media (max-width: 420px) {
    						width: 235px;
    					}
					}
				}
			}
		}
	}
}
.sso-right-content-container {
	.sso-form-container {
		&.sso-forms-windows {
			max-width: 840px;
			margin: 0 auto;
		}
		.sso-add-address {
			position: relative;
			text-align: right;
			margin-bottom: 30px;

			.sso-a-link {
				font-size: 14px;
				margin: 0 20px 0 0;
				display: inline-block;
			}
		}
		.sso-edit-address {
			position: relative;

			.sso-address-info {
				display: inline-block;
			    text-align: left;
			    width: calc(100% - 40px);
			    font-weight: 100;

			    &.sso-address-text-container {
			    	span.sso-addr-text:after {
			    		content: ', ';
			    	}
			    	
			    	span.sso-addr-text:last-child:after {
			    		content: '';
			    	}
			    }
			}

			.sso-a-link {
				font-size: 14px;
				margin: 0 20px 0 0;
				position: absolute;
				right: 5px;
			}
		}
		.sso-form-update {
			&.sso-address-update {
				.sso-text-container {
					margin-bottom: 25px !important;

					.sso-lbl-update-info {
						width: 160px !important;
					}
					
					@media (max-width: 736px) {
						max-width: 300px;
    					margin: 0 auto;

    					.sso-lbl-update-info {
    						text-align: left !important;
    						margin-bottom: 10px;
    						display: block !important;
    					}

    					.sso-text-field {
    						width: 300px !important;
    					}
					}

					@media (max-width: 375px) {
						max-width: 240px;

						.sso-text-field {
    						width: 240px !important;
    					}
					}
				}

				.sso-city, .sso-province {
					width: 300px;
					margin-left: 0;

					&.has-error {
						color: #ed145b;
						border: 1px solid #ed145b;
					}

					@media (max-width: 990px) {
						position: relative !important;

						&.dropdown.v-select .dropdown-toggle input[type=search] {
							position: absolute;
						}
					}

					@media (max-width: 375px) {
						max-width: 240px;
					}
				}

				.sso-country {
					width: 300px;
					margin-left: 0;

					@media (max-width: 990px) {
						position: relative !important;

						&.dropdown.v-select .dropdown-toggle input[type=search] {
							position: absolute;
						}
					}

					@media (max-width: 375px) {
						max-width: 240px;
					}
				}
			}
		}
	}
}
