main {
	section.sso-body-container {
		height: 100%;

		.sso-main-content {
			height: 100%;
			padding: 20px 35px;

			.sso-info-field {
				text-indent: 10px;
				height: 50px;
				border-bottom: 1px solid #333;
				line-height: 50px;
				position: relative;

				&:last-child {
					border-bottom: none;
				}

				.sso-lbl-info {
					width: 30%;
				    display: inline-block;
				    max-width: 180px;

					.sso-salutation-tooltip-info,
					.sso-bday-tooltip-info {
						font-size: 18px;
						position: absolute;
						cursor: pointer;
						height: 50px;
					    width: 50px;
					    vertical-align: middle;
					    text-align: center;
					    line-height: 50px;
					    text-indent: 0;
					    top: 0;
					}

					.sso-salutation-bubble-tooltip,
					.sso-bday-bubble-tooltip {
						position: absolute;
						z-index: 2;
						color: #444;
						padding: 8px;
						border: 1px solid #bfcfda;
						background-color: #f3f5f6;
						box-shadow: inset 0px 0px 2px 0px #bfcfda;
						width: 290px;
						font-size: 11px;
						line-height: 1.3;
						text-align: center;
						display: none;
						padding: 20px 0;
						top: -105px;
    					left: 55px;

						&:after {
							content: ' ';
							display: block;
							position: absolute;
							background-image: url("//assets.abs-cbn.com/sso/images/triangle_down.png");
							background-size: 100% 100%;
							background-color: transparent;
							border: 0;
							left: 67px;
							bottom: -9px;
							height: 10px;
							width: 15px;

							@media (max-width: 320px) {
								left: 77px;
							}
						}
					}
				}

				.sso-info {
					color: #727272;

					.sso-change-password {
						font-size: 14px;
					}
				}

				.sso-edit-container {
					position: absolute;
				    right: 20px;
				    top: 0px;

					.sso-edit-info {
						// position: absolute;
						// right: 20px;
						// top: -5px;

						&.inactive {
							display: none;
						}
					}

					.sso-success-save {
						// position: absolute;
						color: #00a651;
						// margin-right: 55px;
						// right: 54px;
						// top: 0px;

						&:after {
							content: "/";
							margin-left: 6px;
							color: #fff;
						}

						&.password-success-changed {
							margin-right: 20px;

							&:after {
								content: none;
								margin-left: 0;
							}
						}
					}
				}
			}

			.sso-basic-info-form-update, .sso-address-info-form-update {
				background-color:  #363636;
				// padding: 30px 160px;

				.sso-form-update {
					max-width: 520px;
					margin: 0 auto;
					padding: 30px 0;

					.sso-gender {
						position: relative;
						max-width: 295px;
    					margin: 0 auto;
					}

					.sso-date-of-birth {
						position: relative;
						max-width: 295px;
    					margin: 0 auto;

    					.sso-error-message {
							color: #ed145b;
						    display: block;
						    font-size: 12.5px;
						    font-weight: 300;
						    text-align: center;
						}
					}

					.sso-text-container {
						// position: relative;
						height: auto;
						margin-bottom: 15px;

						.sso-lbl-update-info {
							color: #727272;
							width: 135px;
							display: inline-block;
							text-align: right;
    						margin-right: 10px;
    						margin-top: 10px;

    						&.sso-lbl-gender {
    							width: 75px;
    						}

    						&.sso-date {
    							width: 75px;
    							// text-align: right !important;

    							@media (max-width: 320px) {
									width: 45px;
								}
    						}
						}

						.sso-text-field {
							background-color:  #363636;
							color: #fff;
							border: none;
							outline: none;
							border-bottom: 1px solid #464646;
							width: 300px;
							height: 30px;
							font-weight: 100;
							padding-right: 25px;
							font-size: 14px;

							&.has-error {
								color: #ed145b;
								border-bottom: 1px solid #ed145b;
							}
						}

						.sso-tooltip-info {
							position: absolute;
							left: 430px;
							font-size: 22px;
							top: 6px;
							cursor: pointer;

							&:before {
								-webkit-text-stroke: 1px #3c3c3c;
							}
						}

						.sso-info-container {
							margin-left: 148px;

							p {
								padding: 0;
								margin: 1px;

								&.sso-text-info {
									line-height: 1.4;
								    font-size: 11px;
								    font-weight: 300;
								    color: #959595;
								}

								&.sso-error-message {
									color: #ed145b;
								    display: block;
								    font-size: 12px;
								    font-weight: 300;
								}
							}

							.sso-available-kn {
							    font-size: 12px;
							    font-weight: 200;

							    .sso-kn-available {
							    	font-weight: 300;
							    	font-size: 12px;
							    	margin-left: 3px;
							    }
							}
						}

						.sso-bubble-tooltip {
							padding: 20px;
							@media (max-width: 375px) {
								width: 250px;
							}
						}

						.sso-relative-pos {
							display: inline-block;
							.fa-eye-slash, .fa-eye {
								margin-left: -25px;
								font-size: 18px;
								cursor: pointer;
								position: absolute;
								top: 5px;
								right: 5px;
							}
						}
					}

					.sso-edit-password {
						.sso-text-container {
							.sso-lbl-update-info {
								width: 170px;
							}

							.sso-text-field {
								width: 260px;
							}

							.sso-info-container {
								margin-left: 183px;

								.password-strength {
									margin-top: 5px;
									width: 260px;
									border: 2px solid #252525;
									position: relative;
									display: none;

									&.weak:before {
										content: '';
										border: 2px solid #ff0000;
										position: absolute;
										width: 86px;
										top: -2px;
										left: -1px;
									}
									&.medium:before {
										content: '';
										border: 2px solid #FF6F20;
										position: absolute;
										width: 160px;
										top: -2px;
										left: -1px;
									}
									&.strong:before {
										content: '';
										border: 2px solid #006911;
										position: absolute;
										width: 260px;
										top: -2px;
										left: -1px;
									}
								}
							}
						}
					}

					.sso-btn-container {
					    padding: 25px 130px 10px;

					    .sso-cancel-update {
					    	margin-right: 20px;
					    }

					    &.sso-btn-birthday {
					    	padding: 25px 0 10px;
						    max-width: 295px;
						    margin: 0 auto;

						    .sso-cancel-update {
						    	margin-right: 10px;
							    text-align: right;
							    display: inline-block;
							    width: 75px;
						    }

						    .sso-btn-update {
						    	width: 150px;
						    }
					    }
					}
				}

				&.sso-active-form {
					display: block;
				}
			}

			.sso-address-info-form-update {
				display: none;
			}
		}
		.sso-form-container {
			padding-top: 20px;

			&.sso-basic-info {
				.sso-forms-windows {
					max-width: 840px;
					margin: 0 auto;
				}
			}
		}
	}
}