.sso-right-content-container {
	.sso-form-container {
		.sso-contact-info {
			border-bottom: 3px solid #363636;
			.sso-e-n-header {
				margin-top: 20px;
				padding: 20px 0;
				cursor: pointer;
				position: relative;

				&:hover {
					background-color: #363636;
				}

				.sso-title-header {
					margin-left: 20px;
				}

				i.fa {
					position: absolute;
					right: 20px;
					font-size: 20px;
		          	cursor: pointer;

		          	&:before {
			            -webkit-text-stroke: 2px #252525;
			        }

			        &:active {
			        	opacity: 0.7;
			        }
				}

				&.border-top-3 {
					margin-top: 0px;
					border-top: 3px solid #363636;
				}
			}
			
			.sso-email-container {
				display: none;
				border-bottom: 3px solid #363636;

				&.sso-mobile-number-container {
					border: none;
				}
			}

			.sso-email-num-item-container {
				border-top: 1px solid #363636;
				padding: 20px 0;
				position: relative;

				&.last-child {
					border-bottom: 1px solid #363636;
					margin-bottom: 20px;
				}

				.sso-email-number-list {
					margin-left: 20px;
					color: #a4a4a4;
				}

				.sso-verify-info-text {
					margin-left: 20px;
					font-size: 12px;
					font-weight: 300;
					color: #ed145b;
					display: inline-block;
				}

				.is-primary {
					position: absolute;
					right: 20px;
	    			color: #00a651;
	    			font-weight: 300;
				}

				.sso-need-verify {
					margin-top: 5px;
				}

				.sso-resend-assign-delete-container, .sso-assign-delete-container {
					position: absolute;
					right: 20px;

					.sso-resend-verification {
						font-size: 14px;
						&:after {
							content: '|';
							display: inline-block;
							margin: 0 5px;
							color: #fff;
						}
					}

					.sso-assign-primary {
						font-size: 14px;
						&:after {
							content: '|';
							display: inline-block;
							margin: 0 5px;
							color: #fff;
						}
					}

					.sso-delete-e-n {
						font-size: 14px;
					}

					.is-primary {
						position: initial;
						&.is-primary-deletable {
		    				font-size: 14px;
							&:after {
								content: '|';
								display: inline-block;
								margin: 0 5px;
								color: #fff;
							}
		    			}
					}
				}
			}

			.sso-add-email, .sso-add-mobile-number {
				margin-bottom: 30px;
				a.sso-a-link {
					font-size: 14px;
					margin-left: 20px;
				}
			}

			.sso-add-mobile-number {
				padding-top: 20px;
    			border-top: 1px solid #363636;
			}
			
			.sso-contant-form-container {
				background-color:  #363636;
				padding: 40px 0 35px;
				margin-bottom: 40px;

				.sso-contact-form {
					width: 360px;
					margin: 0 auto;

					&.sso-width-100-perc {
						width: 100%;
					}

					.sso-form-title {
						text-align: center;
						font-size: 20px;
						font-weight: 500;
						margin: 0;
					}

					.sso-form {
						margin-top: 30px;

						&.overide-margin-top {
							margin-top: 0px;
						}

						.sso-input-container {
							label {
								color: #727272;
								margin-right: 20px;
							}

							.sso-input-text {
								background-color:  #363636;
								color: #fff;
								border: none;
								outline: none;
								border-bottom: 1px solid #464646;
								width: 280px;
								height: 30px;
								font-weight: 100;
								padding-right: 25px;
								font-size: 14px;

								&.has-error {
									color: #ed145b;
									border-bottom: 1px solid #ed145b;
								}

								&.sso-text-m-n {
									width: 225px;
								}

								&.sso-text-m-n-v {
									width: 290px;
								}
							}

							.inline-block {
								position: relative;

								.sso-info-container {
									position: absolute;

									.sso-error-message {
										color: #ed145b;
									    display: block;
									    font-size: 12px;
									    font-weight: 300;
									    text-align: left;
									    margin: 0;
									}
								}
							}
						}

						.sso-btn-container {
							text-align: center;

							.sso-btn-add-save {
								border: none;
								width: 300px;
								height: 50px;
								line-height: 50px;
								display: block;
								cursor: pointer;
								color: #fff;
								border-radius: 1px;
								position: relative;
								font-weight: 600;
								outline: none;
								background-color: #111111;
								font-size: 14px;
								margin: 30px auto 20px;

								&:active {
									opacity: 0.7;
								}
							}

							.loading-container {
								background: rgba(255,255,255, .6);
							    width: 100%;
							    height: 100%;
							    display: block;
							    position: absolute;
							    top: 0;
							    left: 0;

							    img {
							    	vertical-align: middle;
								    width: 25px;
								    height: 25px;
							    }
							}
						}

						.sso-mobile-resend-verification {
							&:active {
								opacity: 0.8;
							}
						}
					}

					.sso-contact-verif-title {
						font-size: 12px;
						text-align: center;
						font-weight: 300;
						display: block;
						color: #959595;
					}

					.sso-contact-verif-info {
						text-align: center;
						font-weight: 200;
						display: block;
						font-size: 12px;
					}
				}
			}

			.sso-lightbox-form {
				position: fixed;
				background-color: rgba(0, 0, 0, .7);
				z-index: 999999;
			    width: 100%;
			    height: 100%;
			    left: 0;
			    top: 0;

			    .sso-contant-form-container {
					box-shadow: 0px 1px 15px 3px #000000;
			    	left: calc(50% - 250px);
			    	top: calc(50% - 150px);
					border-radius: 5px;
					position: fixed;
			    	width: 500px; 
			    }
			}
		}
	}
}