footer {
    position: fixed;
    bottom: 0;
    background-color: #111;
    width: 100%;
    text-align: center;
    z-index: 999999;
    left: 0;

    .sso-copy-right {
        font-size: 12px;
        margin: 0 30px;
    }
}