header.sso-uninav-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    background-color: #000;
    z-index: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    font-family: $font-primary;
    text-align: left;

    .sso-network-uninav {
        height: 30px;
        line-height: 30px;
        margin-left: 20px;
        cursor: pointer;

        // &:after {
        //     content: "\f054";
        //     display: inline-block;
        //     font: normal normal normal 14px/1 FontAwesome;
        //     text-rendering: auto;
        //     -webkit-font-smoothing: antialiased;
        //     -moz-osx-font-smoothing: grayscale;
        //     -webkit-text-stroke: 1px #000;
        //     position: absolute;
        //     margin-left: 5px;
        //     height: 30px;
        //     line-height: 32px;
        //     font-size: 12px;
        // }

        .fa-chevron-right {
            -webkit-text-stroke: 1px #000;
            margin-left: 5px;
        }
    }
}