/////////////////
// Scaffolding //
/////////////////

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-overflow-style: scrollbar;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	min-width: 300px;
	
	position: relative;
	min-height: calc(100% - 45px);
	padding-bottom: 60px;

	background-color: #111111;
	font-family: $font-primary;
	color: #fff;

	main {
		.title {
			.sub-title {
				width: 300px;
				margin: 0 auto !important;
				padding: 0 10px;
			}
		}

		.password-detection {
			display: none;
			height: 3px;
			margin-top: 3px;
			background-color: #ebebeb;
			position: relative;

			&.weak-password {
				display: block;

				&:after {
					position: absolute;
					top: -3px;
					left: 0;
					content: '';
					width: 90px;
					background-color: #bd3a5e;
					height: 3px;
					margin-top: 3px;
				}
			}

			&.medium-password {
				display: block;

				&:after {
					position: absolute;
					top: -3px;
					left: 0;
					content: '';
					width: 180px;
					background-color: #FF6F20;
					height: 3px;
					margin-top: 3px;
				}
			}

			&.strong-password {
				display: block;

				&:after {
					position: absolute;
					top: -3px;
					left: 0;
					content: '';
					width: 270px;
					background-color: #006911;
					height: 3px;
					margin-top: 3px;
				}
			}
		}
	}

	.inputText {
		font-size: 14px;
		width: 200px;
		height: 35px;
	}

	.floating-label {
		position: absolute;
		pointer-events: none;
		left: 0px;
		top: 10px;
		transition: 0.2s ease all;
		color: #ebebeb;
		line-height: 1.4;
		font-weight: 400;
		font-size: 12px;

		&.has-error {
			color: #ed145b;
		}
	}

	.active-input {
		top: -12px;
		bottom: 10px;
		left: 0px;
		font-size: 11px;
		opacity: 1;
	}

	header {
		position: fixed;
		width: 100%;
		height: 55px;
		top: 0;
		z-index: 1000;
		background-color: #111;

		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
		-ms-transition: all .3s linear;
		transition: all .3s linear;

		&.loaded {
			top: 0 !important;
		}

		.uninav-toggler {
			width: 55px;
			height: 55px;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;

			&:before {
				content: '';
				background-image: url(//assets.abs-cbn.com/universalnav/live/img/header-icons.png);
				background-repeat: no-repeat;
				background-size: 215px;
				width: 45px;
				height: 45px;
				background-position: -142px;
				margin-top: 5px;
				display: block;
			}

			&.active:before {
				background-position: -177px 8px;
			}
		}

		.uninav-main {
			&::-webkit-scrollbar {
				display: none;
			}
			display: none;
			background: url(//assets.abs-cbn.com/universalnav/live/img/alpha-90-black.png) left top repeat;
			right: 0;
			left: 0;
			border-top: 1px solid #2f2f2f;
			text-align: center;

			font-size: 14px;
			// max-height: 350px; // fallback
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			transition: top .5s;
			padding-bottom: 50px;

			position: fixed;
			z-index: 10000;
			overflow-y: auto;

			ul {
				margin-left: 0;
				padding-left: 0;

				&, li {
					list-style: none;
				}
			}

			.uninav-main-heading {
				line-height: 1.8em;
			}

			.uninav-main-links {
				margin-top: 20px;
				text-align: left;
			}

			.uninav-main-divider {
				border-top: 1px solid #2f2f2f;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}

			.uninav-main-links {
				margin-top: 20px;

				ol ol, ol ul, ul ol, ul ul {
					font-size: inherit; // sports fix
				}

				ul {
					margin-top: 0;
					margin-bottom: 2em;
				}

				li {
					margin-bottom: 0;
				}

				a {
					font-size: 1em;
					text-transform: uppercase;
					padding-top: 8px;
					padding-bottom: 8px;
					display: block;
					text-decoration: none;
					padding-left: 9%;
					padding-right: 10%;
					line-height: 1.2;

					&, &:visited {
							color: #fff;
					}
					&.active {
							color: #d9232e;
							font-weight: 900;
							&:hover {
									text-decoration: none !important;
							}
					}
					&:hover {
							text-decoration: underline;
					}
					br {
							display: none;
					}
				}
			}
		}
	}
}

main.main {
	position: relative;

	section.sso-body-container {
		background-color: #252525;

		width: calc(100% - 400px);
		height: calc(100% - 30px);
		left: 400px;
		top: 30px;
		position: fixed;
		// overflow-y: auto;
	}
}

.sso-line {
	border: none;
	width: 90%;
	border-bottom: 1px solid #252525;
}

.sso-a-link {
	font-size: 12px;
	color: #00bff3;
	text-decoration: none;
	cursor: pointer;
	margin: 5px 0;
	font-weight: 300;

	&:hover {
		text-decoration: underline;
	}
}

.overide-font-size-14 {
	font-size: 14px;
}

.sso-content-title {
	border-top: 1px solid #363636;
	border-bottom: 1px solid #363636;
	height: 55px;
	line-height: 55px;
	font-weight: 400;
	color: #727272;
	font-size: 20px;
}

.sso-form-container {
	// height: calc(100% - 60px);
	// overflow-y: auto;
	// overflowx: hidden;
	padding-bottom: 30px;

	&.sso-basic-info {
		// height: calc(100% - 50px);
	}

	&.sso-saved-form {
		// height: calc(100% - 130px);
	}
}

.sso-btn-update {
	border: none;
	width: 160px;
	height: 55px;
	line-height: 55px;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	border-radius: 1px;
	position: relative;
	font-weight: 600;
	outline: none;
	background-color: #111111;
	position: relative;

	&:active {
		opacity: 0.7;
	}
}

.dropdown {
	&.v-select {
		display: inline-block;
	    width: 150px;
	    height: 35px;
	    border: 1px solid #464646;
	    line-height: 35px;
	    position: absolute;
	    margin-left: 5px;

	    .dropdown-toggle {
	    	position: relative;
	    	border: none;

	    	.selected-tag {
	    		color: #fff;
	    		border: none;
			    border-radius: 0;
			    height: auto;
			    margin: 0 5px;
			    padding: 0;
			    float: none;
			    line-height: 1.4;
			    position: initial !important;
			    text-indent: 5px;
    			codisplay: inline-block;
	    	}

	    	input[type=search] {
	    		color: #fff;
	    		width: 100% !important;
	    	}

	    	.clear {
	    		display: none;
	    	}

	    	.open-indicator {
	    	    width: 20px;
			    height: 33px;
			    border-left: 1px solid #464646;
			    position: absolute;
			    top: 0;

		    	&:before {
			    	border-color: #fff;
			    	margin-top: 9px;
    				margin-left: 10px;
    				border-width: 2px 2px 0 0;
    				transform: rotate(133deg) !important;
			    }
		    }
	    }

	    .dropdown-menu {
	    	display: inline-block;
	    	border: 1px solid #464646;
			background-color: #111;
	    	min-width: 150px;
	    	left: -1px;
	    	border-radius: 0;
	    	max-height: 200px !important;

			li {
				height: 30px;
				line-height: 30px;
				cursor: pointer;
				color: #fff;

				a {
					color: #fff;
				}

				&.active > a { pointer-events: none; }

				&.highlight a {
					background-color: #252525;

					&:hover {
						background-color: transparent;
						background-color: #252525;
					}
				}

				&.active a {
					background-color: #252525;
					color: #fff;

					&:hover {
						background-color: #252525;
					}
				}
			}
	    }
	}

	&.sso-cable-provider {
		margin-top: 10px;
		width: 100%;
		position: absolute;
		margin-left: 0px;

		.dropdown-toggle {
			.selected-tag {
				display: inline-block;
			    height: 16px;
			    line-height: 16px;
			    margin-top: 9px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    width: 85%;
			}
		}

		&.has-error {
			border: 1px solid #ed145b !important;
			.dropdown-toggle {
				.selected-tag {
					color: #ed145b !important;;
				}
			}
		}
	}
}


.sso-country {
	.dropdown {
		&.v-select {
			width: 250px;

			.selected-tag {
				height: 35px;
			    overflow: hidden;
			    display: inline-block;
			    line-height: 35px;
			    width: 210px;
			}

			.dropdown-menu {
				min-width: 250px;
			}
		}
	}
}

.sso-dropdown-container {
	display: inline-block;
	width: 150px;
	height: 35px;
	border: 1px solid #464646;
	line-height: 35px;
	position: relative;

	.dd-input-container {
		cursor: pointer;
		
		.sso-dd-val {
			text-indent: 10px;
			display: inline-block;
			width: 120px;
		}

		.fa-chevron-down {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 30px;
			height: 34px;
			border-left: 1px solid #464646;
			line-height: 33px;
			text-align: center;

			&:before {
				-webkit-text-stroke: 2px #363636;
			}
		}
	}

	.dd-list-container {
		position: absolute;
		height: 150px;
		overflow: auto;
		width: 150px;
		border: 1px solid #464646;
		background-color: #111;
		z-index: 5;
		left: -1px;
		display: none;

		&.sso-gender {
			height: 62px;
		}

		&.active-dd {
			display: block;						
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				text-indent: 10px;
				height: 30px;
				line-height: 30px;
				cursor: pointer;
				color: #727272;

				&:hover {
					background-color: #252525;
					color: #fff;
				}
			}
		}
	}
}

.saving-image-container {
	position: absolute;
	position: absolute;
    top: 0;
    width: 140px;
    height: 40px;
    text-align: center;
    left: 13px;
    background: rgba(175, 175, 175, .5);
    z-index: 3;

	.saving-image {
		width: 20px;
		height: 20px;
		margin-top: 9px;
	}
}


.sso-right-content-container {
    height: calc(100% - 15px);
    margin: 0 20px;
    padding-bottom: 30px;


    .sso-address-overide {
    	border-bottom: none;
    	margin-bottom: 0px;
    }

    .sso-overide-b-b {
    	border-bottom: none;
    	margin-bottom: 0px;
    }

    .sso-no-address, .sso-no-saved, .sso-has-saved, .sso-subs {
		border-bottom: 1px solid #363636;
	    line-height: 1.6;
	    font-weight: 200;
	    color: #fff;
	    font-size: 12px;
	    margin: 0;
	    padding: 0 0 1em;

	    span {
	    	font-weight: 500;
	    }
	}
}

.visible-xs {
	display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.sso-tooltip {
	position: absolute;
    z-index: 1000;
    color: #444;
    padding: 8px;
    border: 1px solid #bfcfda;
    background-color: #f3f5f6;
    box-shadow: inset 0px 0px 2px 0px #bfcfda;
    width: 290px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    &:after {
    	content: ' ';
	    display: block;
	    position: absolute;
	    background-image: url(//assets.abs-cbn.com/sso/images/triangle_down.png);
	    background-size: 100% 100%;
	    background-color: transparent;
	    border: 0;
	    right: 23px;
	    bottom: -9px;
	    height: 10px;
	    width: 15px;
    }

    &.sso-abs-cbn-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -122px;
    	left: 130px;
    	display: none;

    	&:after {
    		right: 80%;
    	}

    	@media (max-width: 820px) {
    		left: 20px;

	    	&:after {
	    		right: 35%;
	    	}
    	}
    }

    &.sso-tvplus-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -105px;
    	left: 61px;
    	display: none;

    	&:after {
    		right: 56%;
    	}

    	@media (max-width: 820px) {
    		left: 20px;

	    	&:after {
	    		right: 39%;
	    	}
    	}
    }

    &.sso-sky-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -122px;
    	left: 29px;
    	display: none;

    	&:after {
    		right: 80%;
    	}

    	@media (max-width: 820px) {
    		left: 20px;

	    	&:after {
	    		right: 76%;
	    	}
    	}
    }

    &.sso-tfc-iptv-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -122px;
    	left: 61px;
    	display: none;

    	&:after {
    		right: 185px;
    	}

    	@media (max-width: 768px) {
    		left: 38px;

	    	&:after {
	    		right: 162px;
	    	}
    	}

    	@media (max-width: 420px) {
    		left: 20px;

	    	&:after {
	    		right: 144px;
	    	}
    	}
    }


    &.sso-tfc-eu-tooltip {
    	padding: 20px 10px;
        top: -132px;
    	left: 83px;
    	width: 285px;
    	text-align: center;
    	display: none;

    	a {
    		font-size: 12px;
    		display: block;
    		font-weight: 300;
    	}

    	&:after {
    		right: 55%;
    	}
    	
    	@media (max-width: 820px) {
    		left: 47px;

	    	&:after {
	    		right: 120px;
	    	}
    	}

    	@media (max-width: 768px) {
    		left: 20px;

	    	&:after {
	    		right: 93px;
	    	}
    	}

    	@media (max-width: 420px) {
    		left: 30px;

	    	&:after {
	    		right: 103px;
	    	}
    	}

    	@media (max-width: 360px) {
    		left: 10px;

	    	&:after {
	    		right: 83px;
	    	}
    	}
    }

    &.sso-tfc-online-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -123px;
    	left: 80px;
    	display: none;

    	&:after {
    		right: 80%;
    	}

    	@media (max-width: 768px) {
    		left: 38px;

	    	&:after {
	    		right: 63%;
	    	}
    	}

    	@media (max-width: 420px) {
    		left: 20px;

	    	&:after {
	    		right: 138px;
	    	}
    	}
    }

    &.sso-tfc-cable-satelite-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -123px;
    	left: 80px;
    	display: none;

    	&:after {
    		right: 125px;
    	}

    	@media (max-width: 768px) {
    		left: 38px;

	    	&:after {
	    		right: 84px;
	    	}
    	}

    	@media (max-width: 420px) {
    		left: 20px;

	    	&:after {
	    		right: 66px;
	    	}
    	}
    }

    &.sso-tfc-osn-tooltip {
    	width: 250px;
    	padding: 20px 10px;
        top: -105px;
    	left: 61px;
    	display: none;

    	&:after {
    		right: 185px;
    	}

    	@media (max-width: 768px) {
    		left: 38px;

	    	&:after {
	    		right: 162px;
	    	}
    	}

    	@media (max-width: 420px) {
    		left: 20px;

	    	&:after {
	    		right: 144px;
	    	}
    	}
    }
}

input:-webkit-autofill {
	background: #363636 !important;
}

//////////////////
// Basic Layout //
//////////////////

header {

}

aside {

}

footer {

}


/////////////
// Content //
/////////////
