///////////////////
// Media Queries //
///////////////////
@media (max-width: 1200px) {
	main.main {
		position: relative;
		.sso-on-boarding-appmenu {
			left: 0 !important;
			width: 100% !important;
		}
		section.sso-body-container {
			background-color: #252525;

			width: calc(100% - 320px);
			height: calc(100% - 30px);
			left: 320px;
			top: 30px;
			z-index: 2;
			position: fixed;

			.sso-main-content {
				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
						width: 100%;
					}

					.sso-edit-container {
					    position: absolute;
					    right: 20px;
					    top: 14px;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;

								&.sso-lbl-country-info {
								    width: 60px;
								}
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.sso-on-boarding-sidemenu {
		display: none;
	}
	.sso-sidebar-menu {
		width: 320px;
		z-index: 2;

		.sso-menu-container {
			ul.sso-menu {
				padding-left: 15px;

				li {
					
				}
			}
		}
	}
}

@media (max-width: 1110px) {
	.overide-pull-right {
    	float: left !important;
  	}

    .sso-right-content-container {
    	.sso-form-container {
			.sso-contact-info {
				.sso-email-num-item-container {
					.sso-resend-assign-delete-container {
						display: block;
					    margin-left: 20px;
					    margin-top: 5px;
					    position: initial;
					}
				}
			}
		}
    }
}

@media (max-width: 1024px) {
	main.main {
		position: relative;

		section.sso-body-container {
			background-color: #252525;

			width: calc(100% - 320px);
			height: calc(100% - 30px);
			left: 320px;
			top: 30px;
			z-index: 2;
			position: fixed;

			.sso-main-content {
				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
						width: 100%;
					}

					.sso-edit-container {
					    position: absolute;
					    right: 20px;
					    top: 14px;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;

								&.sso-lbl-country-info {
								    width: 60px;
								}
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.sso-sidebar-menu {
		width: 320px;
		z-index: 2;

		.sso-menu-container {
			ul.sso-menu {
				padding-left: 15px;

				li {
					
				}
			}
		}
	}
}

@media (max-width: 980px) {
	main.main {
		position: relative;

		section.sso-body-container {
			background-color: #252525;

			width: calc(100% - 320px);
			height: calc(100% - 30px);
			left: 320px;
			top: 30px;
			z-index: 2;
			position: fixed;

			.sso-main-content {
				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
						width: 100%;
					}

					.sso-edit-container {
					    position: absolute;
					    right: 20px;
					    top: 14px;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;

								&.sso-lbl-country-info {
								    width: 60px;
								}
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}
			}
		}
	}

	.sso-sidebar-menu {
		width: 320px;
		z-index: 2;

		.sso-menu-container {
			ul.sso-menu {
				padding-left: 15px;

				li {
					
				}
			}
		}
	}
}

@media (max-width: 990px) {
	main.main {
		section.sso-body-container {
			.sso-main-content {
				.sso-address-info-form-update {
					.sso-address-update {
						width: 300px;

						.sso-text-container {
							label {
								text-align: left;
							}
						}

						.sso-btn-container {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 940px) {
	main.main {
		position: relative;

		section.sso-body-container {
			background-color: #252525;

			width: calc(100% - 320px);
			height: calc(100% - 30px);
			left: 320px;
			top: 30px;
			z-index: 2;
			position: fixed;
			// overflow-y: auto;

			.sso-main-content {
				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}
			}
		}

		.sso-right-content-container.sso-saved {
			.sso-has-saved {
				padding-right: 0px !important;
			}

			.sso-saved-filter-container {
				.sso-saved-filter {
					right: 0;
				}
			}
		}

		.sso-right-content-container {
			&.sso-saved {
				.sso-form-container {
					.sso-saved-list-container {
						width: 180px;
			    		margin: 0 auto;
			    	}
					
					.sso-saved-content {
		    			width: 100%;

		    			.sso-saved-info-container {
		    				width: 100%;
		    				padding: 0;
		    				margin-top: 15px;
		    			}
		    		}
				}
			}
		}

		.sso-right-content-container {
			.sso-form-container {
				&.sso-accounts-form-container {
					// height: calc(100% - 80px);
				}
				.sso-accounts-info {
					.sso-accounts-list-container {
						&.sso-accounts-mobile, &.sso-accounts-sky, &.sso-accounts-tvplus {
							.sso-account-form-container {
								.sso-account-form {
									width: 280px;

									.sso-form {
										.sso-input-container {
											label {
												display: block;
												text-align: left;
											}
										}

										.sso-btn-container {
											.sso-btn-add-save {
												width: 280px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.dropdown.v-select {
		position: relative;
    	margin-left: 0px;
	}
	.v-select input[type=search] {
		position: absolute !important;
	}

	main.main .sso-right-content-container.sso-saved .sso-saved-filter-container .sso-saved-filter {
	    right: 0;
	    width: 100%;
	}
}

@media (max-width: 920px) {
	.overide-pull-right {
    	float: left !important;
  	}

    .sso-right-content-container {
    	.sso-form-container {
			.sso-contact-info {
				.sso-email-num-item-container {
					.sso-assign-delete-container {
						display: block;
					    margin-left: 20px;
					    margin-top: 5px;
					    position: initial;
					}
				}
			}

			.sso-edit-address .sso-address-info {
			    display: inline-block;
			    text-align: left;
			    width: calc(100% - 60px);
			    font-weight: 100;
			}
		}
    }
}

@media (max-width: 900px) {
	main.main {
		.sso-right-content-container {
			.sso-form-container {
				&.sso-accounts-form-container {
					// height: calc(100% - 80px);
				}
				.sso-accounts-info {
					.sso-accounts-list-container {
						&.sso-accounts-mobile, 
						&.sso-accounts-sky, 
						&.sso-accounts-tvplus, 
						&.sso-accounts-iptv, 
						&.sso-accounts-tfc, 
						&.sso-accounts-osn, 
						&.sso-accounts-direct-tv,
						&.sso-accounts-cable-satelite,
						&.sso-accounts-cable {
							.sso-account-form-container {
								.sso-account-form {
									width: 280px;
									max-width: 90%;

									.sso-form {
										.sso-input-container {
											margin: 0 auto 20px;
    										width: 260px;

											label {
												display: block;
												text-align: left;

												&.sso-view-card-number-label {
													width: 100%;
												}
											}

											.sso-input-text {
												width: 260px;
												max-width: 100%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Medium devices
@media (max-width: $screen-sm) {
	main.main {
		position: relative;

		section.sso-body-container {
			background-color: #252525;

			width: calc(100% - 320px);
			height: calc(100% - 30px);
			left: 320px;
			top: 30px;
			z-index: 2;
			position: fixed;
			// overflow-y: auto;

			.sso-main-content {
				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}

				.sso-address-info-form-update {
					.sso-address-update {
						width: 300px;

						.sso-text-container {
							label {
								text-align: left;
							}
						}

						.sso-btn-container {
							text-align: center;
						}
					}
				}
			}
		}

		.sso-right-content-container.sso-saved {
			.sso-has-saved {
				padding-right: 0px !important;
			}

			.sso-saved-filter-container {
				.sso-saved-filter {
					width: 100%;
					right: 0;
				}
			}
		}

		.sso-right-content-container {
			&.sso-saved {
				.sso-form-container {
					.sso-saved-list-container {
						width: 180px;
			    		margin: 0 auto;
			    	}
					
					.sso-saved-content {
		    			width: 100%;

		    			.sso-saved-info-container {
		    				width: 100%;
		    				padding: 0;
		    				margin-top: 15px;
		    			}
		    		}
				}
			}

			.sso-form-container {
				.sso-contact-info {
					.sso-contant-form-container {
						.sso-contact-form {
							width: 300px;

							.sso-form {
								.sso-input-container {
									.sso-input-text.sso-text-m-n {
										width: 280px;
									}
								}
							}
						}
					}
				}
			}
		}

		.sso-right-content-container {
			.sso-form-container {
				&.sso-accounts-form-container {
					// height: calc(100% - 80px);
				}
				.sso-accounts-info {
					.sso-accounts-list-container {
						&.sso-accounts-mobile, 
						&.sso-accounts-sky, 
						&.sso-accounts-tvplus, 
						&.sso-accounts-iptv, 
						&.sso-accounts-tfc, 
						&.sso-accounts-osn, 
						&.sso-accounts-direct-tv,
						&.sso-accounts-cable-satelite,
						&.sso-accounts-cable {
							.sso-account-form-container {
								.sso-account-form {
									width: 280px;
									max-width: 90%;

									.sso-form {
										.sso-input-container {
											margin: 0 auto 20px;
    										width: 260px;

											label {
												display: block;
												text-align: left;

												&.sso-view-card-number-label {
													width: 100%;
												}
											}

											.sso-input-text {
												width: 260px;
												max-width: 100%;
											}
										}

										.sso-btn-container {
											.sso-btn-add-save {
												width: 280px;
												max-width: 90%;
											}
										}
									}
								}
							}

							.sso-lightbox-form {
								.sso-account-form-container {
									width: 80%;
						    		left: calc(50% - 40%);

						    		&.sso-other-info {
						    			width: 300px;
						    			left: calc(50% - 150px);
						    			top: calc(50% - 130px);
						    		}
								}
							}
						}
					}
				}
			}
		}
	}

	.sso-sidebar-menu {
		width: 320px;
		z-index: 2;

		.sso-menu-container {
			ul.sso-menu {
				padding-left: 15px;

				li {
					
				}
			}
		}
	}

	.dropdown.v-select {
		position: relative;
    	margin-left: 0px;
	}

	.v-select input[type=search] {
		position: absolute !important;
	}
}

@media (max-width: 736px) {
	.hidden-desktop {
		display:block;

		&.sso-proceed {
			float: right;
    		margin-right: 20px;
		}
	}

	.hidden-mobile {
		display: none;
	}

	main.main {
		position: relative;
	
		section.sso-body-container {
			background-color: #252525;

			width: 100%;
			height: calc(100% - 30px);
			left: 0;
			top: 30px;
			z-index: 2;
			position: fixed;
			// overflow-y: auto;

			.sso-main-content {
				padding: 20px 0px;

				.back-to-menu {
					position: absolute;
					cursor: pointer;
				}

				.sso-info-field {
					height: 85px;
					line-height: 1.4;

					.sso-info {
						margin-left: 25px;
						display: block;
					}

					.sso-lbl-info {
						margin: 15px 0;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 240px;
						margin: 0 auto;
						.sso-text-container {
							.sso-lbl-update-info {
								text-align: left;
								margin-bottom: 20px;
							}

							.sso-text-field {
								width: 240px;
								margin: 0 auto;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 220px;
							}

							.sso-info-container {
								margin-left: 0;
							}
						}

						.sso-btn-container {
							padding: 30px 0 20px;
							text-align: center;
						}
					}
				}
			}
		}

		.sso-right-content-container {
			.sso-form-container {
				&.sso-contact-form-container {
					// height: calc(100% - 80px);
				}

				.sso-contact-info {
					margin-bottom: 20px;

					.sso-email-num-item-container {
						&.last-child {
							border-bottom: 1px solid #363636;
							margin-bottom: 20px;
						}

						.is-primary {
							position: initial;
							display: block;
							margin: 15px 20px 0px;

							&.is-primary.is-primary-deletable {
								margin: 10px 0px;
								&:after {
						    		display: none;
						    	}
							}
						}

						.sso-resend-assign-delete-container, .sso-assign-delete-container {
						    .sso-resend-verification {
						    	margin-top: 10px;
						    	display: block;
						    	&:after {
						    		display: none;
						    	}
						    }

						    .sso-assign-primary {
						    	margin-top: 10px;
						    	display: block;

						    	&:after {
						    		display: none;
						    	}
						    }

						    .sso-delete-e-n {
						    	margin-top: 10px;
						    	display: block;
						    }
						}
					}
					.sso-contant-form-container {
						.sso-contact-form {
							width: 250px;
							.sso-form {
								.sso-input-container {
									label {
										display: block;
										margin-bottom: 10px;
									}

									.sso-input-text {
										width: 250px;
									}
								}

								.sso-btn-container {
									.sso-btn-add-save {
										width: 250px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.sso-sidebar-menu {
		background-color: #111;
		width: 100%;
		z-index: 3;
		left: 0;

		transition: left .5s;
		
		&.inactive {
			transition: .5s;
      		left: -100%;
		}

		.sso-menu-container {
			ul.sso-menu {
				padding-left: 30px;
				padding-bottom: 40px;

				li {
					position: relative;

					&.active {
						background-color: #111111;
					}

					.fa-angle-right {
						position: absolute;
						right: 40px;
						top: calc(50% - 11px);
						font-size: 22px;
					}
				}
			}
		}
	}

	.visible-xs {
		display: block;
	}

	.sso-form-container.sso-saved-form {
		// height: calc(100% - 210px);
	}
}

@media (max-width: 420px) {
	main.main {
		.sso-right-content-container.sso-saved {
			.sso-saved-filter-container {
				.sso-saved-filter {
					width: 100%;
				}
			}
		}
		section.sso-body-container .sso-main-content .sso-info-field {
			.sso-info {
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}
	}
}

@media (max-width: 375px) {
	main.main {
		.sso-right-content-container.sso-saved {
			.sso-saved-filter-container {
				.sso-saved-filter {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 375px) {
	main.main {
		.sso-right-content-container.sso-saved {
			.sso-saved-filter-container {
				.sso-saved-filter {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 365px) {
	main.main section.sso-body-container .sso-main-content .sso-info-field .sso-edit-container {
	    position: absolute;
	    right: 10px;
	    top: 14px;
	}
}

// Small devices
@media (max-width: $screen-xs) {
	.sso-form-container.sso-saved-form {
		// height: calc(100% - 250px);
	}

	main.main {

		section.sso-body-container {
			.sso-main-content {
				padding: 20px 0px;

				.sso-info-field {
					text-indent: 0;
					.sso-info {
						margin-left: 10px;
					}
				}

				.sso-basic-info-form-update {
					.sso-form-update {
						width: 220px;

						.sso-text-container {
							.sso-text-field {
								width: 220px;
							}

							.sso-tooltip-info {
								top: 52px;
								left: 200px;
							}
						}

						.sso-btn-container {
							text-align: center;
							.sso-cancel-update {
								margin-right: 8px;
							}

							&.sso-btn-birthday {
								.sso-cancel-update {
									width: initial;
								}
							}
							.sso-btn-update {
								width: 160px;
								height: 45px;
								line-height: 45px;
							}
						}

						.sso-gender {
							.dropdown {
								width: 130px;
							}
						}
					}
				}

				.sso-address-info-form-update {
					.sso-address-update {
						width: 280px;

						.sso-text-container {
							label {
								text-align: left;
							}
						}

						.sso-btn-container {
							text-align: center;
						}
					}
				}
			}
		}

		.sso-right-content-container {
			.sso-form-container {
				&.sso-accounts-form-container {
					// height: calc(100% - 80px);
				}
				.sso-accounts-info {
					.sso-accounts-list-container {
						&.sso-accounts-mobile, &.sso-accounts-sky, &.sso-accounts-tvplus, &.sso-accounts-iptv, &.sso-accounts-tfc, &.sso-accounts-osn, &.sso-accounts-direct-tv, &.sso-accounts-cable {
							.sso-account-form-container {
								.sso-account-form {
									// width: 240px;
									.sso-form {
										.sso-input-container {
											label {
												display: block;
												text-align: left;
											}

											.sso-input-text {
												width: 240px;
											}
										}

										.sso-btn-container {
											.sso-btn-add-save {
												width: 240px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.sso-right-content-container.sso-saved {
			.sso-saved-filter-container {
				.sso-saved-filter {
					width: 100%;
				}
			}
		}
	}
	
	.sso-country .dropdown.v-select {
	    width: 220px;
	}
}

@media (min-width: $screen-md) {
	
}

@media (min-width: $screen-lg) {
	
}
