#beacon-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  margin-top: -22px;

  i {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .circle {
    border-radius: 50%;
    border: 2px solid #0b8279;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s linear infinite;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  
}
  
@keyframes scaleIn {
  0% {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  25% {
    opacity: 0.75;
    width: 30px;
    height: 30px;
  }
  50% {
    opacity: 0.50;
    width: 50px;
    height: 50px;
  }
  75% {
    opacity: 0.25;
    width: 60px;
    height: 60px;
  }
  100% {
    opacity: 0;
    height: 70px;
    width: 70px;
  }
}

.ob-address-container .form-container .field-container .sso-text-field::-webkit-input-placeholder,
.vdpWithInput input::-webkit-input-placeholder,
.v-step-list-containers::-webkit-input-placeholder,
.sso-email-field::-webkit-input-placeholder,
.verif-code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}

.ob-address-container .form-container .field-container .sso-text-field::-moz-placeholder,
.vdpWithInput input::-moz-placeholder,
.v-step-list-containers::-moz-placeholder,
.sso-email-field::-moz-placeholder,
.verif-code::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}

.ob-address-container .form-container .field-container .sso-text-field:-ms-input-placeholder,
.vdpWithInput input:-ms-input-placeholder,
.v-step-list-containers:-ms-input-placeholder,
.sso-email-field:-ms-input-placeholder,
.verif-code:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}

.ob-address-container .form-container .field-container .sso-text-field:-moz-placeholder,
.vdpWithInput input:-moz-placeholder,
.v-step-list-containers:-moz-placeholder ,
.sso-email-field:-moz-placeholder 
.verif-code:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

.ob-mr {
  margin-right: 5px;
}


@media (max-width: 1200px) {
}


@media (max-width: 768px) {
  .ob-email-container,
  .ob-mobile-container,
  .ob-kn-container,
  .ob-birthdate-container
  {
    display: grid;
    .form-title {
      padding: 0;
      height: 40px;
    }
    .form-container {
      margin-bottom: 10px;
    } 
  }

  .ob-email-container,
  .ob-gender-container,
  .ob-kn-container,
  .ob-birthdate-container
  {
    .form-indicator {
      margin-top: -78px;      
      #beacon-container {
        // right: 0;
      }
    }
  }
  .ob-mobile-container {
    .form-indicator {
        #beacon-container {
            margin-top: -55px;      
        }
        .tooltip-container {
            top: 220px;
            right: 50px;
        }
      }
  }

  .ob-address-container {
    .form-title {
      padding-left : 0;
    }
    
    .form-container {
        .first-container {
            margin-top: 50px;
        }
    }

    .form-indicator {
      #beacon-container {
        right: -14px;
      }
    }
  }


  .ob-birthdate-container { 
    .form-container {
      .vdpComponent {
        margin-bottom: 20px;
      }
      .back {
        margin-top: 35px;
      }
      .sso-btn-update {
        margin-top: 100px;
        // margin-left: 50px;
      }

    //   .sso-mt-bd-icon {
    //     top: -18px;
    //     right: 52px;
    //   }

      .sso-mt-bd-icon {
            top: -2px;
            right: 7px;
        }
    }
    // .form-indicator {
    //   // display: none;
    //   // margin-top: -90px;
    //   margin-top: -69px;

    //   .tooltip-container {
    //     top: 475px;
    //   }
    // }
    .tooltip-container {
      // top: 386px;
    }

    
    .form-indicator {
        #beacon-container {
            margin-top: 3px;
        }
        .tooltip-container {
            top: 522px;
        }
    }
  }

  .ob-gender-container {
    display: grid;    
    .form-title {
      padding-left: 0;
    }
    .form-container {
      .input-fields {
        // margin-top: 20px;
        .radio-container {
          .radio-name {
            top: -7px;
            font-size: 14px;
          }
          .checkmark {
            top: 0;
          }
          .checkmark {
            height: 18px;
            width: 18px;
          }
        }
      }
      .back {
        margin-top: 20px;
      }
      .sso-btn-update {
        margin-top: 100px;
      }
    }

  }

  .ob-address-container {
    .form-container {
      .field-container {
        display: grid;
        height: auto;
        .label-container {
          width: 100%;
          line-height: 3;
          text-align: left;
        }
        .input-container {
          margin-left: 0;
          .sso-text-field {
            margin-top: 0;
            padding-right:0;
            margin-bottom: 10px;
          }
        }
      }
    }
    .form-indicator {
      #beacon-container {
        right: 19px;
      }
    }
  }

  .v-step-warp-horizontal {
    .v-step-list {
      display: inline-flex;
      margin-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .ob-email-container,
  .ob-mobile-container,
  .ob-kn-container,
  .ob-birthdate-container,
  .ob-gender-container,
  .ob-address-container
  {
    .form-indicator {
      #beacon-container {
        
        right: 19px;
      }
    }
  }

    .ob-mobile-container {
        .form-indicator {
            #beacon-container {
                // margin-top: 15px;
            }
            .tooltip-container {
                top: 269px;
                right: 49px;
            }
        }
    }


  .ob-birthdate-container {
      .form-container {
            .sso-mt-bd-icon {
                top: -2px;
                right: 7px;
            }
        }
        .form-indicator {
            .tooltip-container {
                top: 258px;
                right: 6px;
            }
            .tooltip-container:after {
                right: 20px;
            }
        }
  }
}

@media (max-width: 736px) {

    .ob-email-container,
    .ob-mobile-container,
    .ob-gender-container,
    .ob-kn-container,
    .ob-birthdate-container
    {
        .form-indicator {
        margin-top: -78px;      
        #beacon-container {
            right: -15px;
        }
        }
    }

    .ob-mobile-container {
        .form-indicator {
            #beacon-container {
                margin-top: 15px;
            }
            .tooltip-container {
                top: 258px;
                right: 15px;
            }
        }
    }

    .ob-birthdate-container {
        .form-container {
            .sso-btn-update {
                // margin-top: 100px;
                // left: calc(50% - 175px);
            }
            .sso-mt-bd-icon {
                top: -8px;
                right: 7px;
            }
        }
        .form-indicator {
            margin-top: -69px;
            #beacon-container {
                margin-top: 5px;
            }
            .tooltip-container {
                top: 522px;
                right: 16px;
            }
        }
    }

    .ob-address-container {
        .form-indicator {
        margin-top: 10px;
        #beacon-container {
            right: -15px;
        }
        }
    }
}

@media (max-width: 580px) {
    .ob-mobile-container {
        .form-container {
            margin-bottom : 0;
            .input-fields  {
                display: grid;
                
            }

            .sso-btn-link {
                margin-top: 170px;
                // margin-left: 75px;
            }

            .sso-btn-update {
                margin-top: 230px;
            }

            .verif-code-mobile {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .verif-code-desktop { 
                display: none;
            }
        }
        .form-indicator {
            .tooltip-container {
                right: 15px;
            }
          }
    }

    .sso-skip-lightbox-form {
        .sso-contant-form-container {
            left: calc(50% - 200px);
            width: 400px;
        }

    }
}


@media (max-width:  457px) {
    .ob-mobile-container {
        .form-indicator {
            .tooltip-container {
                right: 15px;
            }
          }
      }
    .ob-mobile-container {
        .form-container {
            .verif-code-mobile {
                width: 91%;
            }
        }
    }

    .sso-skip-lightbox-form {
        .sso-contant-form-container {
            left: calc(50% - 150px);
            width: 300px;

            .sso-contact-form {
                .sso-form {
                    .sso-btn-container {
                        .sso-btn-add-save {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 420px) {
  .ob-birthdate-container {
    .form-container {
      .sso-mt-bd-icon {
        top: 0;
        right: 8px;
      }
    }
    .form-indicator {
      margin-top: -88px;
      .tooltip-container {
        top: 502px;
        right: 15px;
      }
    }
  }
}

@media (max-width: 419px) {
    .ob-mobile-container {
        .form-container {
            .verif-code-mobile {
                width: 67%;
            }
        }
        .form-indicator {
            .tooltip-container {
                top: 258px;
                right: 6px;
            }
            .tooltip-container:after {
                right: 20px;
            }
        }
    }
}
@media (max-width: 321px) {
    .ob-mobile-container {
        .form-container {
            .verif-code-mobile {
                width: 67%;
            }
        }
        .form-indicator {
            .tooltip-container {
                top: 258px;
                right: 6px;
            }
            .tooltip-container:after {
                right: 20px;
            }
        }
    }
    .ob-birthdate-container {
        .form-container {
            .sso-btn-update {
                // margin-top: 100px;
                left: calc(50% - 115px);
            }
        }
        .form-indicator {
            .tooltip-container {
                top: 502px;
                right: 6px;
            }
            .tooltip-container:after {
                right: 22px;
            }
        }
    }
}