.sso-right-content-container.sso-saved {
	position: relative;
	.sso-saved-loading-delete {
		position: absolute;
	    height: 100%;
	    width: 100%;

		.sso-loader {
			position: absolute;
		}
		.loading-delete {
			width: 20px;
			height: 20px;
			position: absolute;
			top: calc(50% - 20px);
			left: calc(50% - 20px);
		}
	}
	.sso-saved-container {
		height: calc(100% - 30px);
	}

	.sso-has-saved {
		padding-right: 100px !important;
	}

	.sso-saved-filter-container {
		height: 50px;
		margin-top: 30px;
		position: relative;

		.sso-saved-filter {
			right: 50px;
			width: 280px;
			background-color: #252525;
		}
	}

	.sso-form-container {
		margin: 0 30px;

		.sso-saved-content {
			width: 50%;
			margin-top: 25px;

			.sso-saved-photos {
				width: 175px;
				height: 115px;
				border: 2px solid #fff;
				overflow: hidden;
				margin-right: 20px;
				margin-bottom: 15px;

				img {
					max-width: 100%;
				}
			}

			.sso-saved-info-container {
			    width: 175px;

			    .sso-saved-site {
					text-transform: uppercase;
					background-color: #000;
					color: #fff;
					font-weight: 300;
					text-align: center;
					padding: 7px 15px;
					display: inline-block;
					font-size: 12px;
				}

				.sso-saved-info {
					font-size: 12px;
					font-weight: 300;
					line-height: 1.5;

					.sso-last-saved {
						color: #898989;
						margin-top: 8px;
						margin-bottom: 0px;
					}

					.sso-saved-title {
						margin-top: 3px;
						margin-bottom: 3px;
						font-weight: 200;
					    color: #fff;
					}
				}
			}
		}

		.sso-load-more {
			text-align: center;
    		padding: 80px 0 5px;
    		clear: both;
    		position: relative;

    		.load-more-loading {
    			width: 15px;
    			height: 15px;
    			margin-top: 3px;
    			margin-left: 5px;
    			position: absolute;
    		}
		}

		.saved-list-loader {
			text-align: center;
			margin-top: 60px;
		}

		.sso-saved-list-container {
			padding-bottom: 30px;
		}
	}
}