.sso-sidebar-menu {
	position: fixed;
	width: 400px;
	height: calc(100% - 30px);
	top: 30px;
	left: 0;
	
	.sso-logo-title {
		margin-top: 15px;

		a {
			font-size: 14px;
		    letter-spacing: 2px;
		    padding: 0;
		    margin: 0;
		    font-weight: 500;
		    color: #fff;
		    text-decoration: none;
		    display: -ms-inline-flexbox;
		    display: inline-flex;
		    padding: 0 20px 0 20px;
		    text-align: center;
		    text-transform: uppercase;
		    line-height: 25px;
		    width: 100%;
		    display: inline-block;

		    span {
				display: inline-block;
				position: relative;
				top: -6px;
		    }
		}
	}

	.sso-menu-container {
		width: 100%;
		overflow-y: auto;
    	height: calc(100% - 50px);

		.sso-profile-pic-container {
			width: 87%;
			padding: 15px 0;
			margin: 15px auto;

			.overide-pad-right {
				padding-right: 2px;
			}
			
			.img-profile {
				text-align: center;

				img.sso-sidebar-photo {
					width: 80px;
					height: 80px;
					@include borderradius(50%);
						
					&.rotate-0-deg {
						-ms-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
					}
					&.rotate-90-deg {
						-ms-transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}
					&.rotate-180-deg {
						-ms-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
					}
					&.rotate-270-deg {
						-ms-transform: rotate(270deg);
						-webkit-transform: rotate(270deg);
						transform: rotate(270deg);
					}
				}

				.sso-edit-photo {
					font-size: 12px;
					color: #00bff3;
					text-decoration: none;
					cursor: pointer;
					margin: 5px 0;
					font-weight: 100;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.sso-thankyou-points {
				p {
					color: #cf9e27;
					margin: 5px 0;
					font-size: 12px;
					font-weight: 600;

					&.p2 {
						font-size: 20px;
						font-weight: 700;

						&.no-points {
							font-size: 11px;
						}
					}
				}

				a {
					font-size: 11px;
					color: #00bff3;
					text-decoration: none;
					cursor: pointer;
					margin: 5px 0;
					font-weight: 300;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		ul.sso-menu {
			padding-left: 30px;

			li {
				list-style: none;
				height: 50px;
				line-height: 50px;

				a {
					color: #727272;
					text-decoration: none;
					cursor: pointer;
					height: 50px;
					line-height: 50px;
					width: 100%;
					display: inline-block;
					text-indent: 15px;
					text-transform: uppercase;
					font-weight: 600;
				}

				&:last-child {
					a {
						font-weight: 300;
					}
				}

				&.active {
					background-color: #252525;
					
					a {
						color: #fff;
					}
				}

				&:hover {
					background-color: #252525;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}