body {
  .abs-cbn-links-container {
    display: block;
    max-width: 320px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #111;
    z-index: 999999;
    color: #fff;
    width: 100%;
    // box-shadow: 2px 0px 20px 5px #313131;
    font-size: 14px;

    transition: left .5s;

    @media (max-width: $screen-sm) {
      max-width: 100%;
      left: -105%;
    }

    &.uninav-links-active {
      transition: .5s;
      left: 0;
    }

    .sso-uninav-link-title {
      font-weight: 100;
      font-size: 13px;
      margin-left: 22px;
      position: relative;
      height: 30px;
      line-height: 30px;
      font-family: Montserrat, sans-serif !important;

      .close-uninav-links {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        cursor: pointer;
        padding: 3px 10px;

        &:hover {
          opacity: .8;
        }

        &:before {
          -webkit-text-stroke: 2px #000;
        }
      }
    }

    .uninav-abs-cbn {
      margin-bottom: 50px;
      height: calc(100% - 45px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      .parent-uninav {
        cursor: pointer;
        position: relative;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        
        .uninav-icon-links {
          background: url(//assets.abs-cbn.com/universalnav/img/uninav-icons-links.png) no-repeat;
          width: 28px;
          height: 20px;
          display: inline-block;
          background-size: cover;
          top: 4px;
          position: relative;

          &.icon-corp { background-position: 0 0; }
          &.icon-ecommerce { background-position: 0 -21px; }
          &.icon-entertainment { background-position: 0 -42px; }
          &.icon-global { background-position: 0 -63px; }
          &.icon-lifestyle { background-position: 0 -84px; }
          &.icon-movies { background-position: 0 -105px; }
          &.icon-music { background-position: 0 -125px; }
          &.icon-news { background-position: 0 -147px; }
          &.icon-ott { background-position: 0 -168px; }
          &.icon-services { background-position: 0 -188px; }
          &.icon-sports { background-position: 0 -209px; }
          &.icon-abs-cbn { background-position: 0 -231px; }
          &.icon-theme-experiences { background-position: 0 -255px; }
          
          &:before {
            display: none;
          }
        }

        // .fa {
        //   font-size: 22px;
        //   margin-top: 5px;
        // }
        
        .fa-chevron-down, .fa-chevron-up {
          position: absolute;
          right: 30px;
          font-size: 20px;
          cursor: pointer;
          top: 14px;
          margin-top: 0px;

          &:hover {
            color: #999;
          }
          
          &.active {
            &:before {
              content: '\f077';
            }
          }

          &:before {
            -webkit-text-stroke: 2px #000;
          }
        }

        a {
          font-family: 'Montserrat', sans-serif !important;
          font-weight: 600;
          text-transform: uppercase;
          position: absolute;
          padding-left: 15px;
          display: inline-block;
          text-decoration: none;
          line-height: inherit;
          font-size: 14px !important;

          &:focus {
            outline: none !important;
          }
        }

        &.corporate a, &.corporate .fa { color: #959595; }
        &.ecommerce a, &.ecommerce .fa { color: #fb5c5f; }
        &.entertainment a, &.entertainment .fa { color: #9c61ce; }
        &.global a, &.global .fa { color: #136f94; }
        &.lifestyle a, &.lifestyle .fa { color: #bed72d; }
        &.movies a, &.movies .fa { color: #f7941e; }
        &.music a, &.music .fa { color: #ffde00; }
        &.news a, &.news .fa { color: #e33a3e; }
        &.ott a, &.ott .fa { color: #25aae1; }
        &.services a, &.services .fa { color: #0faf5d; }
        &.sports a, &.sports .fa { color: #1969b4; }
        &.abs-cbn a, &.abs-cbn .fa { color: #fff; }
        &.experiences a, &.experiences .fa { color: #e5c89e; }
        
      }

      .child-uninav {
        display: none;
        padding: 10px 0;

        span {
          display: block;
          height: 50px;
          line-height: 50px;

          a {
            font-family: 'Montserrat', sans-serif !important;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            width: 100%;
            height: 100%;
            display: inline-block;
            text-indent: 35px;
            font-size: 14px !important;

            &:focus {
              outline: none !important;
            }
            
            &.corporate {
              color: #959595;
              &:hover { text-decoration: underline; }
            }
            &.ecommerce {
              color: #fb5c5f;
              &:hover { text-decoration: underline; }
            }
            &.entertainment { 
              color: #9c61ce;
              &:hover { text-decoration: underline; }
            }
            &.global {
              color: #136f94;
              &:hover { text-decoration: underline; }
            }
            &.lifestyle {
              color: #bed72d;
              &:hover { text-decoration: underline; }
            }
            &.movies {
              color: #f7941e;
              &:hover { text-decoration: underline; }
            }
            &.music {
              color: #ffde00;
              &:hover { text-decoration: underline; }
            }
            &.news {
              color: #e33a3e;
              &:hover { text-decoration: underline; }
            }
            &.ott {
              color: #25aae1;
              &:hover { text-decoration: underline; }
            }
            &.services {
              color: #0faf5d;
              &:hover { text-decoration: underline; }
            }
            &.sports {
              color: #1969b4;
              &:hover { text-decoration: underline; }
            }
            &.theme-experiences {
              color: #e5c89e;
              &:hover { text-decoration: underline; }
            }

            &.active-links {
              cursor: default;
              &:hover { text-decoration: none; }
            }
          }
        }
      }
    }
  }

  .my-blocker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999998;
    display: none;
    background-color: #000;
    cursor: pointer;

    &.opac {
      opacity: 0.7;
    }
  }
}