<template>
    <div class="sso-right-content-container sso-accounts" data-simplebar ref="scrollable">
        <h3 class="sso-content-title sso-overide-b-b">YOUR ACCOUNTS</h3>
        <p class="sso-subs">
        	Here you can connect all your Kapamilya accounts and earn Thank You points.
		</p>
		<div class="sso-form-container sso-accounts-form-container">
			<div class="sso-accounts-info">
				<tvplus-account></tvplus-account>
				<sky-account></sky-account>

				<cable-satelite-account></cable-satelite-account>
				<tfc-iptv-account></tfc-iptv-account>
				<!-- <tfc-online-account></tfc-online-account> -->
				<tfc-eu-account></tfc-eu-account>
			</div>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';

import SimpleBar from 'simplebar';

import SkyAccount from 'components/AccountLingking/Sky';
import TvplusAccount from 'components/AccountLingking/TvPlus';
// import TfcOnlineAccount from 'components/AccountLingking/TfcOnline';
import CableSateliteAccount from 'components/AccountLingking/TfcCableSatelite';
import TfcIptvAccount from 'components/AccountLingking/TfcIptv';
import TfcEUAccount from 'components/AccountLingking/TfcEU';

Vue.component("simple-bar", SimpleBar);

Vue.component("sky-account", SkyAccount);
Vue.component("tvplus-account", TvplusAccount);
// Vue.component("tfc-online-account", TfcOnlineAccount);
Vue.component("cable-satelite-account", CableSateliteAccount);
Vue.component("tfc-iptv-account", TfcIptvAccount);
Vue.component("tfc-eu-account", TfcEUAccount);

export default {
	name: 'sso-account',
	data: () => ({
	}),
	mounted() {
		var el = new SimpleBar(this.$refs.scrollable);
		el.getScrollElement().addEventListener('scroll', function() {
			$('.sso-accounts .sso-tooltip').hide();
		});
	}
}
</script>