<template>
    <div class="sso-right-content-container" data-simplebar>
        <div  v-show="!hasAddress">
            <h3 class="sso-content-title sso-address-overide">
                ADDRESS
            </h3>
            <p class="sso-no-address">
                Tell us where you’re from so we can reach out to you about Kapamilya events happening nearby.
            </p>
        </div>

        <h3 class="sso-content-title" v-show="hasAddress">
            ADDRESS
        </h3>

        <div class="sso-form-container" :class="{ 'sso-forms-windows': windows }">
            <p class="sso-add-address" v-show="!hasAddress && !onEdit">
                <a class="sso-a-link" @click="onEdit = true">Add Address</a>
            </p>
            <p class="sso-edit-address">
                <span class="sso-address-info sso-address-text-container" v-show="hasAddress">
                    <span v-if="addrHouseNumber" class="sso-addr-text">{{ addrHouseNumber }}</span>
                    <span v-if="addrStreet" class="sso-addr-text">{{ addrStreet }}</span>
                    <span v-if="addrCity" class="sso-addr-text">{{ addrCity }}</span>
                    <span v-if="addrCountry" class="sso-addr-text">{{ addrCountry }}</span>
                    <span v-if="addrProvince" class="sso-addr-text">{{ addrProvince }}</span>
                    <span v-if="addrZipCode" class="sso-addr-text">{{ addrZipCode }}</span>
                </span>
                <a class="sso-a-link" @click="onEdit = true" v-show="!onEdit && hasAddress">Edit</a>
            </p>
            <div class="sso-address-info-form-update" :class="{ 'sso-active-form': onEdit }">
                <form autocomplete="off" v-on:submit.prevent>
                    <div class="sso-error-response" v-if="hasInvalidChar">
                        <p class="sso-address-error-text">
                            Address can only contain alphanumeric characters, hyphens(-) and back slashs(\)
                        </p>
                    </div>
                    <div class="sso-form-update sso-address-update">
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info">House Number</label>
                            <input autocomplete="off" type="text" 
                                class="sso-text-field" name="houseNum"
                                v-model="address.housenumber"
                                maxlength="50"/>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info">Street Address</label>
                            <input autocomplete="off" type="text" 
                                class="sso-text-field" name="street" 
                                v-model="address.street"
                                maxlength="50"/>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info">City</label>
                            <input autocomplete="off" type="text" 
                                class="sso-text-field" name="city" 
                                v-model="address.city"
                                maxlength="50"/>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info">Country of Residence</label>
                            <v-select 
                                autocomplete="off"
                                label="countryName" 
                                class="sso-country" 
                                :options="countries" 
                                :value="country" 
                                v-model="country">
                            </v-select>
                        </div>
                        <div class="sso-text-container overide-top-pos">
                            <label class="sso-lbl-update-info">Province / State</label>
                            <v-select 
                                :options="provinces" 
                                label="stateProvince" 
                                v-model="province" 
                                class="sso-province" 
                                autocomplete="off" 
                                v-if="hasStateOrProvince"
                                :on-change="setState">
                            </v-select>
                            <input autocomplete="off" 
                                type="text" 
                                class="sso-text-field ssoProvince" 
                                ref="province" 
                                name="province" 
                                v-model="address.province" 
                                v-if="!hasStateOrProvince"
                                maxlength="30"/>
                        </div>
                        <div class="sso-text-container">
                            <label class="sso-lbl-update-info">Zip Code</label>
                            <input autocomplete="off" type="text" 
                                class="sso-text-field" name="zipcode" 
                                v-model="address.zipcode"
                                maxlength="15"/>
                        </div>
                        <div class="sso-btn-container">
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel-update overide-font-size-14" @click="onEdit=false">Cancel</a>
                            <button type="button" class="sso-btn-update" v-promise-btn @click="save">SAVE CHANGES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import _ from 'lodash';
import SimpleBar from 'simplebar';
import { mapState } from 'vuex';
import vSelect from 'vue-select';

Vue.component("simple-bar", SimpleBar);

export default {
    name: 'sso-address',
    components: { vSelect },
    data: () => ({
        onEdit: false,
        hasStateOrProvince: false,
        windows: false,

        country: null,
        address: {},
        provinces: [],
        province: null,
        currentAddress: {},
        state: null,

        hasError: false,

        addrHouseNumber: null,
        addrStreet: null,
        addrCity: null,
        addrCountry: null,
        addrProvince: null,
        addrZipCode: null,

        hasInvalidChar: false
    }),
    computed: {
        ...mapState(['countries']),
        // checking if has address
        hasAddress() {
            return this.completeAddress !== null
        },

        // constracting full address to be display in markup
        completeAddress() {
            const addr = this.$store.state.address;
            if (!addr)
                return null

            this.currentAddress = addr;
            let _country = this.countryName(
                addr.country);

            this.country = _country;
            let countryName = _country.countryName;

            this.province = addr.province;

            let fullAddress = '';

            this.addrHouseNumber = (addr.housenumber && addr.housenumber !== "") ? addr.housenumber : null;
            this.addrStreet = (addr.street && addr.street !== "") ? addr.street : null;
            this.addrCity = (addr.city && addr.city !== "") ? addr.city : null;
            this.addrCountry = (addr.province && addr.province !== "") ? addr.province : null;
            this.addrProvince = (countryName && countryName !== "") ? countryName : null;
            this.addrZipCode = (addr.zipcode && addr.zipcode !== "") ? addr.zipcode : null;
        }
    },

    watch: {
        // always check if the current address value is being modified or change
        // then put it into address variables to bind in our form input
        // also this variable will be needed to save the address information cause it is already binded to it's form input
        currentAddress (val) {
            this.address = _.clone(this.currentAddress);
        }, 

        country (val, oldval) {
            if (val) {
                if (this.countryCode != val.countryCode) {
                    if (oldval != null) {
                        this.province = null;
                        this.address.province = null;
                    }

                    this.address.country = val.countryCode;

                    this.$http.get('/api/Profile/StateAndProvinces?countryCode=' + val.countryCode).then((response) => {
                        this.hasError = false;
                        if (response.data.length > 0) {
                            this.provinces = response.data;
                            this.hasStateOrProvince = true;
                        } else {
                            this.hasStateOrProvince = false;
                        }
                    });
                }
            }
        }
    },

    methods: {
        // function to get the country name base on the given country code in gigya
        countryName: function(code) {
            let country = _.find(this.countries, (o) => { 
                return o.countryCode === code;
            })

            return (country || '');
        },

        setState: function(val, oldval) {
            if (val) {
                this.state = this.province ? this.province : val.stateProvince;
            } else {
                this.state = null;
            }
        },

        // saving the address. this will need the api for gigya.
        save: function() {
            return new Promise((resolve) => {
                let province = '';
                if (this.hasStateOrProvince) {
                    province = this.state;
                } else {
                    province = this.$refs.province.value.trim();
                }

                _.update(this.address, 'province', (val) => { return val = province; });

                if(this.validateField(this.address)) {
                    resolve();
                    return;
                }

                let params = {
                    // this.address is the one binded into the form input
                    data: { ph: this.address },

                    callback: (response) => {
                        if (response.errorCode === 0) {
                            // upon successfully saving the address information update the store address.
                            this.$store.commit("STORE_ADDRESS", this.address);

                            this.onEdit = false;
                        } else {
                            alert("Failed Saving.");
                        }

                        resolve();
                    }
                };

                // please refer to the gigya developer document.
                gigya.accounts.setAccountInfo(params);
            });
        },

        validateField: function(addr) {
            let charInvalid = (/[^a-zA-Z0-9\-\/\s]/.test(addr.housenumber) || /[^a-zA-Z0-9\-\/\s]/.test(addr.street) || /[^a-zA-Z0-9\-\/\s]/.test(addr.city) || /[^a-zA-Z0-9\-\/\s]/.test(addr.province) || /[^a-zA-Z0-9\-\/\s]/.test(addr.zipcode));

            this.hasInvalidChar = charInvalid;

            return this.hasInvalidChar;
        }
    },

    created() {
        if (navigator.platform.indexOf('Win') > -1) {
            this.windows = true;
        }
    }
}
</script>