<template>
    <div class="sso-right-content-container" data-simplebar>
        <h3 class="sso-content-title">BASIC INFO</h3>
        <div class="sso-form-container sso-basic-info">
            <br>
            <kapamilya-name></kapamilya-name>
            <salutation></salutation>
            <full-name></full-name>
            <change-password></change-password>
            <birthday></birthday>
            <gender></gender>
            <!-- <country></country> -->
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

import SimpleBar from 'simplebar';

import KapamilyaName from 'components/BasicInfo/KapamilyaName';
import FullName from 'components/BasicInfo/FullName';
import ChangePassword from 'components/BasicInfo/ChangePassword';
import Birthday from 'components/BasicInfo/Birthday';
import Gender from 'components/BasicInfo/Gender';
import Salutation from 'components/BasicInfo/Salutation';

export default {
    name: 'sso-basicinfo',
    components : {
        SimpleBar,
        KapamilyaName,
        FullName,
        ChangePassword,
        Birthday,
        Gender,
        Salutation
    },
    data: () => ({
    }),
    methods: {
    },
    created() {
        console.log("BasicInfo");
    }
}
</script>