<template>
    <div class="sso-right-content-container" data-simplebar>
        <h3 class="sso-content-title sso-overide-b-b">CONTACT INFO</h3>
        <p class="sso-subs">
        	Tell us how to get in touch with you for special offers and promotions.
		</p>
        <div class="sso-form-container sso-contact-form-container">
            <div class="sso-contact-info">
            	<!--Email-->
                <contact-type 
                    label="Email Address" 
                    ref="contactEmail"
                    :contacts="emails" 
                    :options="emailOptions">

                    <template slot-scope="contactScope">
                        <div class="sso-need-verify" v-if="contactScope.contact.isVerified === false">
                            <span class="sso-verify-info-text">
                                Please verify your email address by clicking on the link we sent you.
                            </span>
                            <span class="sso-resend-assign-delete-container">
                                <a class="sso-a-link sso-resend-verification" v-promise-btn
                                    @click="sendEmailVerification(contactScope.contact)" >
                                    Resend Verification
                                </a>
                                <a class="sso-a-link sso-delete-e-n" 
                                    @click="$refs.contactEmail.deleteContact(contactScope.contact)" 
                                    v-if="!contactScope.contact.IsPrimary">
                                    Delete
                                </a>
                            </span>
                        </div>

                        <span class="sso-assign-delete-container"  v-if="contactScope.contact.isVerified">
                            <a class="sso-a-link sso-assign-primary" 
                                @click="$refs.contactEmail.assignContact(contactScope.contact)" 
                                v-if="!contactScope.contact.IsPrimary">
                                Set as Primary
                            </a>
                            <a class="sso-a-link sso-delete-e-n" 
                                @click="$refs.contactEmail.deleteContact(contactScope.contact)" 
                                v-if="!contactScope.contact.IsPrimary">
                                Delete
                            </a>
                        </span>
                    </template>
                </contact-type>
            	<!--END Email-->
                
            	<!--Mobile Number-->
                <contact-type 
                    label="Mobile Number" 
                    ref="contactNumber"
                    :contacts="mobileNumbers" 
                    :options="mobileOptions"
                    @hasMobilePrimary="hasMobilePrimary">
                </contact-type>
                <!--End Mobile Number-->
                
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

import SimpleBar from 'simplebar';
import ContactType from 'components/ContactType'
import AddMobile from 'components/Mobile/AddMobile'
import VerifyMobile from 'components/Mobile/VerifyMobile'
import AssignPrimary from 'components/Mobile/AssignPrimary'
import DeleteNumber from 'components/Mobile/DeleteNumber'
import ChurningMobile from 'components/Mobile/ChurningMobile'

import AddEmail from 'components/Email/AddEmail'
import AssignEmail from 'components/Email/AssignEmail'
import DeleteEmail from 'components/Email/DeleteEmail'

Vue.component("simple-bar", SimpleBar);

Vue.component("add-email", AddEmail)
Vue.component("assign-email", AssignEmail)
Vue.component("delete-email", DeleteEmail)

Vue.component("add-mobile", AddMobile)
Vue.component("verify-mobile", VerifyMobile)
Vue.component("assign-mobile", AssignPrimary)
Vue.component("delete-mobile", DeleteNumber)

Vue.component("contact-type", ContactType)

Vue.component("churning-mobile", ChurningMobile)

export default {
    name: 'sso-contacts',

    data: () => ({
        emailOptions: {
            maxRecords: 3,
            nameKey: "email",
            addText: "Add Email",
            addActiveView: "add-email",
            primaryKey: "IsPrimary",
            deleteView: "delete-email",
            assignView: "assign-email",
            deletable: false
        },

        emails: [],

        mobileOptions: {
            nameKey: "number",
            addText: "Add Mobile Number",
            addActiveView: "add-mobile",
            deleteView: "delete-mobile",
            assignView: "assign-mobile"
        },

        mobileNumbers: []
    }),

    methods: {
        // function to resend email verification
        sendEmailVerification: function(contact) {
            this.$emit("show-loader");
            
            this.$http.post("/api/Account/resend-email", {
                uid: this.$user.UID,
                email: contact.email,
                name: this.$user.profile.firstName,
                verifiedPage: `${window.location.origin}/email-verified`
            }).then(() => {
                this.$emit("hide-loader");
            }).catch(() => {
                this.$emit("hide-loader");
            })
		},

        // function to sort mobile number via service provider
        sortMe: function(left, right) {
            var value = "serviceProvider";
            var sort_by_val = function() {
                return left[value] == right[value] ? 0 : (left[value] < right[value] ? -1 : 1);
            }

            if (left.primary === right.primary) {
                return sort_by_val();
            } else {
                if (left.primary === true) {
                    return -1;
                } else if (right.primary === true) {
                    return 1;
                } else {
                    return sort_by_val();
                }
            }
        },

        hasMobilePrimary: function(data) {
            this.emailOptions.deletable = true;
        }
    },

    created() {
        // get the mobile numbers coming from store and put top holder variable then pass it to component mobileNumbers variables to be in display
        let numbers = this.$store.getters.mobileNumbers.sort(this.sortMe);
        this.mobileNumbers = numbers;

        // check if mobile number has alread have primary
        // then set emailOptions.deletable to true to have a delete link on email primary
        if (_.find(this.mobileNumbers, {primary: true})) {
            this.emailOptions.deletable = true;
        }

        // get all emails from store then pass in to variables
        this.emails = this.$store.getters.emails;
    }
}
</script>