<template>
	<sso-index class="sso-on-boarding"></sso-index>
</template>

<script>
import Vue from 'vue';
import Index from 'components/OnBoarding/Index';

Vue.component("sso-index", Index);

import { isEmpty } from 'lodash';

export default {
	name: 'sso-on-boarding',
	data: () => ({
	}),
	mounted() {
		
		let _user = this.$user;

	}
}
</script>
<style lang="scss">
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-thumb {
		background:#444444;
	}
</style>