<template>
    <div class="sso-right-content-container sso-saved" data-simplebar ref="scrollable">
        <div v-if="loadingDelete" class="sso-saved-loading-delete">
            <div class="sso-loader opac"></div>
            <img src="//assets.abs-cbn.com/sso/images/bigLoader.gif" alt="Loading" class="loading-delete" />
        </div>
        <h3 class="sso-content-title sso-overide-b-b">
            SAVED
        </h3>
        <p class="sso-no-saved" v-if="!hasSaved">
            You haven’t saved any content yet. <br>
            To save articles, video clips and galleries you wish to view, simply click the &apos;<span>Save</span>&apos; button beside your chosen content.
        </p>
        <div class="sso-saved-container" v-if="hasSaved">
            <p class="sso-has-saved">
                This section lets you save all the articles, videos and galleries you wish to view later. To find a specific content that you’ve previously
                saved, simply click on the dropdown menu.
            </p>
            <div class="sso-saved-filter-container">
                <v-select :options="sites" :value="sites[0]" class="sso-saved-filter" :on-change="filterReadList"></v-select>
            </div>
            <div class="sso-form-container sso-saved-form">
                <div class="sso-saved-list-container clearfix">
                    <div class="sso-saved-content pull-left" v-for="saved in readList" :key="saved.articleId">
                        <div class="sso-saved-photos pull-left" 
                            :style="addStyle(saved)" 
                            style="backgroundSize: cover; backgroundRepeat: no-repeat; cursor: pointer;"
                            @click="redirectToSource(saved.articleId, saved.urlLink)">
                            <!-- <a :href="saved.urlLink" target="_blank">
                                <img :src="saved.thumbnail" border="0" />
                            </a> -->
                        </div>
                        <div class="sso-saved-info-container pull-left">
                            <span class="sso-saved-site">{{ saved.siteSrc }}</span>
                            <div class="sso-saved-info">
                                <p class="sso-last-saved">Saved last {{ saved.saveDate }}</p>
                                <p class="sso-saved-title">
                                    {{ saved.title.substring(0, 30) }}...
                                    <a 
                                        class="sso-a-link" 
                                        target="_blank" 
                                        href="javascript:void(0);" 
                                        @click="redirectToSource(saved.articleId, saved.urlLink)">
                                            Read more
                                    </a>
                                </p>
                                <a class="sso-a-link" @click="deleteReadList(saved, $event)">Unsave</a>
                            </div>
                        </div>
                    </div>

                    <div class="saved-list-loader" v-if="isLoading">
                        <img src="//assets.abs-cbn.com/sso/images/bigLoader.gif" alt="Loading" class="saved-loader">
                    </div>

                    <div 
                        style="background-color: rgba(0, 0, 0, 0.7);
                                width: 100%;
                                height: 100%;
                                position: fixed;
                                top: 0;
                                left: 0;
                                z-index: 999999;" 
                            v-if="isRedirecting">
                        <img src="//assets.abs-cbn.com/sso/images/bigLoader.gif" 
                            alt="Loading" 
                            class="saved-loader"
                            style="
                                position: fixed; 
                                top: calc(50% - 16px); 
                                left: calc(50% - 16px);">
                    </div>

                    <div class="sso-load-more" v-if="hasMoreReadList">
                        <a class="sso-a-link" href="javascript:void(0);" @click="loadMore(true)">LOAD MORE</a>
                        <img src="//assets.abs-cbn.com/sso/images/bigLoader.gif" alt="Loading" class="load-more-loading" v-if="showMore">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

import SimpleBar from 'simplebar';
import vSelect from 'vue-select';
import _ from 'lodash';

Vue.component("simple-bar", SimpleBar);

export default {
    name: 'sso-saved',
    components: { vSelect },
    data: () => ({
        hasSaved: false,
        readList: [],
        sites: [],
        sitesName: [],
        site: '',
        hasMoreReadList: false,
        articleIDs: [],
        isLoading: true,
        showMore: false,
        loadingDelete: false,
        _readList: [],
        allItem: [],
        isRedirecting: false,

        isMobile: false
    }),
    created() {
        this.isSavedEmpty();
        this.siteName();
    },
    methods: {
        // function to check if read list is empty or has item
        isSavedEmpty: function() {
            this.allItem = this.$store.getters.readList;
            this._readList = this.allItem;

            let len = this._readList.length;
            this.hasSaved = len > 0 ? true : false;

            if (this.hasSaved) {
                // if has read list item call readList Api
                this.readListApiCall('all', [], false);
            }
        },
        // function to filter the readlist item via siteSource/siteName
        filterReadList: function(val) {
            if (this.site !== val && val != null) {
                this.readList = [];
                this.isLoading = true;
                this.hasMoreReadList = false;
                this.articleIDs = [];
                this.readListApiCall(val.toLowerCase(), []);
                this.site = val;
            }
        },
        // function to get the site name of readlist item
        siteName: function() {
            $.each(this._readList, (i, data) => {
                this.sitesName.push(data.siteName);
            });

            let sitesource = this.removeDuplicate();

            let _sitesTitle = [];
            $.each(sitesource, function(i, data) {
                switch(data) {
                    case 'starcinema': 
                        _sitesTitle.push('STAR CINEMA');
                        break;
                    case 'starstudio': 
                        _sitesTitle.push('STAR STUDIO');
                        break;
                    default: 
                        _sitesTitle.push(data.toUpperCase());
                        break;
                }
            });

            _sitesTitle.push('ALL');

            this.sites = _sitesTitle;
            this.sites.sort();

            this.site = 'ALL';
        },
        // removing duplicate of site name to display in select option.
        removeDuplicate: function() {
            let arr = this.sitesName;
            var seen = {};
            var ret_arr = [];
            for (var i = 0; i < arr.length; i++) {
                if (!(arr[i] in seen)) {
                    ret_arr.push(arr[i]);
                    seen[arr[i]] = true;
                }
            }
            return ret_arr;
        },

        // function to load more readlit 
        loadMore: function(isLoadmore) {
            this.showMore = true;
            // call api to load more data
            this.readListApiCall(this.site.toLowerCase(), this.articleIDs, isLoadmore);
        },

        // deleting read list item function
        deleteReadList: function(saved, e) {
            let _id = saved.articleId;
            this.loadingDelete = true;

            this.$http.post('/api/Profile/ReadListDelete', {
                uid: this.$user.UID,
                articleId: _id,
                siteName: this.site.toLowerCase()
            }).then((response) => {
                if(response.data.isDelete) {
                    // if success update call the function updateReadListStore to update the store
                    this.updateReadListStore(saved);

                    $(e.target).parents('.sso-saved-content').fadeOut('600', ()=> {
                        _.pull(this.readList, saved);
                        this.loadingDelete = false;
                    });
                }

            }).catch(function(error) {
                alert("FAILED : " + error);
            });
        },
        // function to get all the first 10 readlist item
        readListApiCall: function(_siteName, artIDs, isLoadMore) {
            this.$http.post('/api/Profile/ReadList', {
                uid: this.$user.UID,
                siteName: _siteName,
                articleIds: artIDs
            }).then((response) => {
                let item = this.readList;
                let _ids = this.articleIDs;

                $.each(response.data.readList, function(i, data) {
                    _ids.push(data.articleId);
                    item.push(data);
                });

                this.articleIDs = _ids;

                if(!isLoadMore) {
                    this.readList = response.data.readList;
                } else {
                    this.readList = item;
                }

                this.isLoading = false;
                this.showMore = false;

                if (response.data.readlistCount > this.articleIDs.length) {
                    this.hasMoreReadList = true;
                } else {
                    this.hasMoreReadList = false;
                }
            }).catch(function (error) {
                console.log(error);
            });
        },

        // function to update the read list store
        updateReadListStore: function(saved) {
            this._readList = _.remove(this._readList, (n)=> {
                return n.articleId !== saved.articleId;
            });

            this.hasSaved = this._readList.length > 0 ? true : false;
            this.$store.commit("STORE_READLIST", this._readList);
        },

        redirectToSource: function(id, src) {
            this.isRedirecting = true;
            $.each(this.allItem, (i, data) => {
                if (data.articleId === id) {
                    data.readed = true;

                    _.update(this.allItem, (val) => { return val = data; });

                    let params = Object.assign({}, {
                        data: {
                            readList: this.allItem
                        },
                        callback: (response) => {
                            if (response.status === 'FAIL') {
                                alert("Failed");
                            } else {
                                window.open(src, '_blank');
                                this.isRedirecting = false;
                                this.$store.commit("STORE_READLIST", this.allItem);
                            }
                        }
                    });

                    this.$accounts.setAccountInfo(params);
                }
            });
        },

        addStyle: function(saved) {
            return { backgroundImage: `url(${saved.thumbnail})` }
        }
    }
}
</script>