<template>
    <div class="sso-contant-form-container">
        <div class="sso-contact-form">
            <h4 class="sso-form-title">ADD EMAIL</h4>
            <form class="sso-form" v-on:submit.prevent>
                <div class="sso-input-container">
                    <label>Email</label>
                    <span class="inline-block">
                        <input autocomplete="off" 
                            type="text" 
                            class="sso-input-text" 
                            :class="{ 'has-error': hasError }" 
                            name="email" 
                            placeholder="youremail@test.com" 
                            v-model="email" 
                            @blur="validEmail" 
                            @input="validateEmail"
                            maxlength="64"/>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="required">Email is required.</p>
                            <p class="sso-error-message" v-if="invalidEmail">Invalid email address. Please check.</p>
                            <p class="sso-error-message" v-if="tempEmail">Temporary email is not allowed.</p>
                            <p class="sso-error-message" v-if="emailExist">Email already exists!</p>
                        </div>
                    </span>
                </div>
                <div class="sso-btn-container">
                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="addEmail">ADD</button>
                    <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="$emit('closeView')">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { guid } from 'utils/guid';

export default {
    data: () => ({
        email: null,
        tempEmail: false,
        disposableEmail: null,

        // validation
        emailExist: false,
        required: false,
        hasError: false,
        invalidEmail: false
    }),
 
    methods: {
        // checking for temporary email or disposable email
        validateEmail: function() {
            this.emailExist = false;
            if (this.email === '' || this.email === null) {
                this.required = true;
                this.hasError = true;
                this.invalidEmail = false;
            } else {
                this.resetErrors();

                let _email = this.email.split("@")[1];

                if (this.disposableEmail.indexOf(_email) != -1) {
                    this.tempEmail = true;
                } else {
                    this.tempEmail = false;
                }
            }
        },

        validEmail: function() {
            this.email = this.email.toLowerCase().trim().split(" ").join("");

            if (!this.isEmail()) {
                this.required = false;
                this.invalidEmail = true;
                this.hasError = true;
            }
        },

        isEmail: function() {
          // var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          // var regex = /^[a-zA-Z0-9 .!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9 ])?)*$/
          let regex = /^[a-zA-Z0-9 .!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9 ])?)*$/;
          return regex.test(this.email);
        },

        addEmail: function() {
            return new Promise((resolve) => {
                // check if email is in the list of our disposable/temporary email
                // if yes immediate return
                this.validateEmail();
                if (this.hasError) { resolve(); return; }

                if (!this.isEmail()) {
                    this.required = false;
                    this.invalidEmail = true;
                    this.hasError = true;
                    resolve();
                    return;
                }

                if (this.tempEmail) { resolve(); return; }

                let emailAddress = this.email.toLowerCase().trim().replace(/\s+/, "");

                this.$http.post("/api/Profile/AddSecondaryEmail", {
                    uid: this.$user.UID,
                    email: emailAddress
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        this.resetErrors();
                        // if available constract email information to save on gigya.
                        let emailInfo = response.data.newSecondaryEmail;
                        let secondaryEmails = (this.$user.data.secondaryEmails || []).filter(p => !p.isPrimary);
                        
                        secondaryEmails.push(emailInfo);

                        // if success saving from gigya
                        // update the store for secondary email
                        this.$store.commit("STORE_SECONDARYEMAIL", secondaryEmails);

                        // then close form and add the data input markup or display it to markup
                        this.$emit('closeView', emailInfo, true);
                        // send verification email to confirm or verified the email entered by user
                        this.sendEmailVerification();

                        resolve();
                    } else if (response.data.errorCode === 1001) {
                        // if not available show error message for email exist
                        this.emailExist = true;
                        resolve();
                        return;
                    }
                });
            });
        },

        sendEmailVerification: function() {
            this.$http.post("/api/Account/resend-email", {
                uid: this.$user.UID,
                email: this.email.toLowerCase().trim(),
                name: this.$user.profile.firstName,
                verifiedPage: `${window.location.origin}/confirm-email`
            }).then(response => {
                if (response.data.errorCode !== 0) {
                    alert("Error on sending email verification.");
                }
            })
        },

        resetErrors: function() {
            this.required = false;
            this.invalidEmail = false;
            this.hasError = false;
            this.emailExist = false;
        }
    },

    created() {
        $.getJSON("https://assets.abs-cbn.com/sso/disposable-email-server.json", (data) => {
            this.disposableEmail = data.disposableEmail;
        });
    }
}
</script> 