<template>
	<transition name="fade">
		<div class="sso-lightbox-form">
			<div class="sso-contant-form-container">
		        <div class="sso-contact-form sso-width-100-perc">
		            <h4 class="sso-form-title">SET AS PRIMARY</h4>
		            <div class="sso-form overide-margin-top">
		                <div class="sso-input-container">
		                    <p class="sso-contact-verif-info">
		                    	By selecting yes, you are choosing to use this email as your main identifier.
		                    </p>
		                </div>
		                <div class="sso-btn-container">
		                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">
		                        YES
		                    </button>
		                    <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="$emit('closeView')">Cancel</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</transition>
</template>

<script>
export default {
	props: ["payload"],

    methods: {
    	// function to assign or set email as primary
		submit: function() {
			return new Promise((resolve) => {
				this.$http.post("/api/Profile/SecondarySetPrimary", {
	                uid: this.$user.UID,
	                email: this.payload.email,
	            }).then((response) => {
	                if (response.data.errorCode === 0) {
	                	// if success emit assignAndCloseViewEmail and pass the data or payload to change the primary
	                	// you can see this on ContactType.vue under components folder
	                	this.$emit('assignAndCloseViewEmail', this.payload);
	                }
	                resolve();
	            }).catch((error) => {
	                console.log(error)
	            })
	        });
		}
	}
}
</script>
