<template>
	<transition name="fade">
		<div class="sso-lightbox-form">
			<div class="sso-contant-form-container">
		        <div class="sso-contact-form sso-width-100-perc">
		            <h4 class="sso-form-title">DELETE EMAIL</h4>
		            <div class="sso-form overide-margin-top">
		                <div class="sso-input-container">
		                    <p class="sso-contact-verif-info">
		                    	By clicking yes, you will no longer receive messages through this email address.
		                    </p>
		                </div>
		                <div class="sso-btn-container">
		                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">
		                        YES
		                    </button>
		                    <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="$emit('closeView')">Cancel</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</transition>
</template>

<script>
export default {
	props: ["payload"],

	methods: {
		// delete email function
		submit: function() {
			return new Promise((resolve) => {
				// remove data/object that need to delete
				let secondaryEmails = this.$store.getters.emails.filter(e => e.id != this.payload.id);
				
				// this will be found in gigya documentation as accounts.setAccountInfo
				this.$accounts.setAccountInfo({
					data: { secondaryEmails },
					removeLoginEmails: this.payload.email,

					callback: (response) => {
						resolve();
						if (response.errorCode === 0) {
							if (this.payload.IsPrimary || secondaryEmails.length === 0) {
								this.$accounts.setAccountInfo({
									profile: {
										email: null
									},
									callback: (res) => {
										// update the store of secondary email.
										this.$store.commit("STORE_SECONDARYEMAIL", secondaryEmails);
										// then close form and remove the data input markup or display it to markup
										this.$emit("deleteAndCloseView", this.payload);
									}
								});

								return;
							}

							// update the store of secondary email.
							this.$store.commit("STORE_SECONDARYEMAIL", secondaryEmails);
							// then close form and remove the data input markup or display it to markup
							this.$emit("deleteAndCloseView", this.payload);
						} else {
							alert(response.errorMessage);
						}
					}
				})
	        });
		}
	}
}
</script>
