<template>
	<div class="sso-success-container">
        <p class="sso-success-info">
            Please allow us 24 hours to add this to your Kapamilya Thank You profile. Receive more points by linking ABS-CBN products or services to your Kapamilya Account.
        </p>
        <div class="sso-btn-container">
            <div class="sso-btn-container">
                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="$emit('OK')">OK</button>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

export default {
    name: 'sso-account',
    data: () => ({
    }),
    computed: {
    },

    mounted() {
    }
}
</script>