<template>
    <div>
        <div class="sso-e-n-header" :class="{ 'border-bottom-3': label === 'Email' }" @click="slideToggle">
            <span class="sso-title-header f-w-500">{{ label }}</span>
            <i class="fa fa-chevron-down" ref="toggler"></i>
        </div>

        <div ref="listContainer" class="sso-email-container" :class="{'sso-mobile-number-container' : label === 'Mobile Number' }">
            <div class="sso-email-num-item-container" v-for="contact in contactList" :key="contact.id">
                <span class="sso-email-number-list f-w-500">
                    {{ contact[opt.nameKey] }}
                </span>

                <a class="is-primary" v-if="contact[opt.primaryKey] && !opt.deletable">Primary</a>

                <span class="sso-assign-delete-container" v-if="contact[opt.primaryKey] && opt.deletable">
                    <a class="is-primary is-primary-deletable" v-if="contact[opt.primaryKey] === true">Primary</a>
                    <a class="sso-a-link sso-delete-e-n" @click="deleteContact(contact)">
                        Delete
                    </a>
                </span>

                <slot v-bind:contact="contact">
                    <span class="sso-assign-delete-container">
                        <a class="sso-a-link sso-assign-primary" @click="assignContact(contact)" v-if="contact[opt.primaryKey] === false">Set as Primary</a>
                        <a class="sso-a-link sso-delete-e-n" @click="deleteContact(contact)" v-if="contact[opt.primaryKey] === false">Delete</a>
                    </span>
                </slot>
            </div>

            <div class="sso-add-mobile-number" v-if="showAddLink">
                <a class="sso-a-link" href="javascript:void(0);" @click="onAddContact">+ {{ opt.addText }}</a>
            </div>

            <component 
                :is="currentView" 
                v-if="currentView" 
                :payload="payload"
                @loadView="loadView" 
                @closeView="closeView"
                @assignAndCloseViewMobile="assignAndCloseViewMobile"
                @assignAndCloseViewEmail="assignAndCloseViewEmail"
                @deleteAndCloseView="deleteAndCloseView">
            </component>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'

export default {
    // this props should be pass on the email and mobile module.
    props: {
        label: {
            type: String,
            required: true
        },

        contacts: {
            type: Array,
            default: []
        },

        options: {
            type: Object  
        },

        activeView: String
    },

    computed: {
        opt: function() {
            return Object.assign(this.defaultOpt, this.options)
        }
    },

    watch: {
        // always check if contact item email/mobile is being change.
        contactList: function(val) {
            this.canAddContact = (
                val.length < this.opt.maxRecords  && 
                val.filter(p => p.isVerified === false).length === 0);

            if(this.canAddContact && !this.currentView && !this.isFacebookLogin) {
                this.showAddLink = true;
            }
        }
    },

    data: () => ({
        payload: null,
        currentView: null,
        canAddContact: true,
        contactList: [],
        defaultOpt: {
            nameKey: "nameKey",
            primaryKey: "primary",
            addText: "Add Contact",
            assignView: "assign-view",
            deleteView: "delete-view",
            maxRecords: 25
        },

        showAddLink: false,
        isFacebookLogin: false
    }),

    methods: {
        // toggler for hiding and showing the list of email or mobile number
        slideToggle: function() {
            $(this.$refs.listContainer).slideToggle("fast");
            $(this.$refs.toggler).toggleClass('fa-chevron-down fa-chevron-up');
        },
        // on click add email or add mobile function
        onAddContact: function() {
            this.currentView = this.opt.addActiveView;
        },
        // function to use when clicking the Set as Primary link (Email/Mobile)
        assignContact: function(contact) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            this.currentView = this.opt.assignView;
            this.payload = contact;
        },
        // function to use when clicking the Delete link (Email/Mobile)
        deleteContact: function(contact) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');

            this.currentView = this.opt.deleteView;
            this.payload = contact;
        },
        // function what view should be loaded it's either add email or add mobile number.
        loadView: function(view, data) {
            this.currentView = view;
            this.payload = data;
        },
        // close view the opposite of loadview
        closeView: function(data, toPush) {
            this.currentView = null;
            this.payload = null;
            
            if (data) {
                if(toPush) {
                    this.contactList.push(data);
                }
                
                this.showAddLink = (this.contactList.length < this.opt.maxRecords  
                    && this.contactList.filter(p => p.isVerified === false).length === 0);
            }
            
            this.removeStyleAttr();
        },
        // for success assigning of primary mobile number function
        assignAndCloseViewMobile: function(data) {
            this.currentView = null;

            _.forEach(this.contactList, function(value, key) {
                if (data.id === value.id) {
                    value.primary = true;
                } else {
                    value.primary = false;
                }
            });

            this.$emit('hasMobilePrimary', this.contactList);

            this.removeStyleAttr();
        },
        // for success assigning of primary email function
        assignAndCloseViewEmail: function(data) {
            this.currentView = null;

            _.forEach(this.contactList, function(value, key) {
                if (data.email === value.email) {
                    value.IsPrimary = true;
                } else {
                    value.IsPrimary = false;
                }
            });

            this.removeStyleAttr();
        },
        // function for deleting of mobile number or email
        deleteAndCloseView: function(data) {
            this.currentView = null;
            this.contactList = _.pull(this.contactList, data);

            this.showAddLink = (this.contactList.length < this.opt.maxRecords  
                && this.contactList.filter(p => p.isVerified === false).length === 0);

            this.removeStyleAttr();
        },
        // this function for fixing bug issue for safari browser
        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        }
    },

    created() {
        // passing all data coming from contacs into Contact.vue under views folder
        this.contactList = this.contacts;
        // this is to check if user is facebook login
        if (this.$user.socialProviders.indexOf("facebook") > -1 && this.opt.addText === "Add Email") {
            this.isFacebookLogin = true;
        }
    }
}
</script>