<template>
	<div class="sso-date-of-birth">
		<div class="sso-text-container">
            <label class="sso-lbl-update-info sso-date">Year</label>
            <v-select :options="years" :value="year" v-model="year" :on-change="setYear"></v-select>
        </div>
        <div class="sso-text-container">
            <label class="sso-lbl-update-info sso-date">Month</label>
            <v-select :options="items" :value="month" v-model="month" :on-change="setMonth"></v-select>
        </div>
        <div class="sso-text-container">
            <label class="sso-lbl-update-info sso-date">Day</label>
            <v-select :options="numberOfDays" :value="day" v-model="day" :on-change="setDay"></v-select>
        </div>
        <slot name="validation-error"></slot>
    </div>
</template>
<script>
import vSelect from 'vue-select';
import { months } from '../utils/months';
export default {
    components: { vSelect },
	props: ['currentValue'],
	data: () => ({
		day: 1,
		month: 'January',
		year: 2000,
        items: [],
        numberOfDays: [],
        years: []
	}),
    watch: {
        'currentValue.birthMonth': function(val) {
            this.month = months[val - 1];
        },
        'currentValue.birthDay': function(val) {
            this.day = val;
        },
        'currentValue.birthYear': function(val) {
            this.year = val;
        }
    },
	created() {
		this.items = months;
		this.day = this.currentValue.birthDay;
		this.month = months[this.currentValue.birthMonth - 1];
		this.year = this.currentValue.birthYear;

        this.setYears();
        this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);
	},
	methods: {
		sendValue: function() {
			this.$emit("input", {
				birthMonth: this.items.indexOf(this.month) + 1,
				birthDay: this.day,
				birthYear: this.year
			});
		},
		setMonth: function(val, oldval) {
			this.month = val;
			this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);
			this.sendValue();
		},
		setDay: function(val, oldval) {
			this.day = val;
			this.sendValue();
		},
		setYear: function(val, oldval) {
			this.year = val;
			this.daysInMonth(this.year, this.items.indexOf(this.month) + 1);
			this.sendValue();
		},

        range: function (start, end) {
          return Array(end - start + 1).fill().map((_, idx) => start + idx);
        },

        daysInMonth: function (year, month) {
		    var nod = new Date(year, month, 0).getDate();
            this.numberOfDays = [];

            for (var x = 1; x <= nod; x++) {
                this.numberOfDays.push(x.toString());
            }
		},

        setYears: function() {
            var xYear = new Date().getFullYear();
            for (var i = xYear; i >= 1940; i--) {
                this.years.push(i.toString());
            }
        }
    }
}
</script>