<template>
    <div class="loader-container" v-if="loading">
        <div class="loader-inner ball-scale-ripple-multiple abs">
          <div></div>
          <div></div>
          <div></div>
          <span class="loader-message">
            <p>Please wait</p><h2>KAPAMILYA</h2>
          </span>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      loading: {
        type: Boolean,
        default: true
      }
    }
}
</script>