<template>
	<div class="sso-global-dialog">
		<input type="file" ref="fileInput" class="hidden" @change="onFileChange" accept='image/*'/>
		<div class="sso-dialog-content clearfix">
			<div class="sso-dialog-title">
				<span>EDIT PHOTO</span>
				<i class="fa fa-times" @click="closeModal"></i>
			</div>
			<div class="sso-dialog-photo">
				<div id="profilePhoto">
					<i class="fa fa-redo" aria-hidden="true" @click="rotateToRight"></i>
				</div>
			</div>
			<div>
				<div class="sso-relative-pos">
					<button class="sso-btn" v-promise-btn @click="triggerFileUpload">CHANGE PHOTO</button>
					<button class="sso-btn" v-promise-btn @click="saveImage">APPLY</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import croppie from 'croppie';

export default {
    name: "ModalDialog",
    data: ()=> ({
    	image: null,
    	imgDeg: -90,
    	uploadImageURL: '/api/Profile/UploadPhoto',
    	isSaving: false,
    	fileName: null,
    	// option for cropping
    	croppie: null,
    	viewportOption: {
	            width: 150,
	            height: 150,
	            type: 'circle'
	        },
    	boundaryOption: {
                width: 500,
                height: 300
            },
    }),
    methods: {
    	closeModal: function() {
    		this.$emit('modal', false);
    	},

    	rotateToRight: function() {
    		this.croppie.croppie('rotate', parseInt(this.imgDeg));
    	},

    	onFileChange: function(e) {
    		var files = e.target.files || e.dataTransfer.files;

		    if (!files.length)
		    	return;

		    this.createImage(files[0]);
    	},

	    createImage(file) {
	    	this.fileName = file.name;
	    	var image = new Image();
	    	var reader = new FileReader();
	    	var vm = this;
	    	var dataURL = "";
	    	reader.readAsDataURL(file);
	    	reader.onload = (e) => {
	    		dataURL = reader.result;

	        	vm.image = e.target.result;

	        	$("#profilePhoto").croppie('bind',{url: dataURL});
	      	};
	    },

	    triggerFileUpload: function() {
	    	this.$refs.fileInput.click();
	    },

	    saveImage: function() {
	    	return new Promise((resolve) => {
	    		this.croppie.croppie('get');
		    	this.croppie.croppie("result", {type: "blob", format: "png"}).then((img) => {
		    		const formData = new FormData();
		    		formData.append('file', img);
		    		formData.append('fileName', this.fileName);
		    		formData.append('uid', this.$user.UID);

		          	this.$http.post(this.uploadImageURL, formData).then((response) =>  {
		            	if (response.data.isSuccess) {
		            		this.setAccountInfo(response.data.filename, resolve);
		            	}
		            });
		    	});
	    	});
	    },

	    setAccountInfo: function(_uri, resolve) {
	    	let params = {
	    		profile: {
	    			photoURL: _uri
	    		},
				callback: (response) => {
					if (response.errorCode === 0) {
						this.successUpload(_uri);
						this.$store.commit('STORE_PHOTOURL', _uri);
						resolve();
					} else {
						resolve();
						alert("Failed");
					}
				}
	    	};

	    	this.$accounts.setAccountInfo(params);
	    },

	    successUpload: function(_newImage) {
    		this.$emit('modal', false);
			this.image = _newImage;
			this.isSaving = false;
	    }
    },
    created() {
        this.image = this.$store.getters.profilePicture;
    },

    mounted() {
    	let defaultImage = this.image;

    	if ($(window).width() <= 550) {
			this.boundaryOption = {
                width: 280,
                height: 200
            };

            this.viewportOption = {
                width: 150,
                height: 150,
                type: 'circle'
            };

            $('.sso-dialog-content').addClass("devices");
		}

    	this.croppie = $("#profilePhoto").croppie({
    		url: defaultImage,
            enableExif: true,
            viewport: this.viewportOption,
            boundary: this.boundaryOption,
            enforceBoundary: true,
            customClass: 'sso-croppie',
            enableOrientation: true
        });
    }
};
</script>