<template>
    <!--Sidebar-->
    <div class="sso-sidebar-menu" :class="isOnboardingStyle">
        <div class="sso-logo-title">
            <a href="javascript:void(0);">
                <span>Kapamilya</span>
                <img src="//assets.abs-cbn.com/sso/images/sso-logos.png" alt="Logo" style="width:25px; height:25px;">
                <span>Accounts</span>
            </a>
        </div>  
        <div class="sso-menu-container">
            <hr class="sso-line" />
            <div class="sso-profile-pic-container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 overide-pad-right">
                        <div class="img-profile">
                            <img :src="$store.getters.profilePicture" alt="Profile Photo" v-bind:class="['sso-sidebar-photo', $store.getters.profilePicture.split('=')[1]]" />
                            <p class="sso-edit-photo" @click="$emit('modal', true)">Edit Photo</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
                        <div class="sso-thankyou-points">
                            <p class="p1">Kapamilya Thank You Points</p>
                            <p class="p2" :class="{ 'no-points': kapamilyaPoints === 'Currently Unavailable'}">{{ kapamilyaPoints }}</p>
                            <a :href="Link" target="_blank">Redeem now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="sso-line" v-if="!hideSideMenu">
            <ul class="sso-menu" v-if="!hideSideMenu">
                <li :class="{active: $route.name === 'basic-info'}">
                    <router-link to="/basic-info" class="sso-navigation">Basic Info</router-link>
                    <i class="fa fa-angle-right visible-xs"></i>
                </li>
                <li :class="{active: $route.name === 'address'}">
                    <router-link to="/address"  class="sso-navigation">Address</router-link>
                    <i class="fa fa-angle-right visible-xs"></i>
                </li>
                <li :class="{active: $route.name === 'contacts'}">
                    <router-link to="/contacts" class="sso-navigation">Contact Info</router-link>
                    <i class="fa fa-angle-right visible-xs"></i>
                </li>
                <li :class="{active: $route.name === 'accounts'}">
                    <router-link to="/accounts" class="sso-navigation">Accounts</router-link>
                    <i class="fa fa-angle-right visible-xs"></i>
                </li>
                <li :class="{active: $route.name === 'saved'}">
                    <router-link to="/saved" class="sso-navigation">Saved</router-link>
                    <i class="fa fa-angle-right visible-xs"></i>
                </li>
                <li><a href="javascript:void(0)" @click="logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!--End Sidebar-->
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: "SideMenu",

    data: () => ({
        uid: null,
        hideSideMenu : false,
        isOnboardingStyle : null
    }),

    created() {
        this.hideSideMenu = this.$route.path == '/on-boarding' ? true : false ; // Check if routes is equal to /on-boarding' then hide
        this.isOnboardingStyle = this.hideSideMenu ? 'sso-on-boarding-sidemenu' : null;
    },

    computed: {
        ...mapState(['kapamilyaPoints', 'links']),

        Link: function() {
            if (this.links) {
                let alink = (this.links || []).filter(r => r.elementId === 'ReedemNow');
                return alink[0].link;
            }
        }
    },

    methods: {
        logout: function() {
            this.$emit('show-loader');
            this.$store.dispatch("LOGOUT_ACCOUNT", gigya.socialize);
        },

        // navigate: function() {
        //     $('.sso-sidebar-menu').addClass('inactive');
            
        //     this.$router.push(path);
        // },

        showModal: function() {
            $('.sso-global-dialog').fadeIn("fast");
        }
    }
};
</script>