<template>
    <div class="sso-forms" :class="{ 'sso-forms-windows': windows }">
        <div class="sso-info-field">
            <label class="sso-lbl-info">
                {{ label }}
                <span v-if="label == 'Birthday'">
                    <i class="far fa-question-circle sso-bday-tooltip-info" aria-hidden="true" @mouseenter="showTooltip($event, true)" @mouseleave="hideTooltip"></i>
                    <div class="sso-bday-bubble-tooltip" @mouseenter="showTooltip($event, false)" @mouseleave="hideTooltip">
                        <span v-html="bDayTooltip.tooltipValue">{{ bDayTooltip.tooltipValue }}</span>
                        <br>
                        <a :href="bDayTooltip.links" class="sso-a-link">Learn more</a>
                    </div>
                </span>
            </label>
            <slot name="edit-label">
                <span class="sso-info">{{ text }}</span>
            </slot>
            <div class="sso-edit-container">
                <transition name="fade">
                    <slot name="edit-success-message" v-if="successSave">
                        <span class="sso-success-save">Changes Saved</span>
                    </slot>
                </transition>
                <a href="javascript:void(0);" 
                    class="sso-a-link sso-edit-info overide-font-size-14" 
                    @click="edit(true)" 
                    v-if="!onEdit && showEdit">
                        Edit
                </a>
            </div>
        </div>
        <div class="sso-basic-info-form-update" :class="{ 'sso-active-form': onEdit }">
            <div class="sso-form-update">
                <slot name="edit-active"></slot>
                <div class="sso-btn-container"  v-if="!overideBtnContainer">
                    <a class="sso-a-link sso-cancel-update overide-font-size-14" @click="edit(false)">Cancel</a>
                    <button type="button" class="sso-btn-update" v-promise-btn @click="save">
                        SAVE CHANGES
                    </button>
                </div>
                <div class="sso-btn-container sso-btn-birthday" v-if="overideBtnContainer">
                    <a class="sso-a-link sso-cancel-update overide-font-size-14" @click="edit(false)">Cancel</a>
                    <button type="button" class="sso-btn-update" v-promise-btn @click="save">
                        SAVE CHANGES
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

const btnLoader = Vue.component("btn-loader", {
    template: '<span>Saving...</span>'
});

export default {
    name: "sso-form-field",
    props: {
        label: {
            type: String,
            required: true
        },
        value: {
            type: String,
            required: false
        },
        gigyaField: {
            type: Object,
            required: true
        },
        updateValue: {
            type: String,
            default: null
        },
        editActive: {
            type: Boolean,
            default: false
        },
        showEdit: {
            type: Boolean,
            default: true
        },
        validationScope: {
            type: String,
            default: null
        },
        bDayTooltip: {
            type: Object,
            required: false
        }
    },

    data: () => ({
        text: null,
        onEdit: false,
        successSave: false,

        overideBtnContainer: false,

        windows: false
    }),

    created() {
        this.onEdit = this.editActive;
        this.updateText();

        if (this.label === "Gender" || this.label === "Birthday") {
            this.overideBtnContainer = true;
        }

        if (navigator.platform.indexOf('Win') > -1) {
            this.windows = true;
        }
    },

    watch: {
        editActive: function(val) {
            this.onEdit = val;
        },
        updateValue: function(val) {
            if (val)
                this.text = JSON.parse(JSON.stringify(val));
        }
    },

    methods: {
        updateText: function () {
            if (this.value)
                this.text = JSON.parse(
                    JSON.stringify(this.value));
        },
        cancel: function () {
            this.editActive = false;
            this.$slots['edit-active'][0]
                .context.$validator
                .reset();
        },
        edit: function(val) {
            this.onEdit = val;
            
            this.$emit("editActiveChange", val);
        },
        save: function() {
            return new Promise((resolve) => {
                let editActive = this.$slots['edit-active'][0].context;
                editActive.$validator.validateAll(this.validationScope).then(valid => {

                    if (valid) {
                        if(this.label === "Birthday" && this.validDOB(this.gigyaField.profile)) {
                            this.$emit("fail");
                            resolve();
                            return;
                        }

                        let params = Object.assign({}, this.gigyaField, {
                            callback: (response) => {

                                if (response.status === 'FAIL') {
                                    this.$emit("fail", {
                                        errorCode: response.errorCode,
                                        errorDetails: response.errorDetails,
                                        errorMessage: response.errorMessage,
                                    });
                                } else {
                                    this.getAccountInfo();
                                    this.updateText();
                                    this.onEdit = false;
                                    this.$emit("success");
                                    this.successSave = true;

                                    var timeout = setTimeout(()=> {
                                        this.successSave = false;
                                        clearTimeout(timeout);
                                    }, 3000);
                                }

                                resolve();
                            }
                        });


                        this.$accounts.setAccountInfo(params);
                    } else {
                        resolve();
                    }
                });
            });
        },

        getAccountInfo: function() {
            gigya.accounts.getAccountInfo({
                include: 'profile, loginIDs, data',
                callback: (response) => {
                    if (response.status !== 'FAIL') {
                        this.$store.commit("STORE_ACCOUNT_INFO", response);
                    }
                }
            });
        },

        showTooltip: function(e, isPos) {
            if (isPos) {
                let _left = parseInt($(e.target).position().left - 50);
                let _top = parseInt($(e.target).position().top - $('.sso-bday-bubble-tooltip').outerHeight() + 5);
                let obj = {};
                if ($(window).width() <= 320) {
                    obj = {
                        'top': _top+'px',
                        'left': '0px',
                        'width': '280px'
                    }
                } else {
                    obj = {
                        'top': _top+'px',
                        'left': _left+'px'
                    }
                }

                $(e.target).parent().find('.sso-bday-bubble-tooltip').css(obj).show();
            } else {
                $(e.target).parent().find('.sso-bday-bubble-tooltip').show();
            }
        },

        hideTooltip: function(e) {
            $(e.target).parent().find('.sso-bday-bubble-tooltip').hide();
        },

        validDOB: function(dob) {
            let birthDate = parseInt(dob.birthYear.toString() + (dob.birthMonth - 1).toString() + dob.birthDay.toString());
            let currentDate = new Date();
            currentDate = parseInt(currentDate.getFullYear().toString() + currentDate.getMonth().toString() + currentDate.getDate().toString());
            
            return birthDate >= currentDate;
        }
    }
}
</script>