<template>
    <!--MOBILE ACCOUNTS-->
    <div class="sso-accounts-list-container sso-accounts-mobile" v-if="abscbnNumbers.length > 0">
        <div class="sso-account-mobile-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
            <span class="f-w-500">ABS-CBN MOBILE <i class="far fa-question-circle sso-account-tooltip-abs-cbn" @click="showTooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" ></i></span>
            <i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-abs-cbn-tooltip" @click="stopPropagation" @mouseenter="showTooltip" @mouseleave="hideTooltip">
                <span>Linking your ABS-CBN Mobile gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="sso-account-items">
            <ul class="sso-mobile-number-list">
                <li v-for="numbers in abscbnNumbers" :key="numbers.id">
                    <span>{{numbers.number}}</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    data: () => ({
        abscbnNumbers: [],
    }),
    computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        }
    },
    methods: {
        // toggle the content of abs-cbn item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },
        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-abs-cbn-tooltip').show();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        stopPropagation: function(e) {
            e.stopPropagation();
        }
    },

    created() {
        // put all the abs-cbn mobile into abscbnNumbers variable to be display in markup
        this.abscbnNumbers = this.$store.getters.abscbnMobiles;
    }
}
</script>