<template>
    <div class="sso-accounts-list-container sso-accounts-cable-satelite">
		<div class="sso-accounts-cable-satelite-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
			<span class="f-w-500">TFC (Cable / Satellite)
                <i class="far fa-question-circle sso-account-tooltip-tfc-cable-satelite" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
			<i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-tfc-cable-satelite-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TFC Cable Satellite gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
		</div>
		<div class="sso-account-items">
            <ul>
                <li v-for="osn in osnAccountList">
                    <span>{{ osn.customerID }}</span>
                    <a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(osn, true)">Delete</a>
                </li>
            </ul>
			<ul>
				<li v-for="cableSatelite in cableSateliteAccount">
					<span>{{ cableSatelite.subscriberNumber }}</span>
					<a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(cableSatelite, false)">Delete</a>
				</li>
			</ul>
			<div class="sso-add-cable-satelite-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add Cable/Satellite Account</a>
            </div>
		</div>
		<!--Add Cable/Satelite Account Form-->
		<div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-cable-satelite-form">
                <h4 class="sso-form-title">ADD CABLE/SATELLITE ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div class="sso-error-response" v-if="hasErrorResponse">
                        <p class="sso-accounts-error-text">{{ errorStatus }}</p>
                        <p class="sso-accounts-error-text">{{ errorMessage }}</p>
                        <p class="sso-accounts-error-text">{{ errorDetails }}</p>
                    </div>
                    <div class="sso-input-container" style="position: relative; height: 60px;">
                        <v-select 
                            :options="cableProvider" 
                            class="sso-cable-provider" 
                            :value="cProvider" 
                            label="cableProvider.providerName" 
                            autocomplete="off"
                            ref="cblProvider"
                            :on-change="setProvider">
                        </v-select>
                        <div class="sso-info-container" style="position: absolute;top: 45px;">
                            <p class="sso-error-message" v-if="cableProviderRequired">Please Select Cable Provider.</p>
                        </div>
                    </div>

                    <!--FOR NOT OSN-->
                    <div v-if="!osnAccount && hasValue">
                        <div class="sso-input-container">
                            <input autocomplete="off" 
                                type="text" 
                                class="sso-input-text" 
                                name="subsNumber" 
                                :class="{ 'has-error': errors.has('subsNumber') }" 
                                placeholder="Subscriber Number" 
                                ref="subscriberNum" 
                                v-on:input="resetError"/>
                            <div class="sso-info-container">
                                <p class="sso-error-message" v-if="isRequiredSubcriberNumber">Subscriber number is required.</p>
                            </div>
                        </div>
                        <p class="sso-text-info cab-sat-info-text">
                            Your Subscriber Account Number may be found on your cable or satellite subscription's billing statement. Each cable or satellite provider has its own way of showing its subscriber's account number. If you are having trouble finding your Subscriber Account Number, please contact your cable/satellite provider's customer service for assistance.
                            <br>
                            <br>
                            <a class="sso-a-link overide-font-size-14" target="_blank" :href="Link[0].link">How will I earn points?</a>
                        </p>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                        </div>
                    </div>
                    <!--END NOT FOR OSN-->

                    <!--FOR OSN ACCOUNT-->
                    <div v-if="osnAccount && hasValue">
                        <div class="sso-input-container">
                            <input 
                                autocomplete="off" 
                                type="text" 
                                class="sso-input-text" 
                                name="custNumber" 
                                :class="{ 'has-error': required }" 
                                ref="osnCustomerId" 
                                @input="validateInput" 
                                placeholder="OSN Customer Number" />
                            <div class="sso-info-container">
                                <p class="sso-error-message" v-if="required">OSN Customer Number is required.</p>
                            </div>
                            <div class="sso-text-info osn-text-info">
                                <p>
                                    *For OSN subscribers, only Satellite subscribers are eligible at the moment.
                                </p>
                                <p>
                                    Please make sure that the last name of the subscriber is the same last name you used in Kapamilya Accounts
                                </p>
                                <p>
                                    Your Subscriber Account Number may be found on your cable or satellite subscription's billing statement. Each cable or satellite provider has its own way of showing its subscriber's account number. If you are having trouble finding your Subscriber Account Number, please contact your cable/satellite provider's customer service for assistance.
                                </p>
                                <!-- Please make sure that the last name of the subscriber is the same last name you used in Kapamilya Accounts
                                <br><br>
                                Find out how to check your OSN Customer Number<br> by clicking 
                                <a class="sso-a-link" :href="osnAccountNumberLink[0].link" target="_blank">
                                    here
                                </a>. -->
                            </div>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submitOSN">SUBMIT</button>
                        </div>
                    </div>
                    <div class="text-align-center">
                        <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                    </div>
                    <!--END FOR OSN ACCOUNT-->
                </form>
            </div>
        </div>
        <!--End Add Cable/Satelite Account Form-->

        <!--Success Saving Account-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="successSave">
                <link-success></link-success>
            </div>
        </transition>
        <!--End Success Saving Account-->

        <!--Delete Cable/Satelite Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteCableSateliteActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteCableSateliteActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete Cable/Satelite Account Form-->
	</div>
</template>

<script>
import Vue from 'vue';
import vSelect from 'vue-select';
import { mapState } from 'vuex';

import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);

export default {
    components: { vSelect },
    data: () => ({
        deleteCableSateliteActive: false,
        formActive: false,
        earnPointsInfo: false,
        osnAccount: false,
        osnAccountList: [],

        cProvider: {"providerID":0, "providerName":"Select participating Cable/Satellite provider"},
        providerName: null,

        cableProvider: [],

        cableSateliteAccount: [],

        cableProviderRequired: false,

        hasErrorResponse: false,
        errorDetails: null,
        errorStatus: null,
        errorDetails: null,
        forDeleteAccount: null,

        isRequiredSubcriberNumber: false,
        required: false,
        isOSN: false,

        accountInfo: null,
        hasValue: false,

        successSave: false
    }),
    
    watch: {
        // check if value of formActive is being change.
        // remove the error text message
        formActive: function(val) {            
            this.resetError();
        }
    },

    computed: {
        ...mapState(['links']),

        // get the urlLinks for tooltip of How To Earn Points
        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'cableSateLiteHowToEarnPoints');
        },

        LearnMore: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        },

        osnAccountNumberLink: function() {
            return (this.links || []).filter(r => r.elementId === 'osnAccountNumber');
        }
    },
 
    methods: {
        validateInput: function() {
            if (this.$refs.osnCustomerId.value === '' || this.$refs.osnCustomerId.value === null) {
                this.required = true;
            } else {
                this.required = false;
            }
        },
        // toggle the content of tfc cable satelite item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tfc-cable-satelite-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        // function to set the cable provider
        setProvider: function(data) {
            if (data != "Select participating Cable/Satellite provider" && data != null) {
                if (data.indexOf(" - OSN") != -1) {
                    this.osnAccount = true;
                } else {
                    this.osnAccount = false;
                }
                this.hasValue = true;
            } else {
                this.hasValue = false;
            }
            
            this.providerName = data;
            this.cableProviderRequired = false;

            this.resetError();
        },

        // function to show the dialog delete form for tfc cable satelite
        showDeleteModal: function(_account, osn) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into forDeleteAccount variable
            this.forDeleteAccount = _account;
            // set deleteCableSateliteActive to true this it to show the dialog
            this.deleteCableSateliteActive = true;
            this.isOSN = osn;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        // function to delete the Tfc cable satelite account
        deleteAccount: function() {
            return new Promise((resolve) => {
                if (this.isOSN) {
                    this.$http.post("api/Profile/RemoveOSN", {
                        uid: this.$user.UID,
                        lastName: this.forDeleteAccount.lastName,
                        product: this.forDeleteAccount.productName,
                        referenceNumber: this.forDeleteAccount.customerNumber,
                        referenceType: 'osncustomerid'
                    }).then((response) => {
                        if (response.data.errorCode === 0) {
                            _.pull(this.osnAccountList, this.forDeleteAccount);
                            this.deleteCableSateliteActive = false;
                            this.removeStyleAttr();
                        }
                        resolve();
                    }).catch(function(error) {
                        console.log(error);
                    });
                } else {
                    this.$http.post("api/Profile/DeleteCableSatellite", {
                        uid: this.$user.UID,
                        lastName: this.$user.profile.lastName,
                        cableProvider: this.forDeleteAccount.cableProvider,
                        subscriberNumber: this.forDeleteAccount.subscriberNumber
                    }).then((response) => {
                        if (response.data.errorCode === 0) {
                            // remove the object forDeleteAccount into iptvAccount variable.
                            _.pull(this.cableSateliteAccount, this.forDeleteAccount);
                            // set deleteIptvActive to false to hide the dialog
                            this.deleteCableSateliteActive = false;

                            this.removeStyleAttr();
                        }
                        resolve();
                    }).catch(function(error) {
                        console.log(error);
                    });
                }
            });
        },

        // saving a new tfc cable satelite account
        submit: function() {
            return new Promise((resolve) => {
                if (this.providerName === "Select participating Cable/Satellite provider" || this.providerName === ""  || this.providerName === null) {
                    $('.sso-cable-provider').addClass('has-error');
                    this.cableProviderRequired = true;
                    resolve();
                } else if (this.$refs.subscriberNum.value === "") {
                    this.isRequiredSubcriberNumber = true;
                    resolve();
                } else {
                    this.resetError();
                    this.isRequiredSubcriberNumber = false;

                    this.$http.post("api/Profile/AddCableSatellite", {
                        uid: this.$user.UID,
                        lastName: this.$user.profile.lastName,
                        cableProvider: this.providerName,
                        subscriberNumber: this.$refs.subscriberNum.value.trim()
                    }).then((response) => {
                        if (response.data.errorCode === 0) {
                            this.cableSateliteAccount.push(response.data.globalCableSatellite);

                            _.update(this.accountInfo, 'data.globalCableSatellite', (val) => { return val = this.cableSateliteAccount; });
                            this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);

                            this.formActive = false;
                            this.hasErrorResponse = false;
                            // this.successSave = true;
                            resolve();
                        } else {
                            this.errorStatus = response.data.status;
                            this.errorMessage = response.data.statusMessage;
                            this.errorDetails = response.data.statusDetails;
                            this.hasErrorResponse = true;
                            resolve();
                        }
                    });
                }
            });
        },

        submitOSN: function() {
            return new Promise((resolve) => {
                this.validateInput();
                if (this.required) {
                    resolve();
                    return;
                }
                this.$http.post("api/Profile/AddOSN", {
                    uid: this.$user.UID,
                    lastName: this.$user.profile.lastName,
                    product: 'OSN',
                    referenceNumber: this.$refs.osnCustomerId.value.trim(),
                    referenceType: 'osncustomerid' 
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        this.osnAccountList.push(response.data.globalOsn);
                        _.update(this.accountInfo, 'data.globalOsn', (val) => { return val = this.osnAccountList; });
                        this.$store.commit("STORE_ACCOUNT_INFO", this.accountInfo);

                        this.formActive = false;
                        this.hasErrorResponse = false;
                        // this.successSave = true;
                        resolve();
                    } else {
                        this.errorStatus = response.data.status;
                        this.errorMessage = response.data.statusMessage;
                        this.errorDetails = response.data.statusDetails;
                        this.hasErrorResponse = true;
                        resolve();
                    }
                }).catch(function(error) {
                    console.log(error);
                });
            });
        },

        resetError: function() {
            this.hasErrorResponse = false;
            this.errorDetails = null;
            this.errorStatus = null;
            this.errorMessage = null;
            this.isRequiredSubcriberNumber = false;
        },

        // function to get the cable provider into cms
        // getCableProvider: function() {
        //     this.$http.get("/api/Profile/CableProvider").then((response) => {
        //         this.cableProvider = response.data;
        //     }).catch(function(error) {
        //         console.log(error);
        //     });
        // },

        getCableProvider: function() {
            this.$http.get("https://qa-thankyou.abs-cbn.com/api/thankyou/GetCableProviders").then((response) => {
                this.cableProvider = response.data;
            }).catch(function(error) {
                console.log(error);
            });
        },
    },

    created() {
        // call function to get cable provider
        this.getCableProvider();
        this.accountInfo = this.$user;
        // put all the tfc cable satelite account into cableSateliteAccount variable when the component is created. this is to display in markup
        this.cableSateliteAccount = this.$user.data.globalCableSatellite ? this.$user.data.globalCableSatellite : [];
        this.osnAccountList = this.$user.data.globalOsn ? this.$user.data.globalOsn : [];
    }
}
</script>