<template>
    <div class="sso-accounts-list-container sso-accounts-cable">
        <div class="sso-accounts-cable-header sso-accounts-header" @click="toggleSlide">
            <span class="f-w-500">CABLE</span>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="sso-account-items">
            <ul>
                <li>
                    <span>TEST ACCOUNT</span>
                    <a class="sso-a-link overide-font-size-14 sso-account-delete" @click="deleteCableActive=true">Delete</a>
                </li>
            </ul>
            <div class="sso-add-cable-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add Cable Account</a>
            </div>
        </div>
        <!--Add cable Account Form-->
        <div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-cable-form">
                <h4 class="sso-form-title">ADD CABLE ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div class="sso-input-container">
                        <v-select 
                            :options="cableProvider" 
                            class="sso-cable-provider" 
                            :value="cProvider" 
                            label="provider" 
                            autocomplete="off" 
                            :on-change="setProvider">
                        </v-select>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="errors.firstByRule('custID', 'required')">Customer ID is required.</p>
                        </div>
                    </div>
                    <div class="sso-input-container">
                        <input autocomplete="off" type="text" class="sso-input-text" name="subsNumber" :class="{ 'has-error': errors.has('subsNumber') }" v-validate="'required'" placeholder="Subscriber Number" />
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="errors.firstByRule('subsNumber', 'required')">Subscriber number is required.</p>
                        </div>
                    </div>
                    <p class="sso-text-info">
                        <a class="sso-a-link overide-font-size-14" @click="earnPointsInfo=true">How will I earn points?</a>.
                    </p>
                    <div class="sso-btn-container">
                        <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                        <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <!--End Add cable Account Form-->

        <!--Delete cable Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteCableActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteCableActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete cable Account Form-->

        <transition name="fade">
            <div class="sso-lightbox-form" v-if="earnPointsInfo">
                <div class="sso-account-form-container sso-directtv-other-info">
                    <div class="other-info">
                        <p><strong>How will I earn points?</strong></p>
                        <p>
                            To earn points, simply take a photo of your billing statement and proof of payment that clearly shows the following information.
                        </p>
                        <ul>
                            <li>TFC provider (should be the same as cable/satelite provider you specified above)</li>
                            <li>Subscriber Name (should be the same as the name registered in your Kapamilya Account)</li>
                            <li>Subscriber Account Number (should be the same as the subcriber account number you specified above)</li>
                            <li>Amount paid for the TFC package subscription</li>
                        </ul>
                        <p>Send the photos to:</p>
                        <ul>
                            <li>Email:</li>
                            <li>Fox:</li>
                            <li>Mail:</li>
                        </ul>
                        <p>
                            You will earcn 1 points for every US$ 1.00 spent (or its equivalent in you local currency) on your TFC package subscription for the submission. Points will be credited once your submission has been manually verified by our customer service team.
                        </p>
                    </div>
                    <div class="sso-account-form sso-width-100-perc">
                        <div class="sso-form overide-margin-top">
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="earnPointsInfo=false">
                                    CLOSE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import vSelect from 'vue-select';

export default {
    components: { vSelect },
    data: () => ({
        deleteCableActive: false,
        formActive: false,
        earnPointsInfo: false,

        cProvider: {"name":"","provider":"Cable Provider"},
        prviderName: null,

        cableProvider: []
    }),

    watch: {
        formActive: function(val) {
            console.log(val);
        }
    },
 
    methods: {
        toggleSlide: function(e) {
            $(e.target).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(e.target).parents('.sso-accounts-list-container').find('.sso-account-items');

            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        setProvider: function(data) {
            this.prviderName = data.name;
        },

        deleteAccount: function() {

        },

        submit: function() {
            
        },

        getCableProvider: function() {
            this.$http.get("/api/Profile/CableProvider").then((response) => {
                this.cableProvider = response.data;
            }).catch(function(error) {
                console.log(error);
            });
        }
    },

    created() {
        this.getCableProvider();
    }
}
</script>