<template>
    <!--SKY ACCOUNTS-->
    <div class="sso-accounts-list-container sso-accounts-sky">
        <div class="sso-account-sky-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
            <span class="f-w-500">SKY 
                <i class="far fa-question-circle sso-account-tooltip-sky" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
            <i class="fa fa-chevron-down"></i>

            <div class="sso-tooltip sso-sky-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your SKY Accounts gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="sso-account-items">
            <ul>
                <li v-for="sky in skyAccount">
                    <span>{{ sky.acctNumber }}</span>
                    <a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteForm(sky)">Delete</a>
                </li>
            </ul>
            <div class="sso-add-sky-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add Sky Account</a>
            </div>
        </div>

        <!--Delete Sky Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteSkyActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteSkyActive=false">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete Sky Account Form-->

        <!--Add Sky Account Form-->
        <div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form">
                <h4 class="sso-form-title">ADD SKY ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div v-if="!successSave">
                        <div class="sso-input-container">
                            <label>Last Name</label>
                            <span class="inline-block">
                                <input 
                                    autocomplete="off" 
                                    type="text" 
                                    class="sso-input-text" 
                                    ref="lastName" 
                                    name="lastName" 
                                    :class="{ 'has-error': requiredLastName }" 
                                    @input="validateLastName" />
                                <i class="far fa-question-circle sso-accounts-tooltip" @click="showTooltipInside" @mouseenter="showTooltipInside" @mouseleave="hideTooltip"></i>
                                <div class="sso-info-container">
                                    <p class="sso-error-message" v-if="requiredLastName">
                                        Last name is required.
                                    </p>
                                </div>
                                <div class="sso-tooltip" @click="stopPropagation">
                                    Input your last name as indicated in your SKY Statement of Account (SOA).
                                </div>
                            </span>
                        </div>
                        <div class="sso-input-container">
                            <label>Sky Account</label>
                            <span class="inline-block">
                                <input 
                                    autocomplete="off" 
                                    type="text" 
                                    class="sso-input-text" 
                                    ref="skyAccount" 
                                    name="skyAccount" 
                                    :class="{ 'has-error': requiredSkyAccount || invalidSkyAccount }" 
                                    @input="validateSkyAccount" />
                                <i class="far fa-question-circle sso-accounts-tooltip" @click="showTooltipInside" @mouseenter="showTooltipInside" @mouseleave="hideTooltip"></i>
                                <div class="sso-info-container">
                                    <p class="sso-error-message" v-if="requiredSkyAccount">
                                        Sky account is required.
                                    </p>
                                    <p class="sso-error-message" v-if="invalidSkyAccount">{{ errorSkyAccountText }}</p>
                                </div>
                                <div class="sso-tooltip" @click="stopPropagation">
                                    Check your account number as indicated in your SKY Statement of Account (SOA).
                                </div>
                            </span>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="saveSkyAccount">SUBMIT</button>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                        </div>
                    </div>

                    <!--Success Saving Account-->
                    <link-success v-if="successSave" @OK="_continue"></link-success>
                    <!--End Success Saving Account-->
                </form>
            </div>
        </div>
        <!--End Add Sky Account Form-->
    </div>
    <!--END OF SKY ACCOUNTS-->
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';

import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);
export default {
    data: () => ({
        invalidSkyAccount: false,
        errorSkyAccountText: null,
        deleteSkyActive: false,
        formActive: false,
        skyAccount: [],
        toDelete: null,
        requiredSkyAccount: false,
        requiredLastName: false,

        successSave: false
    }),
    
    watch: {
        // check if value of formActive is being change.
        // remove the error text message
        formActive: function(val) {
            this.invalidSkyAccount = false;
            this.errorSkyAccountText = null;
            this.requiredSkyAccount = false;
            this.requiredLastName = false;
        }
    },

    computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        }
    },

    methods: {
        validateSkyAccount: function() {
            let skyAccNumber = this.$refs.skyAccount.value;
            if (skyAccNumber === '' || skyAccNumber === null) {
                this.requiredSkyAccount = true;
            } else {
                this.requiredSkyAccount = false;
            }

            this.errorSkyAccountText = false;
            this.invalidSkyAccount = false;
        },
        validateLastName: function() {
            let skyLastname = this.$refs.lastName.value;
            if (skyLastname === '' || skyLastname === null) {
                this.requiredLastName = true;
            } else {
                this.requiredLastName = false;
            }
        },
        // toggle the content of sky item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-sky-tooltip').show();
        },

        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        // show the tooltip inside the form.
        showTooltipInside: function(e) {
            e.stopPropagation();
            $('.sso-accounts').find('.sso-tooltip').hide();
            $(e.target).parent().find('.sso-tooltip').show();
        },

        // saving the accounts.
        saveSkyAccount: function() {
            // new promise function is for submmiting the form and resolve param is a function to resolve or remove the loading while submiting the form.
            return new Promise((resolve) => {
                this.validateLastName();
                this.validateSkyAccount();
                if (this.requiredLastName || this.requiredSkyAccount) {
                    resolve();
                    return;
                }

                
                // let apiURL = '/api/Profile/AddSky?UID=' + this.$user.UID;
                let apiURL = process.env.VUE_APP_API_BRE_URL + 'api/sky.enroll?UID='+ this.$user.UID;
                let apiOCPKEY = process.env.VUE_APP_BRE_OCP_KEY;
                let skyAccNumber = this.$refs.skyAccount.value.trim();
                let skyLastname = this.$refs.lastName.value.trim();

                let data = {
                    accountNumber: skyAccNumber,
                    lastName: skyLastname,
                };
                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': apiOCPKEY
                    }
                };
                this.$http.post(apiURL, data, config).then((response) => {
                    console.log(response);
                    if (response.data.errorCode === 0) {
                        // this.successSave = true;
                        this.formActive = false;
                        // push the new data added into skyAccount variable or container to be display in markup
                        this.skyAccount.push(response.data.skyAccounts);
                    } else {
                        // if has error display the error message via the code below.
                        this.errorSkyAccountText = response.data.message;
                        this.invalidSkyAccount = true;
                    }

                    // call the resolve to remove the loading
                    resolve();
                }).catch(function(error) {
                    alert("Failed Saving.");
                });
            });
        },

        // function to show the dialog delete form for sky
        showDeleteForm: function(sky) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into toDelete variable
            this.toDelete = sky;
            // set deleteTvPlusActive to true this it to show the dialog
            this.deleteSkyActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        // function to delete the sky account.
        deleteAccount: function() {
            return new Promise((resolve) => {
                // remove the object toDelete into skyAccount variable.
                _.pull(this.skyAccount, this.toDelete);
                // call the setAccountInfo to save the deleted data into gigya
                this.setAccountInfo(resolve);
            });
        },

        setAccountInfo: function(resolve) {
            let params = {
                data: {
                    sky: JSON.parse(JSON.stringify(this.skyAccount))
                },
                callback:(response) => {
                    if (response.errorCode === 0) {
                        this.deleteSkyActive = false;
                        this.removeStyleAttr()
                    }
                    resolve();
                }
            };

            // refer to gigya developer document.
            gigya.accounts.setAccountInfo(params);
        },

        _continue: function() {
            this.formActive = false;
            this.successSave = false;
        }
    },

    created() {
        // put all the sky account into skyAccount variable when the component is created. this is to display in markup
        this.skyAccount = this.$store.getters.skyAccount;
    }
}
</script>