<template>
    <div class="sso-accounts-list-container sso-accounts-tfc">
		<div class="sso-accounts-tfc-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
			<span class="f-w-500">TFC (Direct-to-Home)
                <i class="far fa-question-circle sso-account-tooltip-tfc-iptv" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
			<i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-tfc-eu-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TFC (Direct-to-Home) gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
		</div>
		<div class="sso-account-items">
			<ul>
				<li v-for="dth in dthAccount">
					<span>{{dth.customerID}}</span>
					<a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(dth)">Delete</a>
				</li>
			</ul>
			<div class="sso-add-tfc-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add Direct-to-Home Account</a>
            </div>
		</div>
		<!--Add tfc Account Form-->
		<div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-tfc-form">
                <h4 class="sso-form-title">ADD DIRECT-TO-HOME ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div v-if="!successSave">
                        <div class="sso-error-response" v-if="hasErrorResponse">
                            <p class="sso-accounts-error-text">{{ errorStatus }}</p>
                            <p class="sso-accounts-error-text">{{ errorMessage }}</p>
                            <p class="sso-accounts-error-text">{{ errorDetails }}</p>
                        </div>
                        <div class="sso-input-container">
                            <label class="sso-view-card-number-label">View Card / Smart Card Number</label>
                                <span class="inline-block">
                                    <input 
                                        autocomplete="off" 
                                        type="text" 
                                        class="sso-input-text sso-view-card-number-text" 
                                        name="cardNumber" 
                                        :class="{ 'has-error': required }" 
                                        ref="viewCardNumber"
                                        @input="validateInput" />
                                    <div class="sso-info-container">
                                        <p class="sso-error-message" v-if="required">View Card Number is required.</p>
                                    </div>
                                </span>
                            <div class="sso-text-info-form">
                                <p class="sso-text-info">Applicable to TFC subscribers from Cyprus, Greece, Italy, Morocco, or Spain only.</p>
                                <p class="sso-text-info">
                                    Please make sure that the complete name of the subscriber is the same complete name you used in Kapamilya Accounts.
                                </p>
                                <p class="sso-text-info">
                                    <a class="sso-a-link overide-font-size-13" @click="hideTooltip" :href="Link[0].link" target="_blank">
                                        {{ Link[0].name }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                        </div>
                    </div>
                    <!--Success Saving Account-->
                    <link-success v-if="successSave" @OK="_continue"></link-success>
                    <!--End Success Saving Account-->
                </form>
            </div>
        </div>
        <!--End Add tfc Account Form-->

        <!--Delete tfc Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteDthActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteDthActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete tfc Account Form-->
	</div>
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';

import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);

export default {
    data: () => ({
        deleteDthActive: false,
        formActive: false,
        viewCardNumberInfo: false,
        dthAccount: [],

        hasErrorResponse: false,
        errorDetails: null,
        errorStatus: null,
        errorDetails: null,
        required: false,
        forDeleteAccount: null,

        viewCardNumberLink: "",

        successSave: false
    }),

    watch: {
        // check if value of formActive is being change.
        // remove the error text message
        formActive: function(val) {
            this.resetErrors();
        }
    },
    
    computed: {
        ...mapState(['links']),
        // get the urlLinks for tooltip of view card number info
        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'viewCardNumberAccount');
        }
    },

    methods: {
        validateInput: function() {
            if (this.$refs.viewCardNumber.value === "" || this.$refs.viewCardNumber.value === null) {
                this.required = true;
            } else {
                this.resetErrors();
            }
        },
        // toggle the content of tfc item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tfc-eu-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        // function to show the dialog delete form for tfc(dth-europe)
        showDeleteModal: function(_account) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into forDeleteAccount variable
            this.forDeleteAccount = _account;
            // set deleteDthActive to true this it to show the dialog
            this.deleteDthActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        // function to delete the Tfc account
        deleteAccount: function() {
            return new Promise((resolve) => {
                this.$http.post("/api/Profile/RemoveDTH", {
                    uid: this.$user.UID,
                    lastName: this.forDeleteAccount.lastName,
                    product: this.forDeleteAccount.productName,
                    referenceType: 'boxrefno',
                    referenceNumber: this.forDeleteAccount.viewCardNumber
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        // remove the object forDeleteAccount into dthAccount variable.
                        _.pull(this.dthAccount, this.forDeleteAccount);
                        // set deleteDthActive to false to hide the dialog
                        this.deleteDthActive = false;

                        this.removeStyleAttr();
                    }
                    resolve();
                }).catch(function(error) {
                    alert("Failed Saving.");
                });
            });
        },

        // saving a new tfc dth account
        submit: function() {
            return new Promise((resolve) => {
                this.validateInput();
                if (this.required) {
                    resolve();
                    return;
                }

                this.$http.post("/api/Profile/AddDTH", {
                    uid: this.$user.UID,
                    lastName: this.$user.profile.lastName,
                    product: 'DTH',
                    referenceNumber: this.$refs.viewCardNumber.value.trim(),
                    referenceType: 'boxrefno'
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        // push the new data added into dthAccount variable or container to be display in markup
                        this.dthAccount.push(response.data.globalDth);
                        // if success hide the formActive and hasErrorResponse via setting their value into false.
                        // this.formActive = false;
                        this.successSave = true;
                        resolve();
                    } else {
                        // if has error return all the error messages.
                        this.errorStatus = response.data.status;
                        this.errorMessage = response.data.statusMessage;
                        this.errorDetails = response.data.statusDetails;
                        this.hasErrorResponse = true;
                        resolve();
                    }
                }).catch(function(error) {
                    resolve();
                    alert("Failed Saving.");
                });
            });
        },

        resetErrors: function() {
            this.hasErrorResponse = false;
            this.errorDetails = null;
            this.errorStatus = null;
            this.errorMessage = null;
            this.required = false;
        },

        _continue: function() {
            this.formActive = false;
            this.successSave = false;
        }
    },

    created() {
        // put all the tfc(dth) account into dthAccount variable when the component is created. this is to display in markup
        this.dthAccount = this.$user.data.globalDth ? this.$user.data.globalDth : [];
    }
}
</script>