<template>
    <div class="sso-accounts-list-container sso-accounts-iptv">
		<div class="sso-accounts-iptv-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
			<span class="f-w-500">TFC (IPTV)
                <i class="far fa-question-circle sso-account-tooltip-tfc-iptv" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
			<i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-tfc-iptv-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TFC (IPTV) gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="LearnMore[0].link" target="_blank">Learn more</a>
            </div>
		</div>
		<div class="sso-account-items">
			<ul>
				<li v-for="iptv in iptvAccount">
					<span>{{ iptv.customerID }}</span>
					<a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(iptv)">Delete</a>
				</li>
			</ul>
			<div class="sso-add-iptv-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add IPTV Account</a>
            </div>
		</div>
		<!--Add IPTV Account Form-->
		<div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-iptv-form">
                <h4 class="sso-form-title">ADD IPTV ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div v-if="!successSave">
                        <p class="sso-accounts-error-text" v-if="hasError">Please fill up at least one below.</p>
                        <div class="sso-error-response" v-if="hasErrorResponse">
                            <p class="sso-accounts-error-text">{{ errorStatus }}</p>
                            <p class="sso-accounts-error-text">{{ errorMessage }}</p>
                            <p class="sso-accounts-error-text">{{ errorDetails }}</p>
                        </div>
                        <div class="sso-input-container">
                            <label>Customer ID</label>
                            <span class="inline-block">
                                <input autocomplete="off" type="text" class="sso-input-text" ref="customerID" @input="hasError=false" />
                                <!-- <i class="far fa-question-circle sso-accounts-tooltip" @click="goToLink($event, 'custId')" title="How It Works"></i> -->
                            </span>
                        </div>
                        <div class="sso-or-seperator">or</div>
                        <div class="sso-input-container">
                            <label>IPTV Box MAC Address</label>
                            <span class="inline-block">
                                <input autocomplete="off" type="text" class="sso-input-text" ref="boxMacAddress" @input="hasError=false" />
                                <!-- <i class="far fa-question-circle sso-accounts-tooltip" @click="goToLink($event, 'macAddr')" title="How It Works"></i> -->

                                <div class="sso-info-container">
                                </div>
                            </span>

                            <div class="sso-text-info-form">
                                <p class="sso-text-info">
                                    <a class="sso-a-link overide-font-size-13" @click="hideTooltip" :href="customerIdLink[0].link" target="_blank">
                                        {{ customerIdLink[0].name }}
                                    </a>
                                    <br><br>
                                    <a class="sso-a-link overide-font-size-13" @click="hideTooltip" :href="boxMacAddressLink[0].link" target="_blank">
                                        {{ boxMacAddressLink[0].name }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                        </div>
                    </div>
                    <!--Success Saving Account-->
                    <link-success v-if="successSave" @OK="_continue"></link-success>
                    <!--End Success Saving Account-->
                </form>
            </div>
        </div>
        <!--End Add IPTV Account Form-->

        <!--Delete IPTV Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteIptvActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteIptvActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete IPTV Account Form-->
	</div>
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';

import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);

export default {
    data: () => ({
        deleteIptvActive: false,
        formActive: false,
        hasError: false,
        
        errorStatus: null,
        errorMessage: null,
        errorDetails: null,

        hasErrorResponse: false,

        iptvAccount: [],

        successSave: false
    }),

    watch: {
        // check if value of formActive is being change.
        // remove the error text message
        formActive: function(val) {
            this.hasError = false;
            this.hasErrorResponse = false;
            this.errorDetails = null;
            this.errorStatus = null;
            this.errorMessage = null;
        }
    },

    computed: {
        ...mapState(['links']),

        // get the urlLinks for tooltip of curtomer Id
        customerIdLink: function() {
            return (this.links || []).filter(r => r.elementId === 'customerId');
        },

        // get the urlLinks for tooltip of box mac address
        boxMacAddressLink: function() {
            return (this.links || []).filter(r => r.elementId === 'boxMacAddress');
        },

        // get the urlLinks for tooltip of Account Number
        tfcAccountNumber: function() {
            return (this.links || []).filter(r => r.elementId === 'tfcAccountNumber');
        },

        LearnMore: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        }
    },
 
    methods: {
        // toggle the content of tfc-iptv item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tfc-iptv-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        // function to show the dialog delete form for tfc iptv
        showDeleteModal: function(_account) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into forDeleteAccount variable
            this.forDeleteAccount = _account;
            // set deleteIptvActive to true this it to show the dialog
            this.deleteIptvActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        // function to redirect to the links given in cms
        goToLink: function(e, _id) {
            let target = e.target.textContent;
            let link = _id === "custId" ? this.customerIdLink[0].link : this.boxMacAddressLink[0].link;
            window.open(link, target);
        },

        // function to delete the Tfc account
        deleteAccount: function() {
            return new Promise((resolve) => {
                let referenceNum = this.forDeleteAccount.referenceType === "customerid" ? this.forDeleteAccount.customerID : this.forDeleteAccount.boxMacAddress;

                this.$http.post("/api/Profile/RemoveIPTV", {
                    uid: this.$user.UID,
                    lastName: this.forDeleteAccount.lastName,
                    product: this.forDeleteAccount.productName,
                    referenceNumber: referenceNum,
                    referenceType: this.forDeleteAccount.referenceType 
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        // remove the object forDeleteAccount into iptvAccount variable.
                        _.pull(this.iptvAccount, this.forDeleteAccount);
                        // set deleteIptvActive to false to hide the dialog
                        this.deleteIptvActive = false;

                        this.removeStyleAttr();
                    }
                    resolve();
                }).catch(function(error) {
                    alert("Failed");
                });
            });
        },

        // saving a new tfc dth account
        submit: function() {
            return new Promise((resolve) => {
                // passing the value of boxMacAddress input into variable - macAddr
                let macAddr = this.$refs.boxMacAddress.value.trim();
                // passing the value of customerID input into variable - custID
                let custID = this.$refs.customerID.value.trim();
                
                // determine the referenceType
                let refType = custID != "" ? "customerid" : "boxrefno";
                // determine the reference Number
                let refNumber = custID != "" ? custID : macAddr;

                if (macAddr == "" && custID == "") {
                    this.hasError = true;
                    resolve();
                } else {
                    this.$http.post("/api/Profile/AddIPTV", {
                        uid: this.$user.UID,
                        lastName: this.$user.profile.lastName,
                        product: 'IPTV',
                        referenceNumber: refNumber,
                        referenceType: refType 
                    }).then((response) => {
                        if (response.data.errorCode === 0) {
                            this.iptvAccount.push(response.data.globalIptv);
                            // this.formActive = false;
                            this.hasErrorResponse = false;

                            this.successSave = true;
                            resolve();
                        } else {
                            this.errorStatus = response.data.status;
                            this.errorMessage = response.data.statusMessage;
                            this.errorDetails = response.data.statusDetails;
                            this.hasErrorResponse = true;
                            resolve();
                        }
                    }).catch(function(error) {
                        alert("Failed Saving.");
                    });

                }
            });
        },

        _continue: function() {
            this.formActive = false;
            this.successSave = false;
        }
    },

    created() {
        // put all the tfc(iptv) account into iptvAccount variable when the component is created. this is to display in markup
        this.iptvAccount = this.$user.data.globalIptv ? this.$user.data.globalIptv : [];
    }
}
</script>