<template>
    <div class="sso-accounts-list-container sso-accounts-osn">
		<div class="sso-accounts-osn-header sso-accounts-header" @click="toggleSlide">
			<span class="f-w-500">TFC (OSN)
                <i class="far fa-question-circle sso-account-tooltip-tfc-osn" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
			<i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-tfc-osn-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TFC OSN gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
		</div>
		<div class="sso-account-items">
			<ul>
				<li v-for="osn in osnAccount">
					<span>{{ osn.customerID }}</span>
					<a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(osn)">Delete</a>
				</li>
			</ul>
			<div class="sso-add-osn-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add OSN Account</a>
            </div>
		</div>
		<!--Add osn Account Form-->
		<div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-osn-form">
                <h4 class="sso-form-title">ADD OSN ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div class="sso-error-response" v-if="hasErrorResponse">
                        <p class="sso-accounts-error-text">{{ errorStatus }}</p>
                        <p class="sso-accounts-error-text">{{ errorMessage }}</p>
                        <p class="sso-accounts-error-text">{{ errorDetails }}</p>
                    </div>
                    <div class="sso-input-container">
                        <label>OSN Customer Number</label>
                        <span class="inline-block">
                            <input 
                                autocomplete="off" 
                                type="text" 
                                class="sso-input-text" 
                                name="custNumber" 
                                :class="{ 'has-error': required }" 
                                ref="osnCustomerId"
                                @input="validateInput" />
                            <div class="sso-info-container">
                                <p class="sso-error-message" v-if="required">OSN Customer Number is required.</p>
                            </div>
                        </span>
                        <p class="sso-text-info">
                            Please make sure that the last name of the subscriber is the same last name you used in Kapamilya Accounts
                            <br><br>
                            Find out how to check your OSN Customer Number<br> by clicking 
                            <a class="sso-a-link" :href="Link[0].link" target="_blank">
                                here
                            </a>.
                        </p>
                    </div>
                    <div class="sso-btn-container">
                        <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                        <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <!--End Add osn Account Form-->

        <!--Delete osn Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteOsnActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteOsnActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete osn Account Form-->
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    data: () => ({
        deleteOsnActive: false,
        formActive: false,
        customerNumberInfo: false,
        osnAccount: [],

        hasErrorResponse: false,
        errorDetails: null,
        errorStatus: null,
        errorDetails: null,
        required: false,

        forDeleteAccount: null
    }),
    
    computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'osnAccountNumber');
        }
    },

    watch: {
        formActive: function(val) {
            this.hasErrorResponse = false;
            this.errorDetails = null;
            this.errorStatus = null;
            this.errorMessage = null;
        }
    },
 
    methods: {
        validateInput: function() {
            if (this.$refs.osnCustomerId.value === '' || this.$refs.osnCustomerId.value === null) {
                this.required = true;
            } else {
                this.required = false;
            }
        },

        toggleSlide: function(e) {
            $('.sso-accounts-osn-header').find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $('.sso-accounts-osn-header').parents('.sso-accounts-list-container').find('.sso-account-items');

            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tfc-osn-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        showDeleteModal: function(_account) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            this.forDeleteAccount = _account;
            this.deleteOsnActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        deleteAccount: function() {
            return new Promise((resolve) => {
                this.$http.post("/api/Profile/RemoveOSN", {
                    uid: this.$user.UID,
                    lastName: this.forDeleteAccount.lastName,
                    product: this.forDeleteAccount.productName,
                    referenceNumber: this.forDeleteAccount.customerNumber,
                    referenceType: 'osncustomerid'
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        _.pull(this.osnAccount, this.forDeleteAccount);
                        this.deleteOsnActive = false;
                        this.removeStyleAttr();
                    }
                    resolve();
                }).catch(function(error) {
                    console.log(error);
                });
            });
        },

        submit: function() {
            return new Promise((resolve) => {
                this.validateInput();
                if (this.required) {
                    resolve();
                    return;
                }

                this.$http.post("/api/Profile/AddOSN", {
                    uid: this.$user.UID,
                    lastName: this.$user.profile.lastName,
                    product: 'OSN',
                    referenceNumber: this.$refs.osnCustomerId.value.trim(),
                    referenceType: 'osncustomerid' 
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        this.osnAccount.push(response.data.globalOsn);
                        this.formActive = false;
                        this.hasErrorResponse = false;
                        resolve();
                    } else {
                        this.errorStatus = response.data.status;
                        this.errorMessage = response.data.statusMessage;
                        this.errorDetails = response.data.statusDetails;
                        this.hasErrorResponse = true;
                        resolve();
                    }
                }).catch(function(error) {
                    console.log(error);
                });
            });
        }
    },

    created() {
        this.osnAccount = this.$user.data.globalOsn ? this.$user.data.globalOsn : [];
    }
}
</script>