<template>
    <div class="sso-accounts-list-container sso-accounts-tfc-online">
		<div class="sso-accounts-tfc-online-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
			<span class="f-w-500">TFC Online
                <i class="far fa-question-circle sso-account-tooltip-tfc-online" 
                    @click="showTooltip" 
                    @mouseenter="showTooltip" 
                    @mouseleave="hideTooltip">
                </i>
            </span>
			<i class="fa fa-chevron-down"></i>
            <div class="sso-tooltip sso-tfc-online-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TFC Online gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
		</div>
		<div class="sso-account-items">
			<ul>
				<li v-for="tfcOnline in tfcOnlineAccount">
					<span>{{tfcOnline.email}}</span>
					<a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteModal(tfcOnline)">Delete</a>
				</li>
			</ul>
			<div class="sso-add-tfc-account" v-if="!formActive">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add TFC Online Account</a>
            </div>
		</div>
		<!--Add tfc Account Form-->
		<div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form sso-tfc-form">
                <h4 class="sso-form-title">ADD TFC ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div v-if="!successSave">
                        <div class="sso-error-response" v-if="hasErrorResponse">
                            <p class="sso-accounts-error-text">{{ errorStatus }}</p>
                            <p class="sso-accounts-error-text">{{ errorMessage }}</p>
                            <p class="sso-accounts-error-text">{{ errorDetails }}</p>
                        </div>
                        <div class="sso-input-container">
                            <label class="sso-lbl-email-add">Email Address</label>
                            <span class="inline-block">
                                <input autocomplete="off" type="text" 
                                    class="sso-input-text sso-accounts-email" 
                                    name="emailAdd" 
                                    :class="{ 'has-error': required || invalidEmail }" 
                                    ref="emailAdd"
                                    @input="validateInput" />
                                <div class="sso-info-container">
                                    <p class="sso-error-message" v-if="required">Email is required.</p>
                                    <p class="sso-error-message" v-if="invalidEmail">Invalid email address. Please check.</p>
                                </div>
                            </span>
                            <p class="sso-text-info">
                                Please make sure that the email address you use to access TFC Online is the same email address you used to register for your Kapamilya Account / Kapamilya Thank You membership.
                            </p>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">SUBMIT</button>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                        </div>
                    </div>
                    <!--Success Saving Account-->
                    <link-success v-if="successSave" @OK="_continue"></link-success>
                    <!--End Success Saving Account-->
                </form>
            </div>
        </div>
        <!--End Add tfc Account Form-->

        <!--Delete tfc Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteDthActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0)" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteDthActive=false">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete tfc Account Form-->
	</div>
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';

import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);

export default {
    data: () => ({
        deleteDthActive: false,
        formActive: false,
        tfcOnlineAccount: [],

        hasErrorResponse: false,
        errorDetails: null,
        errorStatus: null,
        errorDetails: null,
        required: false,
        invalidEmail: false,

        forDeleteAccount: null,

        successSave: false
    }),

    watch: {
        // check if value of formActive is being change.
        // remove the error text message
        formActive: function(val) {
            this.resetErrors();
        }
    },
    
    computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        }
    },

    methods: {
        isEmail: function() {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(this.email);
        },

        validateInput: function() {
            if (this.$refs.emailAdd.value === '' || this.$refs.emailAdd.value === null) {
                this.required = true;
                this.invalidEmail = false;
            } else {
                this.required = false;
            }
        },
        // toggle the content of tfc item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tfc-online-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        showDeleteModal: function(_account) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into forDeleteAccount variable
            this.forDeleteAccount = _account;
            // set deleteDthActive to true this it to show the dialog
            this.deleteDthActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        deleteAccount: function() {
            return new Promise((resolve) => {
                
            });
        },

        submit: function() {
            return new Promise((resolve) => {
                this.validateInput();
                if (this.required) {
                    resolve();
                    return;
                }
                if (!this.isEmail()) {
                    this.required = false;
                    this.invalidEmail = true;
                    resolve();
                    return;
                }
            });
        },

        resetErrors: function() {
            this.hasErrorResponse = false;
            this.errorDetails = null;
            this.errorStatus = null;
            this.errorMessage = null;
            this.required = false;
            this.invalidEmail = false;
        },

        _continue: function() {
            this.formActive = false;
            this.successSave = false;
        }
    },

    created() {
    }
}
</script>