<template>
	<div>
		<div class="sso-tooltip left-tooltip sso-abs-cbn-tooltip" @click="stopPropagation" @mouseenter="showTooltip" @mouseleave="hideTooltip">
		    <span>Linkging your ABS-CBN Mobile gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
		    <br /><br />
		    <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
		</div>

		<div class="sso-tooltip left-tooltip sso-sky-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
		    <span>Linkging your SKY Accounts gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
		    <br /><br />
		    <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
		</div>

		<div class="sso-tooltip left-tooltip sso-tvplus-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
		    <span>Linkging your TV Plus gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
		    <br /><br />
		    <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	name: 'sso-account',

	data: () => ({
	}),

	computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        }
    },

	methods: {
		stopPropagation: function(e) {
            e.stopPropagation();
        },

        showTooltip: function(e) {
        	$(e.target).show();
        },

        hideTooltip: function() {
        	$('.sso-tooltip').hide();
        }
	}
}
</script>