<template>
    <!--TVPLUS ACCOUNTS-->
    <div class="sso-accounts-list-container sso-accounts-tvplus">
        <div class="sso-account-tvplus-header sso-accounts-header" ref="tfcHeader" @click="toggleSlide">
            <span class="f-w-500">ABS-CBN TVplus <i class="far fa-question-circle sso-account-tooltip-tvplus" @click="showTooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip"></i></span>
            <i class="fa fa-chevron-down"></i>

            <div class="sso-tooltip sso-tvplus-tooltip" @mouseenter="showTooltip" @mouseleave="hideTooltip" @click="stopPropagation">
                <span>Linking your TVplus gives you more<br><strong>Kapamilya Thank you Points.</strong></span>
                <br /><br />
                <a class="sso-a-link" @click="hideTooltip" :href="Link[0].link" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="sso-account-items">
            <ul>
                <li v-for="dtt in tvPlus" :class="{'sso-dtt' : tvPlus.length >= 2}">
                    <span>{{ dtt.boxID }}</span>
                    <a class="sso-a-link overide-font-size-14 sso-account-delete" @click="showDeleteForm(dtt)">Delete</a>
                </li>
            </ul>
            <div class="sso-add-tvplus-account" v-if="!formActive && !checkDTTAccount()">
                <a class="sso-a-link overide-font-size-14" href="javascript:void(0);" @click="formActive=true">+ Add TVplus Account</a>
            </div>
        </div>

        <!--Delete Tvplus Account Form-->
        <transition name="fade">
            <div class="sso-lightbox-form" v-if="deleteTvPlusActive">
                <div class="sso-account-form-container">
                    <div class="sso-account-form sso-width-100-perc">
                        <h4 class="sso-form-title">DELETE ACCOUNT</h4>
                        <div class="sso-form overide-margin-top">
                            <div class="sso-input-container">
                                <p class="sso-account-verif-info">
                                    By clicking Yes, you will no longer receive Thank You points for this account.
                                </p>
                            </div>
                            <div class="sso-btn-container">
                                <button type="submit" class="sso-btn-add-save" v-promise-btn @click="deleteAccount">
                                    YES
                                </button>
                                <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="deleteTvPlusActive=false">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--End Delete Tvplus Account Form-->

        <!--Add Tvplus Account Form-->
        <div class="sso-account-form-container" v-if="formActive">
            <div class="sso-account-form">
                <h4 class="sso-form-title">ADD TVPLUS ACCOUNT</h4>
                <form class="sso-form" v-on:submit.prevent>
                    <div v-if="!successSave">
                        <div class="sso-input-container tvplus">
                            <label>TVPlus Account</label>
                            <span class="inline-block">
                                <input 
                                    autocomplete="off" 
                                    type="text" 
                                    class="sso-input-text" 
                                    name="tvplusAccount" 
                                    :class="{ 'has-error': required || invalidBoxId }" 
                                    ref="tvplus" 
                                    @input="validateInput" />
                                <i class="far fa-question-circle sso-accounts-tooltip" 
                                    @click="showTooltipInside" 
                                    @mouseenter="showTooltipInside" 
                                    @mouseleave="hideTooltip">
                                </i>
                                <div class="sso-info-container">
                                    <p class="sso-error-message" v-if="required">
                                        Tvplus account is required.
                                    </p>
                                    <p class="sso-error-message" v-if="invalidBoxId">{{ errorBoxIDText }}</p>
                                </div>
                                <div class="sso-tooltip">
                                    Press the INFO/BOX ID (green button) in your TVplus remote for your Box ID.
                                </div>
                            </span>
                        </div>
                        <div class="sso-btn-container">
                            <button type="submit" class="sso-btn-add-save" v-promise-btn @click="saveTvPlus">SUBMIT</button>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="formActive=false">Cancel</a>
                        </div>
                    </div>
                    <!--Success Saving Account-->
                    <link-success v-if="successSave" @OK="_continue"></link-success>
                    <!--End Success Saving Account-->
                </form>
            </div>
        </div>
        <!--End Add Tvplus Account Form-->
    </div>
    <!--END TVPLUS ACCOUNTS-->
</template>

<script>
import Vue from 'vue';
import { mapState } from 'vuex';
import LinkSuccess from 'components/AccountLingking/AccountSuccess/LinkSuccess';

Vue.component("link-success", LinkSuccess);

export default {
    data: () => ({
        invalidBoxId: false,
        errorBoxIDText: null,
        deleteTvPlusActive: false,
        formActive: false,
        tvPlus: [],
        toDelete: null,

        required: false,

        successSave: false
    }),

    watch: {
        formActive: function(val) {
            this.required = false;
            this.invalidBoxId = false;
            this.errorBoxIDText = null;
        }
    },

    computed: {
        ...mapState(['links']),

        Link: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsLearnMore');
        },

        tvPlusBoxIdLinkInfo: function() {
            return (this.links || []).filter(r => r.elementId === 'accountsTvPlusBoxIdInfo');
        }
    },
 
    methods: {
        validateInput: function() {
            this.invalidBoxId = false;
            if (this.$refs.tvplus.value === '' || this.$refs.tvplus.value === null) {
                this.required = true;
            } else {
                this.required = false;
            }
        },
        // toggle the content of tvplus/dtt item
        toggleSlide: function(e) {
            let el = this.$refs.tfcHeader;
            $(el).find('.fa').toggleClass('fa-chevron-up fa-chevron-down');
            var toggleSlide = $(el).parents('.sso-accounts-list-container').find('.sso-account-items');

            // set the formActive into false to make sure it is not displayed yet.
            this.formActive = false;

            toggleSlide.slideToggle('fast');
        },

        // to remove the add tvplus link if has already 2 tvplus accounts registered on it's account.
        checkDTTAccount: function() {
            return this.tvPlus.length === 2;
        },

        // function to show the tooltip on the outside of form.
        showTooltip: function(e) {
            e.stopPropagation();
            $('.sso-accounts .sso-tooltip').hide();

            $('.sso-tvplus-tooltip').show();
        },
        // to stop the propagation when clicking on some clickable element.
        stopPropagation: function(e) {
            e.stopPropagation();
        },

        // hiding all the tooltip active
        hideTooltip: function() {
            $('.sso-accounts .sso-tooltip').hide();
        },

        // show the tooltip inside the form.
        showTooltipInside: function(e) {
            e.stopPropagation();
            $('.sso-accounts').find('.sso-tooltip').hide();
            $(e.target).parent().find('.sso-tooltip').show();
        },

        // saving the tvplus/dtt accounts.
        saveTvPlus: function() {
            // passing the value of tvplus input into variable - val
            let val = this.$refs.tvplus.value.trim();
            // new promise function is for submmiting the form and resolve param is a function to resolve or remove the loading while submiting the form.
            return new Promise((resolve) => {
                this.validateInput();
                
                if (this.required) {
                    resolve();
                    return;
                }
                
                let apiURL = '/api/Profile/AddTVPlus?UID=' + this.$user.UID;
                
                this.$http.post(apiURL, {
                    boxID: val.toUpperCase()
                }).then((response) => {
                    if (!response.data.status) {
                        // if has error display the error message via the code below.
                        this.errorBoxIDText = response.data.message;
                        this.invalidBoxId = true;
                    } else {
                        // this.successSave = true;
                        this.formActive = false;
                        // push the new data added into tvPlus variable or container to be display in markup
                        this.tvPlus.push(response.data.data);
                    }
                    // call the resolve to remove the loading
                    resolve();
                }).catch(function(error) {
                    alert("Failed Saving.");
                });
            });
        },

        // function to show the dialog delete form for tvplus/dtt
        showDeleteForm: function(dtt) {
            $('.sso-right-content-container').attr('style', 'overflow:initial !important; -webkit-overflow-scrolling: initial !important;');
            // pass the value or object to be deleted into toDelete variable
            this.toDelete = dtt;
            // set deleteTvPlusActive to true
            this.deleteTvPlusActive = true;
        },

        removeStyleAttr: function() {
            var time = setTimeout(function() {
                $('.sso-right-content-container').removeAttr('style');
                clearTimeout(time);
            }, 300);
        },

        // function to delete the tvplus account.
        deleteAccount: function() {
            return new Promise((resolve) => {
                // remove the object toDelete into tvPlus variable.
                _.pull(this.tvPlus, this.toDelete);
                // call the setAccountInfo to save the deleted data into gigya
                this.setAccountInfo(resolve);
            });
        },

        setAccountInfo: function(resolve) {
            let params = {
                data: {
                    dtt: JSON.parse(JSON.stringify(this.tvPlus))
                },
                callback:(response) => {
                    if (response.errorCode === 0) {
                        this.deleteTvPlusActive = false;
                        this.removeStyleAttr();
                    }
                    resolve();
                }
            };
            // refer to gigya developer document.
            gigya.accounts.setAccountInfo(params);
        },

        _continue: function() {
            this.formActive = false;
            this.successSave = false;
        }
    },

    created() {
        // put all the tvPlus/dtt account into tvplus variables when the component is created. this is to display in markup
        this.tvPlus = this.$store.getters.tvPlus;
    }
}
</script>