<template>
  <div :class="[`v-step-list-containers v-step-warp-${direction}`, styleType]">
    <ul class="v-step-list">

      <li
        v-for="(label, index) in nowStep"
        :key="index"
        class="v-step-item"
        :style="handleResizeStyleList()"
        @click="selectItem(label, index)">

        <label 
          class="v-step-item-label"
          :style="activeLabelColor(index, label)">
          {{ label.title }}
        </label>

        <div class="line-hidden" :style="handleResizeStyle()">
        </div>
        
        <div class="line" :style="label.isActive ? 'background: #3c5548;opacity: 1;width:100%;' : null ">
        </div>
        
        <div class="v-step-item-number" :style="itemNumberStyle(label, index, null)">
          <i class="fas fa-check" style="font-size: 10px;" v-if="label.isActive"></i>
        </div>
        
      </li>

      <!-- List item for complete status of wizard -->
      <li class="v-step-item" style="width: 60px;">
        <label class="v-step-item-label" style="margin-left:-20px;" :style="activeLabelColor(nowStep.length, nowStep)"> Complete </label>
        <div class="v-step-item-number" :style="isCompletedStyle()">
          <i class="fas fa-check" style="font-size: 10px;"  v-if="isCompleted()"></i>
        </div>
      </li>

    </ul>
  </div>
</template>

<script>
  export default {
    name: 'vue-step',
    props: {
      nowStep: {
        type: Array,
        required: true
      },
      stepList: {
        type: Array,
        required: true
      },
      activeColor: {
        type: String,
        default: '#3cb878'
      },
      styleType: {
        type: String,
        default: 'style1',
        validator: (value) => {
          return ['style1', 'style2'].indexOf(value) !== -1
        }
      },
      direction: {
        type: String,
        default: 'horizontal'
      }
    },
    computed: {
      stepItemWidth () {
        return 100 / this.stepList.length
      }, 
      progressStyle () {

        let oStyle = {
          'background-color': this.activeColor
        }
        if (this.direction === 'vertical') {
          oStyle.height = this.stepItemWidth * this.nowStep + '%'
        } else {
          oStyle.width = this.stepItemWidth * this.nowStep + '%'
        }
        return oStyle 
      },
    },
    data() {
      return {
        isComplete: false,
      }
    },
    methods: {


      isCompleted() {
        let nowStep = this.nowStep.filter( m => m.isActive === true);
        if( nowStep.length >= 6 ) {
          return true;
        }
        else {
          return false;
        }
      },

      isCompletedStyle() {
        let nowStep = this.nowStep.filter( m => m.isActive === true);
        if( nowStep.length >= 6 ) {
          return {
            'background-color': this.activeColor,
            'color': '#fff',
            'border' :'none'
          };
        }
        else {
          return {};
        }
      },

      completeStyle() {
        for (let i = 0; i < this.nowStep.length; i++) {
          const e = this.nowStep[i];

          if(!e.isActive) {
            var style = {
              'background-color': this.activeColor,
              'color': '#fff',
              'border' :'none'
            } 
            return style;
          }
        }
      },

      itemNumberStyle (props, index, completed) {
        let style = ''
        if (props != null) {

          if(props.isActive) {
            style = {
              'background-color': this.activeColor,
              'color': '#fff',
              'border' :'none'
            } 
          }
        }
        return style
      },
      activeLabelColor(index, props) {
        let style = ''
        if (index < this.nowStep) {
          style = {
            'color': this.activeColor,
          }
        }

        if(props.x != null || props.x != 0) {
          style = {
            'color': this.activeColor,
            'margin-left' : props.x +'px'
          }
        }
        return style
      },
      showItemNumber (index) {
        return this.styleType !== 'style2' ? index + 1 : ''
      },
      selectItem (label, itemIndex) { 
        this.$emit('selected', this.showItemNumber(itemIndex))
      },

      horizontalItemWidth (index) {
        var oStyle = this.direction === 'vertical' ? '' : { width: this.stepItemWidth + '%' };

          if(index == 0) {
            oStyle = { width: this.stepItemWidth + '%', 'margin-left': '10px'};
          }
        
        return oStyle;
      },

      handleResizeStyle() {
        if(window.innerWidth <= 768) {
          return 'width:100px;';
        }
        else {
          return { width: this.stepItemWidth + '%' };
        }
      },

      handleResizeStyleList() { 
          return { width: this.stepItemWidth + '%' };
      },

      handleResize(index) {
        var oStyle;
        // if(window.innerWidth >= 768) {
          oStyle =  { width: this.stepItemWidth + '%' };
        // }
        // else {
        //   oStyle = { width: 100 + 'px'};
        // }
        return oStyle;
      }
    },
    created() {
      window.addEventListener('resize', this.handleResizeStyle)
      window.addEventListener('orientationchange', this.handleResizeStyle)
      this.handleResizeStyle();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style lang="scss">
  @media (max-width: 767px) {
    .v-step-list-containers {
      overflow: auto;
      height: 100px;
      ul {
        li {
          label  {
            font-size: 12px;
          }
        }
      }
    }
  }
  .v-step-warp-horizontal {
    position: relative;
    padding: 10px 0;
    z-index: 2;
  }
  .v-step-warp-horizontal .v-step-progress-bg {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 22px;
    background-color: #3c5548;
    visibility: hidden;
  }
  .v-step-warp-horizontal .v-step-progress-value {
    position: inherit;
    top: 0;
    left: 0;
    height: 2px;
  }
  .v-step-list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    user-select: none;
  }
  .v-step-list,
  .v-step-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .v-step-warp-horizontal .v-step-list {
    justify-content: space-around;
    text-align: right;
  }
  .v-step-item-label {
    position:absolute;
    top: 20px;
    font-size: 12px;
    color: #666;
    margin-top:10px;
    margin-left: -8px;
  }
  .v-step-item-number {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    color: #666;
    background-color: #252525;
    border: 2px solid #9a9a9a;
    float: left;
    text-align:center;
  }
  .v-step-warp-horizontal .v-step-item-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .v-step-warp-horizontal .v-step-item-number {
    margin: 5px auto;
  }
  .v-step-warp-horizontal.style2 .v-step-progress-bg {
    height: 1px;
    bottom: 19px;
  }
  .v-step-warp-horizontal.style2 .v-step-item-number {
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  .v-step-warp-vertical {
    position: relative;
    padding: 0;
    z-index: 2;
  }
  .v-step-warp-vertical .v-step-progress-bg {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 15px;
    background-color: red;
  }
  .v-step-warp-vertical .v-step-progress-value {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
  }
  .v-step-warp-vertical .v-step-list {
    height: inherit;
    flex-direction: column;
    padding-left: 8px;
  }
  .v-step-warp-vertical .v-step-item {
    display: -webkit-flex;
    display: flex;
    height: 25%;
    align-items: center;
  }
  .v-step-warp-vertical .v-step-item-number {
    text-align: right;
  }
  .v-step-warp-vertical .v-step-item-label {
    position: absolute;
    order: 1;
    padding-left: 34px;
  }
  .v-step-warp-vertical.style2 .v-step-progress-bg {
    width: 2px;
  }
  .v-step-warp-vertical.style2 .v-step-item-number {
    width: 6px;
    height: 10px;
    line-height: 10px;
    margin-left: 3px;
  }
  .v-step-warp-vertical.style2 .v-step-item-label {
    padding-top: 0;
  }
  .line, 
  .line-hidden {
    width:100%;
    height:1px;
    background: #040404;
    position:relative;
    top:14px;
    z-index:-1;
    padding-left:20px;
    transition: all 1s ease;
  }
  .line-hidden {
    // visibility: hidden !important;
  }
  .list-step-item {

  }
</style>
