<template>
    <div class="ob-address-container" :style=" !isAddressActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Address</h4>
        </div>

        <div class="form-container">

            <div class="field-container first-container">
                <div class="label-container">
                    <label>Home Number</label>
                </div>
                <div class="input-container">
                    <input 
                        v-on:input="onchangeInput"
                        type="text" placeholder="0000" v-model="homeNumber" class="sso-text-field">
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                    <label>Street Address</label>
                </div>
                <div class="input-container">
                    <input 
                        v-on:input="onchangeInput" 
                        type="text" placeholder="Street Address" v-model="streetAddress" class="sso-text-field">
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                    <label>City</label>
                </div>  
                <div class="input-container">
                    <input 
                        v-on:input="onchangeInput"
                        type="text" placeholder="City" v-model="city" class="sso-text-field">
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                    <label>Country of Residence</label>
                </div>
                <div class="input-container">
                    <v-select 
                        label="countryName" 
                        class="sso-country" 
                        v-model="country"
                        :value="country"
                        :options="countries">
                    </v-select>
                </div>


            </div>

            <div class="field-container">
                <div class="label-container">
                    <label>Province / State</label>
                </div>  
                <div class="input-container" v-if="!hasStateOrProvince">
                    <input 
                        v-on:input="onchangeInput"
                        type="text" placeholder="Province / State" v-model="stateOrProvince" class="sso-text-field">
                </div> 
                <div class="input-container" v-if="hasStateOrProvince">
                    <v-select 
                        autocomplete="off"
                        label="stateProvince" 
                        class="sso-country" 
                        v-model="stateOrProvince"
                        :options="stateOrProvinceList">
                    </v-select>
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                    <label>Zip Code</label>
                </div>  
                <div class="input-container">
                    <input 
                        v-on:input="onchangeInput"
                        type="text" placeholder="Zip Code" v-model="zipCode" class="sso-text-field">
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                </div>  
                <div class="input-container">
                    <div class="error-messages" v-if="errorMessage">
                        <p class="sso-error-message" >{{ errorMessage }}</p>
                    </div>
                </div>
            </div>

            <div class="sso-btn-link" v-if="isAddressActive">
                <a href="javascript:void(0);" @click.prevent="backField"> < Back </a>
                <span class="separator"> | </span>
                <a href="javascript:void(0);" @click.prevent="saveOnly">
                    <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmittingSaveOnly"></i>
                    Save only
                </a>
            </div>
            
            <div class="save-button">      
                <button type="button" v-if="isAddressActive" class="sso-btn" @click="saveAddress()" :disabled=" onSubmitting ">
                    <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                    Submit
                </button>      
            </div>

            <div class="divider"></div>
            
        </div>

        <beacon-animation :hideIcon="true" :mode="beaconAniMode"></beacon-animation>        

    </div>
</template>

<script>

import BeaconAnimation from './Features/BeaconAnimation';
import axios from 'axios';
import vSelect from 'vue-select';

import { mapState } from 'vuex';
import { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-address',
    props: {
        isAddressActive: {
            type: Boolean,
            default : true
        }
    },
    components:  {
        BeaconAnimation,
        vSelect
    },
    data: () => ({
        beaconAniMode : 'not-started',
        disableForm : {
            'pointer-events': 'none', 
            'opacity': '0.2'
        },

        showButton: false,
        onSubmitting : false,
        onSubmittingSaveOnly: false,
        errorMessage : null,
        
        homeNumber : null,
        streetAddress: null,
        city : null,
        country: "Philippines",
        stateOrProvince: null,
        zipCode: null,

        stateOrProvinceList : [],
        hasStateOrProvince : false,

        showBtnLink : false
    }),

    updated() {
        if(this.isAddressActive) {
            this.showBtnLink = true;
            this.showButton = true;
            this.isAddressActive = true;
        }
    },

    watch: {
        isAddressActive(e) {
            if(e) {
                this.beaconAniMode = 'animating';
            }
        },
        country(e) {
            if( !isEmpty(e) ) {
                this.$http.get('/api/Profile/StateAndProvinces?countryCode=' + e.countryCode).then((res) => {

                    res = res.data;

                    this.showButton = true;
                    this.showBtnLink = true;

                    if (res.length > 0) {
                        this.stateOrProvinceList = res;
                        this.hasStateOrProvince = true;
                    } else {
                        this.hasStateOrProvince = false;
                    }
                });
            }
            
        }
    },
    methods: {
        backField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 4
            });
            this.beaconAniMode = 'not-started';
        },
        saveAddress(saveOnly) {
            return new Promise((resolve) => {

                if(!saveOnly) {                
                    if( 
                        isEmpty(this.homeNumber) ||
                        isEmpty(this.streetAddress) ||
                        isEmpty(this.city) ||
                        isEmpty(this.country) ||
                        isEmpty(this.zipCode) ) {
                            this.errorMessage = 'Please complete all address fields';
                            return;
                     }

                    this.onSubmitting = true;
                    
                }
                else {
                    this.onSubmittingSaveOnly = true;
                }

                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };

                this.stateOrProvince  = typeof this.stateOrProvince === 'object' ? this.stateOrProvince.stateProvince : this.stateOrProvince;
                let data = {
                    "houseNumber": this.homeNumber ? this.homeNumber : null ,
                    "street": this.streetAddress ? this.streetAddress : null,
                    "city": this.city ? this.city : null,
                    "countryOfResidence": typeof this.country == 'object' ? this.country.countryName : this.country,
                    "province": this.stateOrProvince ? this.stateOrProvince : null,
                    "zipCode": this.zipCode ? this.zipCode : null,
                    uid: this.$user.UID
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.updateInfo/details`;

                axios
                .post(apiUrl, data, config)
                .then((res) => {

                    this.onSubmitting = false;

                    if(saveOnly) {                
                        this.onSubmittingSaveOnly = false;
                        this.errorMessage = null;
                    }

                    res = res.data;

                    if(res.statusCode === 200200) {
                        this.beaconAniMode = 'done';
                        if(!saveOnly) {
                            this.$emit('OBEmitter', {
                                wizardStep : 7
                            });
                        }

                    }
                    else {
                        this.errorMessage = res.message;
                    }

                })
                .catch(function (error) {
                    this.showButton = false;
                });

            });
        },

        saveOnly() {
            this.saveAddress(true);
        },
        onchangeInput() {
            this.beaconAniMode = 'not-started';
            this.showButton = true;
            this.showBtnLink = true;
            this.errorMessage = null;
        }

    },
    computed: {
        ...mapState(['countries']),
    },
    created() {
        
        this.beaconAniMode = this.isAddressActive ? 'animating' : 'not-started';

        var address = this.$user.data.ph;
        this.city = address.city ? address.city : '';
        
        this.country = address.country == 'PH' ? 'Philippines' : address.country;

        this.homeNumber = address.housenumber ? address.housenumber : '';
        this.stateOrProvince = address.province ? address.province : '';
        this.streetAddress = address.street ? address.street : '';
        this.zipCode = address.zipcode ? address.zipcode : '';


        if( !isEmpty(this.address) && 
            !isEmpty(this.city) && 
            !isEmpty(this.country) && 
            !isEmpty(this.homeNumber) && 
            !isEmpty(this.stateOrProvince) && 
            !isEmpty(this.streetAddress) && 
            !isEmpty(this.zipCode) ) {

            this.beaconAniMode = 'done';

        }
    }
}
</script>

<style lang="scss">
    .ob-address-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        display: flex;
        

        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
            position: absolute;
        }
        .form-container {
            width: 100%;
            max-width: 100%;
            display:grid;

            .first-container {
                margin-top: 20px;
            }

            .divider {
                height: 80px;
            }

            .field-container {
                display: flex;
                height: 50px;
                .label-container {
                    width: 300px;
                    line-height: 5;
                    text-align: right;
                    label {
                        color : #898989;
                    }
                }
                .input-container {
                    margin-left: 20px;  
                    width: 100%;

                    .v-select {
                        width: 100%;
                        position: relative;

                        .dropdown-toggle input[type=search] {
                            position: absolute;
                            left: 0;
                            padding-left: 4px;
                        }
                    }
                }
                .sso-text-field {
                    width: 100%;
                    margin-top: 20px;
                    border-bottom:1px solid #363636;
                    color : #ffffff;
                }
                .sso-country {
					width: 300px;
					margin-left: 0;
					margin-top: 18px;
				}
            }
            .error-messages{
                margin-top: 10px;
                .sso-error-message {
                    font-size: 12px;
                    color : #ed145b;
                    display:inline-block;
                }
            }
            input {
                font-size: 14px;
                border:0px;
                color:#ccc;
                z-index: 9;
            }
            a {
                font-size: 12px;
                color : #00bff3;
                margin-bottom: 10px;
            }
            .sso-btn-link {
                margin-top: 30px;
                width: 100%;
                font-size: 14px;
                text-align: center;
                a {
                    text-decoration: none;
                }
                .separator {
                    color: #7b7b7b;
                    margin: 5px 5px;
                }
            }
            .save-button {
                width: 100%;
                text-align:center;
                .sso-btn {
                    margin: 0 auto;
                    font-size: 14px;
                    margin-top: 20px;
                    border: none;
                    width: 200px;
                    height: 55px;
                    line-height: 55px;
                    display: inline-block;
                    cursor: pointer;
                    color: #fff;
                    border-radius: 1px;
                    position: relative;
                    font-weight: 600;
                    outline: none;
                    background-color: #111111;

                }
            }
        }
        .form-indicator {
            display: inline-block;
        }
        .sso-text-field {
            background-color: transparent;
            color: #fff;
            outline: none;
            border-bottom: 1px solid #464646;
            width: 300px;
            height: 30px;
            font-weight: 100;
            padding-right: 25px;
            font-size: 14px;
        }
    }
</style>