<template>
    <div class="ob-birthdate-container" :style=" !isBDateActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Birthdate</h4>
        </div>
        <beacon-animation :mode="beaconAniMode" :toolTipContent="toolTipContent"></beacon-animation>        
        <div class="form-container">
            
            <date-pick v-model="selectedDate"> </date-pick>
            
            
            <div class="error-messages" v-if="!isValidBirthdate">
                <p class="sso-error-message" >{{ errorMessage }}</p>
            </div>

            <div class="btnLink">
                <a href="javascript:void(0);" v-if="isBDateActive" class="back" @click="backField"> < Back</a>                      
                <a href="javascript:void(0);" v-if="isBDateActive" class="next" @click.prevent="nextField"> Continue > </a>  
            </div>     

            <button type="button" v-if="showButton && isBDateActive" class="sso-btn-update" @click="addBirthdate" :disabled=" onSubmitting ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                Save and continue
            </button>
        </div>
    </div>
</template>

<script>

import BeaconAnimation from './Features/BeaconAnimation';
import DatePick from '../../plugins/DatePicker/vueDatePick.vue';
import axios from 'axios';
import { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-birthdate',
    props: {
        isBDateActive: {
            type: Boolean,
            default : true
        }
    },
    components:  {
        BeaconAnimation,
        DatePick
    },
    data: () => ({
        beaconAniMode : 'not-started',

        selectedDate: 'mm/dd/yyyy',

        disableForm : {
            'pointer-events': 'none', 
            'opacity': '0.2', 
        },
        toolTipContent : 'Let us make your birthday more memorable with surprise rewards given on your special day. We also ask for this information to offer you appropriate and relevant content',
        
        errorMessage : null,

        isValidBirthdate: true,

        showButton: false,
        onSubmitting : false,


    }),
    watch: {
        isBDateActive(e) {
            if(e) {
                this.beaconAniMode = 'animating';
            }
        }, 
        selectedDate (value) {
            
            this.showButton = false;
            this.beaconAniMode = 'not-started';
            this.isValidBirthdate = true;

            if(this.isSameDateNow(value)) {
                this.errorMessage = 'Invalid birthdate.';
                this.isValidBirthdate = false;
                return;
            }


            if(this.selectedDate == 'invalid') {
                this.isValidBirthdate = false;
                this.errorMessage = 'Invalid birthdate.'
            }
            else {
                this.validateBirthdateValue(this.selectedDate);
            }

            if(this.isValidBirthdate && this.isBDateActive) { 
                this.showButton = true;
            }
        },

        
    },
    methods: {
        backField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 3
            });            
            this.isValidBirthdate = true;

            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.selectedDate) ) {
                this.beaconAniMode = 'done';
            }
        },

        nextField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 5
            });            
            this.isValidBirthdate = true;

            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.selectedDate) ) {
                this.beaconAniMode = 'done';
            }
        },

        isSameDateNow(_date) {
            var getMonth = new Date().getMonth() + 1,
                getDate = new Date().getDate().toString(),
                getFullYear = new Date().getFullYear().toString();
            getMonth = getMonth.toString().length == 1 ? '0'+getMonth : getMonth;
            getDate = getDate.length == 1 ? '0'+getDate : getDate;
            var fullDate = getMonth+'/'+getDate+'/'+getFullYear;

            if(fullDate == _date) {
                return true;
            }
            return false;
        },
        addBirthdate() {
            
            if(this.selectedDate == 'invalid') {
                this.isValidBirthdate = false;
                this.errorMessage = 'Invalid birthdate.'
            }
            else {
                this.validateBirthdateValue(this.selectedDate);
            }


            if(this.isValidBirthdate) {
                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
                let data = {
                    "birthday": this.selectedDate,
                    "uid": this.$user.UID
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.updateInfo/details`;

                this.onSubmitting = true;

                axios
                .post(apiUrl, data, config)
                .then((res) => {
                    
                    res = res.data;

                    this.onSubmitting = false
                    this.showButton = false;

                    if(res.statusCode === 200200) {
                        this.beaconAniMode = 'done';
                        // this.successMessage = res.message;
                        // this.hideSuccessMessage();
                        this.$emit('OBEmitter', {
                            wizzardStep : 5,
                        });
                    }
                    else {
                        this.errorMessage = res.message;
                    }

                })
                .catch( (error) => {
                    this.errorMessage = 'Error submitting gender';
                    this.showButton = false;
                });
            }
        },

        isValidDate(date) {
			
			var bits = date.split('/');
  
			let month = parseInt(bits[0]);
			let day = parseInt(bits[1]);
			let year = parseInt(bits[2]);  
			
			// Validate if future date
			if(this.isFutureDate(date)) {
				return false;
			}

			if(year < 1919 || year > new Date().getFullYear()) {
				return false;
			}

			if(month <  1 || month >  12){
				return false;
			} 

			if(day == 0 ){
				return false;
			}
			

			switch(month){
				case 1: case 3: case 5: case 7: case 8: case 10: case 12:
					if(day > 31)
						return false;
					return true;
				case 2:
					if (year % 4 == 0)
						if(day > 29){
							return false;
						}
						else{
							return true;
						}
					if(day > 28){
						return false;
					}
					return true;
				case 4: case 6: case 9: case 11:
					if(day > 30){
						return false;
					}
					return true;
				default:
					return false;
			}

		},

		isFutureDate(_date){
			var date = new Date();
			var curDate = new Date(_date);
			if(date < curDate) { 
                return true; 
            }
			else { 
                return false; 
            }
		},

		validateBirthdateValue(val) {
			// Validate if date is valid
			if(val.match(/^\d{1,2}\/\d{1,2}\/\d{4}$/)) {
				this.isValidDate(val) ?  this.isValidBirthdate = true : 
                    this.isValidBirthdate = false; 
                    this.selectedDate = val; 
                    this.errorMessage = 'Invalid birthdate.';
			}
			else {
				this.isValidBirthdate = true;
			}
		},
        
    },
    created() {

        this.beaconAniMode = this.isBDateActive ? 'animating' : 'not-started';

        if( this.$user.profile.birthDay != undefined || this.$user.profile.birthDay != null ) {
            let bdate = this.$user.profile;
            let birthMonth = bdate.birthMonth.toString().length == 2 ? bdate.birthMonth : '0'+bdate.birthMonth;
            let birthDay = bdate.birthDay.toString().length == 2 ? bdate.birthDay : '0'+bdate.birthDay;
            let birthYear = bdate.birthYear;
            this.selectedDate = birthMonth  +'/'+birthDay+'/'+birthYear;
        }

        if( !isEmpty(this.$user.profile.birthDay) ) {
            this.beaconAniMode = 'done';
        }
        else {
            this.showButton =  this.isValidDate(this.selectedDate);
        }
    }
}
</script>

<style lang="scss">
    .ob-birthdate-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        display: flex;
        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
        }
        .form-container {
            width: 100%;
            max-width: 100%;
            // display:grid;
            input {
                font-size: 14px;
                border:0px;
                color:#ccc;
            }
            label {
                font-size: 12px;
                color : #ed145b;
                display:inline-block;
                margin-bottom: 10px;
            }
            a {
                font-size: 12px;
                color : #00bff3;
                margin-bottom: 10px;
            }
            .error-messages {
                margin-top: 15px;
                margin-left: 3px;
                .sso-error-message {
                    font-size: 12px;
                    color : #ed145b;
                    display:inline-block;
                }
            }
            .btnLink {
                position: absolute;
                margin-top: 70px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-bottom: -80px;
                .back,
                .next {
                    font-size: 12px;
                    color : #00bff3;
                    text-decoration: none;
                }
                .next {
                    margin-left: 15px;
                }

            }
            // .back {
            //     font-size: 12px;
            //     color : #00bff3;
            //     margin-bottom: -80px;                
            //     position: absolute;
            //     margin-top: 60px;
            //     margin-left: 130px;
            //     text-decoration: none;
            // }
            .sso-btn-update {
                position:absolute;
                margin-top: 100px;
                // margin-left: 25px;
                left: calc(50% - 100px);
                width: 250px;
                font-size: 14px;
                z-index: 1;
            }
            .vdpComponent {
                top: 18px;
            }
            .sso-mt-bd-icon {
                top: 3px;
            }

        }
        .form-indicator {
            // width: 100%;
            display: inline-block;
            .tooltip-container {
                top: 310px;
            }
        }
        .sso-text-field {
            margin-top: 2px;
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            border-bottom: 1px solid #464646;
            width: 300px;
            height: 30px;
            font-weight: 100;
            padding-right: 25px;
            font-size: 14px;
        }
        
    }
</style>