<template>
    <div class="ob-email-container" :style=" !isEmailActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Email</h4>
        </div>
        <div class="form-container">
            <div class="field-container">
                <input type="text" 
                    v-model="email" 
                    v-on:input="onchangeEmail" 
                    placeholder="Enter your email address" 
                    @input="validateEmail"
                    class="sso-text-field sso-email-field"
                    :style="pendengVerification ? {'pointer-events': 'none'} : null ">

                
                <p v-if="pendengVerificationMessage">Please verify your email address by clicking on the link we sent you.</p>

                <p class="sso-error-message" v-if="required">Email is required.</p>
                <p class="sso-error-message" v-if="invalidEmail">Invalid email address. Please check.</p>
                <p class="sso-error-message" v-if="tempEmail">Temporary email is not allowed.</p>
                <p class="sso-error-message" v-if="errorMessage">{{errorMessage}}</p>
                <div class="link-container" v-if="pendengVerification">
                
                    <a href="#" class="link-btn" @click.prevent="resendEmailVerification">
                        <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                        <span>Resend Verification</span>
                    </a>

                    <span class="separator">|</span>

                    <a href="javascript:void(0);" class="link-btn continue-btn-link" @click.prevent="nextField"> Continue > </a>            
                </div>
            </div>

            <div class="btnLink" v-if="continueBtn && isEmailActive">
                <a href="javascript:void(0);" class="link-btn continue-btn-link" @click.prevent="nextField"> Continue > </a>            
            </div>
            
            <button type="button" v-if="showButton && !pendengVerification " class="sso-btn-update" @click="addEmail" :disabled=" onSubmitting ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                Save and continue
            </button>
        </div>
        <beacon-animation :hideIcon="true" :mode="beaconAniMode"/>
    </div>
</template>

<script>
import axios from 'axios';
import BeaconAnimation from './Features/BeaconAnimation';

import __ , { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-email',
    props: {
        isEmailActive: {
            type: Boolean,
            default : false
        },
        isDoneEmail: {
            type: Boolean,
            default : false
        }
    },
    components:  {
        BeaconAnimation
    },
    data: () => ({
        beaconAniMode : 'not-started',
        disableForm : { 
            'pointer-events': 'none', 
            'opacity': '0.1', 
            // 'filter': 'blur(1px)',
            // '-webkit-filter': 'blur(1px)'
        },
        email: null,//"withfbtesting@gmail.com",
        onSubmitting : false,
        onSubmittingAlreadyVerified : false,

        tempEmail: false,
        disposableEmail: null,

        // validation
        errorMessage : null,
        showButton : false,
        pendengVerification : false,
        pendengVerificationMessage : false,
        emailExist: false,
        required: false,
        hasError: false,
        invalidEmail: false,

        continueBtn : false,

    }),
    watch: {
        isEmailActive(e) {
            if(e) {
                this.checkIfHasPendingEmail();

                if( !isEmpty(this.email) ) {
                    this.beaconAniMode = 'done';
                }
                else {
                    this.beaconAniMode = 'animating';
                }
            }
        }
    },

    methods: {

        nextField() {
            this.pendengVerification = false;
            this.errorMessage = null;
            this.pendengVerificationMessage = null;
            this.showButton = false;
            this.continueBtn = false;
            if (  !isEmpty(this.$user.data.mobile) ) {
                
                const mobile = this.$user.data.mobile;
                
                const hasPrimaryMobile = mobile.filter( m => m.primary === true);
                
                // If primary mobile is empty goto mobile field else goto email field
                if( isEmpty(hasPrimaryMobile) ) {
                    this.$emit('OBEmitter', { 
                        isBack: true, 
                        wizardStep : 1
                    });
                }
                else {
                    this.$emit('OBEmitter', { 
                        isBack: true, 
                        wizardStep : 2
                    });
                }

            } else {
                this.$emit('OBEmitter', { 
                    isBack: true, 
                    wizardStep : 1
                });
            }


            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.email) ) {
                this.beaconAniMode = 'done';
            }
        },

        addEmail() {

            return new Promise((resolve) => {
                // check if email is in the list of our disposable/temporary email
                // if yes immediate return
                this.validateEmail();
                if (this.hasError) { resolve(); return; }

                if (!this.isEmail()) {
                    this.required = false;
                    this.invalidEmail = true;
                    this.hasError = true;
                    resolve();
                    return;
                }

                if (this.tempEmail) { resolve(); return; }

                let emailAddress = this.email.toLowerCase().trim().replace(/\s+/, "");



                this.validateEmail();

                this.onSubmitting = true;
                this.errorMessage = null;

                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
                let data = {
                    email: this.email,
                    sendVerification: true,
                    siteURL: window.location.origin,
                    verificationPath: "on-boarding/verify-email",
                    uid: this.$user.UID
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.addEmail`;

                axios
                    .post(apiUrl, data, config)
                    .then((res) => {

                        this.onSubmitting = false;

                        res = res.data;

                        let _addEmail = this.$user.data.secondaryEmails.push({
                            isVerified : false,
                            email: this.email
                        });

                        // Email Verification Token
                        if(res.statusCode == 203202) {
                            this.continueBtn = false;
                            this.pendengVerification = true;
                            this.pendengVerificationMessage = true;
                        }
                        else {
                            this.errorMessage = res.message;
                        }
                    });

            });

            // this.$emit('emailEmitter', {
            //     wizzardStep : 1
            // });


        },

        resendEmailVerification() {
            
            if(this.onSubmitting) return;
            
            let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
            let data = {
                email: this.email,
                siteURL: window.location.origin,
                verificationPath: "on-boarding/verify-email",
                uid: this.$user.UID                
            };

            let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.onBoardResendEmail`;

            this.onSubmitting = true;

            axios
            .post(apiUrl, data, config)
            .then((res) => {

                this.onSubmitting = false;

                res = res.data;

                if(res.statusCode == 203202) {
                    this.pendengVerification = true;
                }
                else {
                    this.errorMessage = res.message;
                }
            })
            .catch(function (error) {
                this.errorMessage = 'Error submitting email address';
                this.onSubmitting = false;
            });
        },

        alreadyVerified() {

            if(this.onSubmittingAlreadyVerified) return;
            
            let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
            let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/sso.accountInfo?UID=${this.$user.UID}&include=profile,data,loginIDs`;

            this.onSubmittingAlreadyVerified = true;
            this.pendengVerificationMessage = false;


            axios
            .get(apiUrl, config)
            .then((res) => {

                this.onSubmittingAlreadyVerified = false;

                res = res.data;
                
                let data = res.data.secondaryEmails;

                let result = data.filter(r => r.email === this.email && r.isVerified === true );

                if(result.length > 0) {
                    this.beaconAniMode = 'done';
                    this.$emit('OBEmitter', {
                        wizzardStep : 2,
                    });
                }
                else {
                    this.errorMessage = 'Your email is not yet verified';
                }
            })
            .catch( (error) => {
                this.pendengVerification = false;
                this.onSubmittingAlreadyVerified = false;
                this.errorMessage = 'An error occurred sending the request';
            });
        },
        

        onchangeEmail() {
            if(!this.isEmailActive) return;
            this.respMessage = null;
            this.beaconAniMode = 'not-started';
            this.showButton = true;
            this.errorMessage = null;
            this.onSubmitting = false;
            
            this.tempEmail = false;
            this.invalidEmail = false;
            this.required = false;
        },

        validateEmail: function() {
            this.emailExist = false;
            if (this.email === '' || this.email === null) {
                this.required = true;
                this.hasError = true;
                this.invalidEmail = false;
            } else {
                this.resetErrors();

                let _email = this.email.split("@")[1];

                if (this.disposableEmail.indexOf(_email) != -1) {
                    this.tempEmail = true;
                } else {
                    this.tempEmail = false;
                }
            }
        },

        validEmail: function() {
            this.email = this.email.toLowerCase().trim().split(" ").join("");

            if (!this.isEmail()) {
                this.required = false;
                this.invalidEmail = true;
                this.hasError = true;
            }
        },

        isEmail: function() {
          let regex = /^[a-zA-Z0-9 .!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9 ])?)*$/;
          return regex.test(this.email);
        },

        resetErrors: function() {
            this.required = false;
            this.invalidEmail = false;
            this.hasError = false;
            this.emailExist = false;
        },



        checkIfHasPendingEmail() {

            let _ = this.$user;

            if( isEmpty( _.data.secondaryEmails ) ) {
                this.continueBtn = true;    
                return
            };

            let email = _.data.secondaryEmails.filter( m => m.isVerified === false);

            this.pendengVerification = true;
            this.pendengVerificationMessage = true;

            if( !isEmpty(email) ) {
    
                email = email[0];

                this.email = email.email;

                if(!email.isVerified) {
                    this.email = email.email;
                    this.pendengVerification = true;
                    this.pendengVerificationMessage = true;
                    return;
                }
                this.pendengVerification = false;
                this.pendengVerificationMessage = null;
                this.continueBtn = true;
                this.beaconAniMode = 'done';
                // this.$emit('OBEmitter', {
                //     wizzardStep : 2
                // });


            }
            else {

                let email = _.data.secondaryEmails.filter( m => m.isVerified === true);

                email = email[0];

                this.email = email.email;

                if(email.isVerified) {
                    this.email = email.email;
                    this.pendengVerification = false;
                    this.pendengVerificationMessage = null;
                    this.continueBtn = true;
                    this.beaconAniMode = 'done';
                    // this.$emit('OBEmitter', {
                    //     wizzardStep : 2
                    // });
                    return;
                }
            }
        },
        
        
    },
    
    created() {

        
        // if isEmailActive is true and profile.email is null then call the 
        // checkIfHasPendingEmail function to get the secondaryEmails
        if(this.isEmailActive) {
            this.beaconAniMode = 'animating';

            if( !isEmpty(this.$user.profile.email) ) {
                this.email = this.$user.profile.email;
            }
        }
        else {
            this.beaconAniMode = 'done';
            this.email = this.$user.profile.email;

            if( !isEmpty(this.$user.data.secondaryEmails) ) {
                let email = this.$user.data.secondaryEmails.filter( m => m.isVerified === true);
                if(email.length > 0) {
                    this.email = email[0].email;
                }
            }
            
        }
        
        this.checkIfHasPendingEmail();

        $.getJSON("https://assets.abs-cbn.com/sso/disposable-email-server.json", (data) => {
            this.disposableEmail = data.disposableEmail;
        });
    }
}
</script>

<style lang="scss">
    .ob-email-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        display: flex;
        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
        }
        .form-container {
            display: inline-grid;
            .field-container {
                margin-top:10px;
                display: inline-grid;
            }
            input {
                font-size: 14px;
                border:0px;
                color:#ccc;
                z-index: 9;
            }
            p {
                font-size: 12px;
                color : #ed145b;
                display:inline-block;
            }
            .btnLink {
                position: absolute;
                margin-top: 100px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-bottom: -80px;
                .link-btn {
                    font-size: 12px;
                    color : #00bff3;
                    width: fit-content;
                }

            }
            .link-container {
                margin-bottom: 20px;
                .link-btn {
                    font-size: 12px;
                    color : #00bff3;
                    width: fit-content;
                }
                
                .separator {
                    color: #7b7b7b;
                    margin: 5px 5px;
                }
            }
            
            .sso-btn-update {
                position: absolute;
                left: 50%;

                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-top: 160px;
                width: 250px;
                font-size: 14px;
                margin-bottom: -80px;
                z-index: 9;
            }
        }
        .form-indicator {
            display: inline-block;
        }
        .sso-text-field {
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            border-bottom: 1px solid #464646;
            width: 300px;
            height: 30px;
            font-weight: 100;
            padding-right: 25px;
            font-size: 14px;
        }
        
    }
</style>