<template>
    <div class="ob-gender-container" :style=" !isGenderActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Gender</h4>
        </div>
        <div class="form-container">

            <div class="input-fields">
                <label class="radio-container">
                    <span class="radio-name">Male</span>
                    <input 
                        type="radio" 
                        name="radio" 
                        v-model="gender" 
                        value="m"
                        v-on:change="onchangeGender">
                    <span class="checkmark"></span>
                </label>

                <label class="radio-container rc2">
                    <span class="radio-name">Female</span>
                    <input 
                        type="radio" 
                        name="radio" 
                        v-model="gender" 
                        value="f"
                        v-on:change="onchangeGender">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="error-messages" v-if="errorMessage">
                <p class="sso-error-message" >{{ errorMessage }}</p>
            </div>

            <div class="success-messages" v-if="successMessage">
                <p class="sso-success-message" >{{ successMessage }}</p>
            </div>


            <div class="btnLink">
                <a href="javascript:void(0);" v-if="isGenderActive && backBtn" class="back" @click.prevent="backField"> < Back</a>            
                <a href="javascript:void(0);" v-if="isGenderActive" class="next" @click.prevent="nextField"> Continue > </a>  
            </div>

          

            <button type="button" v-if="showButton" class="sso-btn-update" @click="addGender" :disabled=" onSubmitting ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                Save and continue
            </button>
        </div>
        <beacon-animation :hideIcon="true" :mode="beaconAniMode"></beacon-animation>        
    </div>
</template>

<script>

import BeaconAnimation from './Features/BeaconAnimation';
import axios from 'axios';
import { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-gender',
    props: {
        isGenderActive: {
            type: Boolean,
            default : true
        }
    },
    components:  {
        BeaconAnimation
    },
    data: () => ({
        beaconAniMode : 'not-started',        
        disableForm : { 
            'pointer-events': 'none', 
            'opacity': '0.1', 
            // 'filter': 'blur(1px)',
            // '-webkit-filter': 'blur(1px)'
        },

        gender: null,

        errorMessage : null,
        successMessage : null,
        showButton : false,
        showBackButton : false,
        onSubmitting: false,

        backBtn : true
    }),
    watch: {
       isGenderActive(e) {
            if(e) {
                this.vaidatePrimaryEmailMobile();
                this.beaconAniMode = 'animating';
            } 
            else {
                this.showButton = false;
            }
        }, 
    },
    methods: {

        vaidatePrimaryEmailMobile() {
            const mobile = this.$user.data.mobile;
                
            const hasPrimaryMobile = mobile.filter( m => m.primary === true);

            // If primary mobile is empty goto mobile field else goto email field
            if( isEmpty(hasPrimaryMobile) ) {
                this.backBtn = true;
                return;
            }

            if( isEmpty(this.$user.profile.email) ) {
                this.backBtn = true;
                return;
            }

            this.backBtn = false;

            
        },

        backField() {
            
            this.beaconAniMode = 'not-started';

            if( !isEmpty(this.$user.profile.gender ) ) {
                if(this.$user.profile.gender != 'u') {
                    this.beaconAniMode = 'done';
                }
            }
                        
            if (  !isEmpty(this.$user.data.mobile) ) {
                
                const mobile = this.$user.data.mobile;
                
                const hasPrimaryMobile = mobile.filter( m => m.primary === true);

                // If primary mobile is empty goto mobile field else goto email field
                if( isEmpty(hasPrimaryMobile) ) {
                    this.$emit('OBEmitter', { 
                        isBack: true, 
                        wizardStep : 1
                    });
                    return;
                }

                if( isEmpty(this.$user.profile.email) ) {
                    this.$emit('OBEmitter', { 
                        isBack: true, 
                        wizardStep : 0
                    });
                    return;
                }

            } else {
                this.$emit('OBEmitter', { 
                    isBack: true, 
                    wizardStep : 1
                });
            }
            
        
        },

        nextField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 3
            });
            
            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.$user.profile.gender ) ) {
                if(this.$user.profile.gender != 'u') {
                    this.beaconAniMode = 'done';
                }
            }
        },

        onchangeGender() {
            this.beaconAniMode = 'not-started';
            this.showButton = true;
        },

        hideSuccessMessage() {
            setTimeout( () => {
                this.successMessage = null;
            }, 2500);
        },

        addGender() {
            let config = {
                headers: {
                    'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                }
            };
            let data = {
                "gender": this.gender,
                "uid": this.$user.UID
            };

            let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.updateInfo/details`;

            this.onSubmitting = true;

            axios
            .post(apiUrl, data, config)
            .then((res) => {
                
                res = res.data;

                this.onSubmitting = false
                this.showButton = false;
                this.showBackButton = false;

                if(res.statusCode === 200200) {
                    this.beaconAniMode = 'done';
                    this.$emit('OBEmitter', {
                        wizzardStep : 4,
                    });
                }
                else {
                    this.errorMessage = res.message;
                }

            })
            .catch( (error) => {
                this.errorMessage = 'Error submitting gender';
                this.showButton = false;
            });
        }
    },

    created() {
        
        this.beaconAniMode = this.isGenderActive ? 'animating' : 'not-started';

        this.showBackButton = this.isGenderActive ? true : false;

        if ( this.$user.profile.gender != 'u' || !isEmpty(this.$user.profile.gender) ) {
            this.gender = this.$user.profile.gender;
        }
        
        if( !isEmpty(this.$user.profile.gender) ) {
            this.beaconAniMode = 'done';
        }

        this.vaidatePrimaryEmailMobile();

    }
}
</script>

<style lang="scss">
    .ob-gender-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        display: flex;
        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
        }
        .form-container {
            width: 100%;
            max-width: 100%;

            .rc2 {
                margin-left: 20px;
            }
            .radio-container {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                color : #727272;
                
                .radio-name {
                    font-size: 14px;
                    position: relative;
                    margin-left: 30px;
                    top: 13px;
                }

                /* Hide the browser's default radio button */
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 19px;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    border: 1px solid #727272;
                    border-radius: 50%;
                }

                /* On mouse-over, add a grey background color */
                >:hover input ~ .checkmark {
                    background-color: #00bff3;
                    border: 2px solid #00bff3;
                }

                /* When the radio button is checked, add a blue background */
                input:checked ~ .checkmark {
                    background-color: #00bff3;
                    border: 2px solid #00bff3;
                }

                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            .error-messages,
            .success-messages {
                margin-top: 10px;
                .sso-error-message {
                    font-size: 12px;
                    color : #ed145b;
                    display:inline-block;
                }
                .sso-success-message {
                    font-size: 12px;
                    color : rgb(60, 184, 120);
                    display:inline-block;
                }
            }
            .input-fields {
                display: flex;
            }
            .btnLink {
                position: absolute;
                margin-top: 60px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-bottom: -80px;
                .back,
                .next {
                    font-size: 12px;
                    color : #00bff3;
                    text-decoration: none;
                }
                .next {
                    margin-left: 15px;
                }

            }
            // .back,
            // .next {
            //     font-size: 12px;
            //     color : #00bff3;
            //     margin-top: 55px;
            //     position: absolute;
            //     left: calc(50% - 40px);
            //     text-decoration: none;
            // }
            // .next {
            //     margin-top: 55px;
            //     left: calc(50% - -20px);
            // }
            .sso-btn-update {
                position: absolute;
                left: calc(50% - 100px);
                width: 200px;
                font-size: 14px;
                z-index: 9;
                margin-top: 90px;
            }
        }
    }
</style>