<template>
    <div class="sso-right-content-container sso-on-boarding">
        
        <wizard :wizardStep="wizardStep" :isCompleteAll="isCompleteAll"></wizard> 
        
        <email :isEmailActive="isEmailActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>
        
        <mobile :isMobileActive="isMobileActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>
        
        <gender :isGenderActive="isGenderActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>
        
        <kapamilya-name 
                :isKNActive="isKNActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>
        
        <birthdate 
                :isBDateActive="isBDateActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>

        <sso-ob-address 
                :isAddressActive="isAddressActive"
                v-if="!isCompleteAll" 
                v-on:OBEmitter="OBEmitter($event)"/>

        <sso-ob-success v-if="isCompleteAll" />

	</div>
</template>

<script>
import Vue from 'vue';

import Wizard from './Wizard';
import Email from './Email';
import Mobile from './Mobile';
import Gender from './Gender';
import KapamilyaName from './KapamilyaName';
import Birthdate from './Birthdate';
import Address from './Address';
import Success from './Success';

Vue.component("sso-ob-address", Address);
Vue.component("sso-ob-success", Success);

import __ , { isEmpty, hasOwnProperty } from 'lodash';

export default {
	name: 'sso-on-boarding',
    components:  {
        Wizard,
        Email,
        Mobile,
        Gender,
        KapamilyaName,
        Birthdate
    },
	data: () => ({
        
        wizardStep : [],
        
        isEmailActive : false,

        isMobileActive : false,

        isGenderActive : false,

        isKNActive     : false,

        isBDateActive  : false,

        isAddressActive  : false,

        isCompleteAll : false
	}),
    created() {
        this.validateForm(this.$user);
        this.validateFields(this.$user);
        this.visibilityChange();

        window.addEventListener('resize', this.visibilityChange);
        window.addEventListener('orientationchange', this.visibilityChange);

        console.log(this.$user);
    },
    methods: {

        visibilityChange() {


            var self = this;
            
            // https://www.w3.org/TR/page-visibility/
            // check the visiblility of the page
            var hidden, visibilityState, visibilityChange;

            if (typeof document.hidden !== "undefined") {
                hidden = "hidden", visibilityChange = "visibilitychange", visibilityState = "visibilityState";
            }
            else if (typeof document.mozHidden !== "undefined") {
                hidden = "mozHidden", visibilityChange = "mozvisibilitychange", visibilityState = "mozVisibilityState";
            }
            else if (typeof document.msHidden !== "undefined") {
                hidden = "msHidden", visibilityChange = "msvisibilitychange", visibilityState = "msVisibilityState";
            }
            else if (typeof document.webkitHidden !== "undefined") {
                hidden = "webkitHidden", visibilityChange = "webkitvisibilitychange", visibilityState = "webkitVisibilityState";
            }


            if (typeof document.addEventListener === "undefined" || typeof hidden === "undefined") {
                console.warn('[SSO NOT SUPPORTED] visibilityState is not supported');
            }
            else {
                document.addEventListener(visibilityChange, function() {
                    switch (document[visibilityState]) {
                    case "visible":
                        self.wizardStep = self.wizardStep;
                        // self.validateForm(self.$user);
                        // self.validateFields(self.$user);
                        window.location.reload();
                        break;
                    case "hidden":
                        break;
                    }
                }, false);
            }

            if (document[visibilityState] === "visible") {
                // self.validateForm(self.$user);
                // self.validateFields(self.$user);
                let ws = self.wizardStep;
                self.wizardStep = ws;
                // window.location.reload();
            }
        },

        checkIfUserIsChangingTab() {
            const validationPromise = new Promise((resolve, reject) => {
                gigya.accounts.getAccountInfo( {
                    include : 'loginIDs, emails,  profile, data, userInfo', 
                    callback: function(res) { 
                        if(res.status == 'OK') {
                            resolve(res);
                        }
                        if(res.status == 'OK') {
                            reject();
                        }
                    } 
                });
            });
            validationPromise.then((res) => {
                this.validateForm(res);
            });
            validationPromise.catch((err) => {
                alert('An error occured');
                return;
            });
        },

        OBEmitter(e) {
            
            this.isEmailActive = false;
            this.isMobileActive = false;
            this.isGenderActive = false;
            this.isKNActive = false;
            this.isBDateActive  = false;
            this.isAddressActive = false;

            if(e.isBack) {
                
                // this.wizardStep[e.wizardStep].isActive = false;

                if(e.wizardStep == 0) {
                    this.isEmailActive  = true;
                    return;
                }

                if(e.wizardStep == 1) {
                    this.isMobileActive  = true;
                    return;
                }

                if(e.wizardStep == 2) {
                    this.isGenderActive  = true;
                    return;
                }
                if(e.wizardStep == 3) {
                    this.isKNActive  = true;
                    return;
                }
                if(e.wizardStep == 4) {
                    this.isBDateActive  = true;
                    return;
                }
                if(e.wizardStep == 5) {
                    this.isAddressActive  = true;
                    return;
                }

            
            } else {
                this.getUpdatedData();
            }


        },

        getUpdatedData() {
            const validationPromise = new Promise((resolve, reject) => {
                    
                    gigya.accounts.getAccountInfo( {
                        include : 'loginIDs, emails,  profile, data, userInfo', 
                        callback: function(res) { 
                            if(res.status == 'OK') {
                                resolve(res);
                            }
                            if(res.status == 'OK') {
                                reject();
                            }
                        } 
                    });
                });
                validationPromise.then((res) => {
                    this.validateForm(res);
                    this.validateFields(res);
                    this.$store.commit("STORE_ACCOUNT_INFO", res);
                });
                validationPromise.catch((err) => {
                    alert('An error occured');
                    return;
                });
        },

        validateForm(_user) {

            if( isEmpty(_user) ) {
                window.location.href = '/';
                return;
            }

            this.isEmailActive = false;
            this.isMobileActive = false;
            this.isGenderActive = false;
            this.isKNActive = false;
            this.isBDateActive  = false;
            this.isAddressActive = false;

            this.wizardStep = [];

            // Show email if empty or null
            var email;
            
            if( isEmpty(_user.data.secondaryEmails) || _user.profile.email == "" || _user.profile.email == null ) {



                var verified = null;
                var notVerified = null;

                if( !isEmpty(_user.data.secondaryEmails) ) {
                    verified = _user.data.secondaryEmails.filter( m => m.isVerified === true);
                    notVerified = _user.data.secondaryEmails.filter( m => m.isVerified === false);
                }


                var emailStep;

                if( isEmpty(notVerified) && isEmpty(verified) ) {
                    emailStep = {
                        isActive : false,
                        title : 'Email', x : -8
                    };
                }

                if( !isEmpty(notVerified) && isEmpty(verified) ) {
                    emailStep = {
                        isActive : false,
                        title : 'Email', x : -8
                    };
                }

                if( isEmpty(notVerified) && !isEmpty(verified) ) {
                    emailStep = {
                        isActive : true,
                        title : 'Email', x : -8
                    };
                }

                if( !isEmpty( _user.profile.email) ) {
                    emailStep = {
                        isActive : true,
                        title : 'Email', x : -8
                    };
                }

                if( !isEmpty(notVerified) ) {
                    emailStep = {
                        isActive : true,
                        title : 'Email', x : -8
                    };
                }

                this.wizardStep.push(emailStep);
            } 
            else { this.wizardStep.push({ isActive : true, title : 'Email', x : -8 }); }


            

            // Show mobile if empty or null
            if (  __.isEmpty(_user.data.mobile) ) {
                this.wizardStep.push({
                    isActive : false,
                    title : 'Mobile', x : -10
                });
            }
            else { this.wizardStep.push({ isActive : true, title : 'Mobile', x : -10 }); }

            // Show gender if empty or null
            if ( _user.profile.gender == 'u' || __.isEmpty(_user.profile.gender) ) {
                this.wizardStep.push({
                    isActive : false,
                    title : 'Gender', x : -14
                });
            }
            else { this.wizardStep.push({ isActive : true,title : 'Gender', x : -14 }); }


            // Show username if empty or null
            if( __.isEmpty(_user.loginIDs.username) ) {
                this.wizardStep.push({
                    isActive : false,
                    title : 'Kapamilya Name', x : -40
                });
            } 
            else { this.wizardStep.push({ isActive : true, title : 'Kapamilya Name', x : -40 }); }


            // Show birthday if empty or null
            if( typeof _user.profile.birthYear != 'number' ) {
                this.wizardStep.push({
                    isActive : false,
                    title : 'Birthdate', x : -18
                });
            }
            else { this.wizardStep.push({ isActive : true,title : 'Birthdate', x : -18 }); }

            // Show address if some fields are empty or null
            let address = _user.data.ph;
            if( isEmpty(address.city) || 
                isEmpty(address.country) || 
                isEmpty(address.housenumber) || 
                isEmpty(address.province) ||
                isEmpty(address.street) ||
                isEmpty(address.zipcode) ) {
                this.wizardStep.push({
                    isActive : false,
                    title : 'Address', x : -16
                }); 
            }
            else { this.wizardStep.push({ isActive : true,title : 'Address', x : -16 }); }
            
        },

        validateFields(_user) {

            // let email = _user.data.secondaryEmails.filter( m => m.isVerified === true);
            if( !isEmpty(_user.data.secondaryEmails) || _user.profile.email == "" || _user.profile.email == null ) {

                
                var verified = null;
                var notVerified = null;

                if( !isEmpty(_user.data.secondaryEmails) ) {
                    verified = _user.data.secondaryEmails.filter( m => m.isVerified === true);
                    notVerified = _user.data.secondaryEmails.filter( m => m.isVerified === false);
                }

                if( !isEmpty(notVerified) ) {
                    this.isEmailActive = true;
                    return;
                }

                if( isEmpty(verified) ) {
                    this.isEmailActive = true;
                    return;
                }
            }

            // Show mobile if empty or null
            if (  __.isEmpty(_user.data.mobile) ) {
                this.isMobileActive = true;
                return;
            }

            // Show gender if empty or null
            if ( _user.profile.gender == 'u' || __.isEmpty(_user.profile.gender) ) {
                this.isGenderActive = true;
                return;
            }

            // Show username if empty or null
            if( __.isEmpty(_user.loginIDs.username) ) {
                this.isKNActive = true;
                return;
            } 

            // Show birthday if empty or null
            if( typeof _user.profile.birthYear != 'number' ) {
                this.isBDateActive = true;
                return;
            }

            // Show address if some fields are empty or null
            let address = _user.data.ph;
            if( isEmpty(address.city) || 
                isEmpty(address.country) || 
                isEmpty(address.housenumber) || 
                isEmpty(address.province) ||
                isEmpty(address.street) ||
                isEmpty(address.zipcode) ) {
                this.isAddressActive = true;
                return;
            }

            this.isCompleteAll = true

        },

        updateWizardSteps(index, isActive) {
            this.wizardStep[index].isActive = isActive;
        }
    },
}
</script>
<style lang="scss">
    .sso-on-boarding {
        .simplebar-content {
            overflow: hidden;
        }
    }
</style>