<template>
    <div class="ob-kn-container" :style=" !isKNActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Kapamilya Name</h4>
        </div>
        <div class="form-container">

            <input type="email" 
                placeholder="Enter your Kapamilya Name." 
                v-model="kname" 
                class="sso-text-field sso-email-field"
                v-on:input="onchangeKN">

            <div class="error-messages" v-if="errorMessage">
                <p class="sso-error-message" >{{ errorMessage }}</p>
            </div>

            <div class="btnLink">
                <a href="javascript:void(0);" v-if="isKNActive" class="back" @click="backField"> < Back</a>                      
                <a href="javascript:void(0);" v-if="isKNActive" class="next" @click.prevent="nextField"> Continue > </a>  
            </div>
            
            <button type="button" v-if="showButton && isKNActive " class="sso-btn-update" @click="addKN" :disabled=" onSubmitting ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmitting"></i>
                Save and continue
            </button>

        </div>
        <beacon-animation :hideIcon="true" :mode="beaconAniMode"></beacon-animation>
    </div>
</template>

<script>

import BeaconAnimation from './Features/BeaconAnimation';
import axios from 'axios';
import { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-kn',
    props: {
        isKNActive: {
            type: Boolean,
            default : true
        }
    },
    components:  {
        BeaconAnimation
    },
    data: () => ({
        beaconAniMode : 'not-started',
        disableForm : { 
            'pointer-events': 'none', 
            'opacity': '0.2', 
            // 'filter': 'blur(1px)',
            // '-webkit-filter': 'blur(1px)'
        },

        kname : null,

        onSubmitting: false,
        showButton : false,
        errorMessage : null
        
    }),

    methods: {
        backField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 2
            });            
            this.errorMessage = null;
        },
        nextField() {
            this.$emit('OBEmitter', { 
                isBack: true, 
                wizardStep : 4
            });            
            this.errorMessage = null;
        },
        onchangeKN() {
            if(!this.isKNActive) return;
            this.showButton = true;
            this.beaconAniMode = 'not-started';
            this.errorMessage = null;
        },

        validate: function() {
        	let notAllowedChars = new RegExp('[ `~!#$%^&*()+ÀÈÌÒÙàèìòùÁÉÍÓÚÝáéíóúýÂÊÎÔÛâêîôûÃÑñÕãõÄËÏÖÜŸäëïöüŸ¡¿çÇŒœßØøÅåÆæÞþÐð{}\[;:"|\\\]<>,/]', 'g');
        	let isValid = notAllowedChars.exec(this.kname) ? false : true;
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        	if (this.kname == "" || this.kname == null) {
        		this.errorMessage = 'Kapamilya is required.';
                return;
        	} 
            if (this.kname.length < 4) {
        		this.errorMessage = 'Kapamilya name should be atleast 4 characters long.';
                return;
        	} 
            if (this.kname.length > 30) {
        		this.errorMessage = 'Kapamilya name should not more than 30 characters long';
                return;
        	} 
            else if (!/[a-zA-Z]/.test(this.kname)) {
                this.errorMessage = 'Invalid Kapamilya Name. Use a combination of 4-30 alphanumeric characters and valid symbols (.@) only.';
                return;
        	}
            if (regex.test(this.kname)) {
                this.errorMessage = 'Invalid Kapamilya Name.';
                return;
            }
            return true;
        },

        addKN() {

            if( !this.validate() ) {
                return;
            }
            
            let config = {
                headers: {
                    'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                }
            };
            let data = {
                "kapamilyaName": this.kname,
                "uid": this.$user.UID
            };

            let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.updateInfo/details`;

            this.onSubmitting = true;

            axios
            .post(apiUrl, data, config)
            .then((res) => {
                
                res = res.data;

                this.onSubmitting = false
                this.showButton = false;

                if(res.statusCode === 200200) {
                    this.beaconAniMode = 'done';
                    this.$emit('OBEmitter', {
                        wizzardStep : 5,
                    });
                }
                else {
                    this.errorMessage = res.message;
                }

            })
            .catch( (error) => {
                this.errorMessage = 'Error submitting gender';
                this.showButton = false;
            });
        }
    },

    created() {

        this.beaconAniMode = this.isKNActive ? 'animating' : 'not-started';


        this.kname = this.$user.loginIDs.username;

        if( !isEmpty(this.kname) ) {
            this.beaconAniMode = 'done';
        }
    }
}
</script>

<style lang="scss">
    .ob-kn-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        display: flex;
        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
        }
        .form-container {
            width: 100%;
            max-width: 100%;
            display:grid;
            margin-top: 10px;
            input {
                font-size: 14px;
                border:0px;
                color:#ccc;
                z-index: 9;
            }
            label {
                font-size: 12px;
                color : #ed145b;
                display:inline-block;
                margin-bottom: 10px;
            }
            a {
                font-size: 12px;
                color : #00bff3;
                margin-bottom: 10px;
            }
            .btnLink {
                position: absolute;
                margin-top: 105px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin-bottom: -80px;
                .back,
                .next {
                    font-size: 12px;
                    color : #00bff3;
                    text-decoration: none;
                }
                .next {
                    margin-left: 15px;
                }

            }
            // .back {
            //     font-size: 12px;
            //     color : #00bff3;
            //     margin-bottom: -80px;                
            //     position: absolute;
            //     margin-top: 90px;
            //     margin-left: 130px;
            //     text-decoration: none;
            // }
            .sso-btn-update {
                position: absolute;
                // margin-left: 55px;       
                left: calc(50% - 100px);
                width: 200px;
                font-size: 14px;
                z-index: 9;
                margin-top: 130px;
            }
            .error-messages {
                .sso-error-message {
                    margin-left: 3px;
                    font-size: 12px;
                    color : #ed145b;
                    display:inline-block;
                }
            }
        }
        .form-indicator {
            // width: 100%;
            display: inline-block;
        }
        .sso-text-field {
            margin-top: 2px;
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            border-bottom: 1px solid #464646;
            width: 300px;
            height: 30px;
            font-weight: 100;
            padding-right: 25px;
            font-size: 14px;
        }
        
    }
</style>