<template>
    <div class="ob-mobile-container"  :style=" !isMobileActive ? disableForm : null ">
        <div class="form-title">
            <h4 class="sso-form-title">Mobile</h4>
        </div>
        <beacon-animation :mode="beaconAniMode" :toolTipContent="toolTipContent"></beacon-animation>
        <div class="form-container">
            <div class="field-container">
                <div class="input-container">
                    <sso-mobile-select v-on:MSEmitter="MSEmitter($event)" :style=" !isMobileActive ? {'pointer-events': 'none'} : null "> </sso-mobile-select>
                    <div class="input-fields">
                        <input 
                            type="text" 
                            class="sso-text-field mobile-number" 
                            placeholder="XXXXXXXXX"
                            v-model="mobile"
                            v-on:input="onchangeMobile">
                        <input 
                            type="text" 
                            class="sso-text-field verif-code verif-code-desktop" 
                            placeholder="Enter Verification Code" 
                            v-model="verifCode"
                            v-if="pendingVerifiedMobileNumber"
                            v-on:input="onchangeMobileVerif">
                    </div>
                </div>
                <input 
                    type="text" 
                    class="sso-text-field verif-code verif-code-mobile" 
                    placeholder="Enter Verification Code" 
                    v-model="verifCode"
                    v-if="pendingVerifiedMobileNumber"
                    v-on:input="onchangeMobileVerif">
                <div class="error-messages" v-if="hasError">
                    <p class="sso-error-message">{{ errorMessage }}</p>
                    <p class="sso-error-message" style="color:#3cb878;" v-if="successMessage">{{ successMessage }}</p>
                </div>
                
            </div>

            <div class="sso-btn-link" v-if="showBtnLink">
                <a href="javascript:void(0);" :style="hideStyle" @click.prevent="backField"> < Back </a>
                <span class="separator"  :style="hideStyle" v-if="showResendBtnLink"> | </span>
                <a href="javascript:void(0);" v-if="showResendBtnLink" @click="resendVerificationCode">Resend Verification</a>
                <span class="separator" v-if="showResendBtnLink"> | </span>
                <a href="javascript:void(0);" @click.prevent="nextField"> Continue > </a>
            </div>

            <div class="sso-btn-link" v-if="showBtnLinkBack && isMobileActive">
                <a href="javascript:void(0);" @click.prevent="nextField"> Continue > </a>
            </div>

            <button type="button" v-if="verifyButton" class="sso-btn-update" @click="verifyMobileNumber" :disabled=" onSubmittingVerifyButton ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmittingVerifyButton"></i>
                Verify
            </button>

            <button type="button" v-if="pendingVerifiedMobileNumber" class="sso-btn-update" @click="submitVerificationCode" :disabled=" onSubmittingVerifiedMobileNumber ">
                <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmittingVerifiedMobileNumber"></i>
                Submit
            </button>

            <button type="button" v-if="saveAndContinue" class="sso-btn-update" @click="gotoNextField">
                Save and continue
            </button>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import BeaconAnimation from './Features/BeaconAnimation.vue';
import MobileSelect from './Components/MobileSelect.vue';

Vue.component("sso-mobile-select", MobileSelect);

import { isEmpty } from 'lodash';

export default {
    name : 'sso-ob-mobile',
    props: {
        isMobileActive: {
            type: Boolean,
            default : false
        },
        isDoneMobile: {
            type: Boolean,
            default : false
        }
    },
    components: {
        BeaconAnimation
    },
    data: () => ({
        beaconAniMode : 'not-started',
        disableForm : { 
            'pointer-events': 'none', 
            'opacity': '0.1'
        },
        mobile : null,
        concatedMobile: null,
        areaCode : '+63',
        countryCode : 'PH',
        
        showBtnLink : false,
        showBackBtnLink : false,
        showResendBtnLink : false,

        saveAndContinue : false,

        verifyButton : false,
        onSubmittingVerifyButton : false,

        pendingVerifiedMobileNumber : false,
        onSubmittingVerifiedMobileNumber: false,

        verifCode: null,
        verifToken : null,

        // validation
        errorMessage: null,
        successMessage: null,
        hasError: false,

        toolTipContent : 'Tell us how to get in touch with you for special offers and promotions.',

        hideStyle : null,

        isVerifyingMobile : false,

        showBtnLinkBack: true
    }),

    watch: {
        isMobileActive(e) {
            if(e) {
                this.beaconAniMode = 'animating';
                this.showBtnLink = true;


                if(this.isVerifyingMobile) {
                    this.showBtnLink = true;
                    this.saveAndContinue = true;
                    this.pendingVerifiedMobileNumber = true;
                }

                if(!this.isVerifyingMobile) {
                    this.showBtnLinkBack = false;
                }

            }
        }
    },

    methods: {

        MSEmitter(e) {
            e = e.data;
            this.areaCode = e.areaCode;
            this.countryCode = e.countryCode;
            this.errorMessage = null;
        },

        validateMobileNumbers() {
            
            var reg = new RegExp('^[0-9+]+$');

            if (this.mobile === '' || this.mobile === null) {
                this.errorMessage = 'Mobile number is required.';
                this.hasError = true;

            } else if (this.areaCode === '' || this.areaCode === null) {
                this.errorMessage = 'Select country code.';
                this.hasError = true;

            } else if (!reg.test(this.mobile)) {
                this.errorMessage = 'Numeric number only.';
                this.hasError = true;

            } 
            else {
                this.errorMessage = null;                
                this.hasError = false;
            }


            // CHECK IF COUNTRY COUDE IS PH THEN EXECUTE THIS VALIDATION
            if (this.countryCode == 'PH' || this.countryCode === 'PH') {

                if (this.mobile.includes("639") && this.mobile.length == 12 ) {
                    let _mobile = this.mobile.replace('639','9');
                    this.concatedMobile = `${this.areaCode}${_mobile}`; 
                }
                else if (this.mobile[0] == '9' && this.mobile.length == 10 ) {
                    this.concatedMobile = `${this.areaCode}${this.mobile}`; 
                }
                else {
                    if ( (this.mobile[0] == '+' && this.mobile.length == 13 ) ) {
                        let _mobile = this.mobile.replace('+639','');
                        this.concatedMobile = `${this.areaCode}9${_mobile}`;
                    }
                    else if ( (this.mobile[0] == '9' && this.mobile.length == 10 ) || (this.mobile[0] == '0' && this.mobile.length == 11) ) {
                        let _mobile = this.mobile.replace('09','');
                        this.concatedMobile = `${this.areaCode}9${_mobile}`;
                    }
                    else {
                        this.hasError = true;
                        this.errorMessage = 'Invalid mobile number';
                    }

                }
            }
            else {
                this.concatedMobile = `${this.areaCode}${this.mobile}`;
                alert('1');
            }
        },

        verifyMobileNumber () {

            return new Promise((resolve) => {

                this.validateMobileNumbers();

                if(this.hasError) {
                    return;
                }

                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
                let data = {
                    mobileNumber: this.concatedMobile.trim(),
                    sendVerification: true,
                    uid: this.$user.UID
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.onBoardSendVerifCode`;

                this.onSubmittingVerifyButton = true;

                axios
                .post(apiUrl, data, config)
                .then((res) => {
                    
                    res = res.data;

                    this.onSubmittingVerifyButton = false;
                    
                    if(res.statusCode === 203201) { 
                        this.isVerifyingMobile = true;
                        this.verifToken = res.verifToken;
                        this.pendingVerifiedMobileNumber = true;
                        this.verifyButton = false;
                        this.showResendBtnLink = true;
                        this.showBtnLink = true;
                        this.showBtnLinkBack = false;
                    }
                    else {
                        this.hasError = true;
                        this.errorMessage = res.message;
                    }

                })
                .catch( (error) => {
                    this.errorMessage = 'An error occurred sending the request';
                    this.verifyButton = false;
                    this.onSubmittingVerifyButton = false;
                });
            });
        },

        resendVerificationCode() {
            return new Promise((resolve) => {

                this.errorMessage = null;

                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
                let data = {
                    verifToken: this.verifToken,
                    mobileNumber:this.concatedMobile.trim(),
                    uid: this.$user.UID
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.resendVerifCode`;

                this.onSubmittingVerifiedMobileNumber = true;

                axios
                .post(apiUrl, data, config)
                .then((res) => {
                    
                    res = res.data;

                    this.onSubmittingVerifiedMobileNumber = false;
                    
                    if(res.statusCode === 203201) {
                        this.verifToken = res.verifToken;
                        this.hasError = true;
                        this.successMessage = 'Mobile verification sent!';
                        setTimeout( ()=> {
                            this.hasError = false;
                            this.successMessage = null;
                        }, 1500);
                    }
                    else {
                        this.hasError = true;
                        this.errorMessage = res.message;
                    }

                })
                .catch( (error) => {
                    this.errorMessage = 'An error occurred sending the request';
                    this.pendingVerifiedMobileNumber = false;
                    this.onSubmittingVerifiedMobileNumber = false;
                });
            });
        },

        submitVerificationCode() {
            return new Promise((resolve) => {

                if(!this.verifCode) {
                    this.errorMessage = 'Verfification code required';
                    this.hasError = true;
                    return;
                }

                let config = {
                    headers: {
                        'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY
                    }
                };
                let data = {
                    code: this.verifCode,
                    verifToken: this.verifToken
                };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.onBoardAddMobile`;

                this.onSubmittingVerifiedMobileNumber = true;

                axios
                .post(apiUrl, data, config)
                .then((res) => {
                    
                    res = res.data;

                    this.onSubmittingVerifiedMobileNumber = false;
                    
                    if(res.statusCode === 200200) { 

                        console.log('success');
                        
                        this.isVerifyingMobile = false;
                        this.pendingVerifiedMobileNumber = false;
                        this.showBtnLink = true;
                        this.showResendBtnLink = false;
                        this.beaconAniMode = 'done';
                        this.saveAndContinue = true;
                    }
                    else {
                        this.hasError = true;
                        this.errorMessage = res.message;
                    }

                })
                .catch( (error) => {
                    this.errorMessage = 'An error occurred sending the request';
                    this.pendingVerifiedMobileNumber = false;
                    this.onSubmittingVerifiedMobileNumber = false;
                });
            });
        },

        gotoNextField() {
            this.showBtnLink = false;
            this.saveAndContinue = false;
            this.$emit('OBEmitter', {
                wizardStep : 3,
                wizardStepData: [
                    {
                        "isActive": true,
                        "title": "Email",
                        "x": -8
                    },
                    {
                        "isActive": true,
                        "title": "Mobile",
                        "x": -10
                    },
                    {
                        "isActive": false,
                        "title": "Gender",
                        "x": -14
                    },
                    {
                        "isActive": false,
                        "title": "Kapamilya Name",
                        "x": -40
                    },
                    {
                        "isActive": false,
                        "title": "Birthdate",
                        "x": -18
                    },
                    {
                        "isActive": false,
                        "title": "Address",
                        "x": -16
                    }
                ]
            });
        },

        backField() {
            this.$emit('OBEmitter', {
                isBack: true,
                wizardStep : 1
            });

            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.mobile) ) {
                this.beaconAniMode = 'done';
            }
        },

        nextField() {
            this.errorMessage = null;
            this.showBtnLink = false;
            this.saveAndContinue = false;
            this.pendingVerifiedMobileNumber = false;
            this.$emit('OBEmitter', {
                isBack: true,
                wizardStep : 2
            });
            this.showBtnLinkBack = false;
            
            this.beaconAniMode = 'not-started';
            if( !isEmpty(this.mobile) ) {
                this.beaconAniMode = 'done';
            }
        },

        resetErrors() {
            this.required = false;
            this.hasError = false;
            this.numbersOnly = false;
            this.errorText = null;
            this.maximum = false;
            this.defaultError = false;
        },

        onchangeMobile() {
            if(!this.isMobileActive) return;
            this.beaconAniMode = 'not-started';
            this.errorMessage = null;
            this.hasError = false;
            this.pendingVerifiedMobileNumber = false;
            this.showResendBtnLink = false;
            if (this.mobile === '' || this.mobile === null) {
                this.verifyButton = false;
            } else {
                this.verifyButton = true;
            }
        },

        onchangeMobileVerif() {
            this.hasError = false;
            this.errorMessage = null;
        }
    },
    created() {

        if( !isEmpty(this.$user.profile.email) ){
            this.hideStyle = { display : 'none' };
        }

        if(this.isMobileActive) {
            this.beaconAniMode = 'animating';
        }
        else {
            this.beaconAniMode = 'done';
            this.mobile = isEmpty(this.$user.data.mobile) ? null : this.$user.data.mobile[0].number;
            this.pendingVerifiedMobileNumber = false;
            this.showBtnLink = false;
        }
    },
}
</script>

<style lang="scss">
    .ob-mobile-container {
        margin-top: -1px;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        display: flex;
        .form-title {
            width: 100%;
            display: inline-block;
            max-width: 200px;
            padding-left: 20px;
        }
        .form-container {
            display: inline-grid;            
            .field-container {
                margin-top: 10px;
                display: inline-grid;
            }
            .input-container {
                display: flex;
            }
            input {
                font-size: 14px;
                border:0px;
                color:#ccc;
                z-index: 9;
            }
            .verif-code-mobile {
                display:none;
            }
            .verif-code {          
                border: 1px solid #464646;
                margin-right: 40px;
                width: 100%;
                padding-left: 10px;
                height: 35px;
            }
            label {
                font-size: 12px;
                color : #ed145b;
                display:inline-block;
                margin-bottom: 10px;
            }
            a {
                font-size: 12px;
                color : #00bff3;
                margin-bottom: 10px;
            }
            .error-messages {
                .sso-error-message {
                    font-size: 12px;
                    color : #ed145b;
                    display:inline-block;
                }
            }
            .sso-btn-link {
                position: absolute;
                margin-bottom: -80px;
                margin-top: 120px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                // width: 250px;
                font-size: 14px;
                text-align:center;
                a {
                    text-decoration: none;
                }
                .separator {
                    color: #7b7b7b;
                    margin: 5px 5px;
                }
            }
            .sso-btn-update {
                position: absolute;
                margin-bottom: -80px;
                margin-top: 180px;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 200px;
                font-size: 14px;
                z-index: 1;
            }
            .input-fields {
                display: flex;
                .mobile-number {
                    height: 35px;
                    margin-left: 12px;
                }
            }
        }
        .form-indicator {
            // width: 100%;
            display: inline-block;
            .tooltip-container {
                top: 174px;
                right: 51px;
                z-index: 9;
            }
            
        }
        .sso-text-field {
            background-color: transparent;
            color: #fff;
            border: none;
            outline: none;
            border-bottom: 1px solid #464646;
            width: 300px;
            height: 30px;
            font-weight: 100;
            font-size: 14px;
        }
        
    }
</style>