<template>
    <div class="ob-success-container">
        <div class="sso-logo-title">
            <a href="javascript:void(0);">
                <span>Kapamilya</span>
                <img src="//assets.abs-cbn.com/sso/images/sso-logos.png" alt="Logo" style="width:25px; height:25px;">
                <span>Accounts</span>
            </a>
        </div> 
        <div class="succes-content">
            <h3>Thank you for completing your profile!</h3>
            <div>
                <p v-html="tooltipDataValue"></p>
            </div>

        </div>
    </div>
</template>

<script>

import BeaconAnimation from './Features/BeaconAnimation';

import { mapState } from 'vuex';

export default {
    name : 'sso-ob-success',
    props: {
    },
    computed: {
        ...mapState(['tooltip'])
    },
    components:  {
        BeaconAnimation
    },
    data: () => ({
        redirectReferer : window.REDIRECT_REFERRER,
        tooltipDataValue : null
    }),
    created() {
        this.tooltipDataValue = _.find(this.tooltip, function(o) { return o.elementID === "On Boarding Success Field"; });
        this.tooltipDataValue = this.tooltipDataValue.tooltipValue;
    }
}
</script>

<style lang="scss">
    .ob-success-container {
        
        .sso-logo-title {
            margin-top: 40px;

            a {
                font-size: 20px;
                letter-spacing: 2px;
                padding: 0;
                margin: 0;
                font-weight: 800;
                color: #fff;
                text-decoration: none;
                display: -ms-inline-flexbox;
                display: inline-flex;
                padding: 0 20px 0 20px;
                text-align: center;
                text-transform: uppercase;
                line-height: 25px;
                width: 100%;
                display: inline-block;

                span {
                    display: inline-block;
                    position: relative;
                    top: -6px;
                }
            }
        }

        .succes-content {
            text-align:center;
            h3 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p {
                font-size: 13px;
                font-weight: 300;
                line-height: 1.5;
                a {
                    color: #00bff3;
                }           
            }
        }
    }
</style>