<template>
    <div class="sso-wizard-container">

        <div class="sso-title-container" v-if="!isCompleteAll">
            <h4 class="sso-wizard-title">FORM COMPLETION</h4>
            <div class="w-50"> 
                <span class="sso-info sso-sub-title">Complete the form below</span>
            
                <a class="sso-a-link text-align-right text-underline overide-font-size-14 sso-skip-link" href="javascript:void(0);" @click="skip">Skip</a>
            </div>
        </div>

        <div class="sso-title-container" v-if="isCompleteAll">
            <h4 class="sso-wizard-title">&nbsp;</h4>
            <div class="w-50"> 
                <span class="sso-info sso-sub-title">&nbsp;</span>
                <a class="sso-a-link text-align-right text-underline overide-font-size-14 sso-skip-link" :href="redirectReferer">Proceed / Go to site</a>
            </div>
        </div>

        <div class="sso-wizard-indicator">
            <vue-step :now-step="wizardStep" :step-list="wizardListTitle"></vue-step>
        </div>

        
        <skip-site :showSkipModal="showSkipModal"/>
    </div>
</template>

<script>

import Vue from 'vue'

import vueStep from '../../plugins/vue-step';
import Skip from './Components/Skip';

Vue.component("skip-site", Skip);

export default {
	name: 'sso-wizard',
    props: {
        wizardStep: {
            type: Array
        },
        isCompleteAll : {
            type: Boolean,
            default: false
        }
    },
    components: {
        vueStep
    },
	data: () => ({ 
        wizardListTitle: [],
        redirectReferer : window.REDIRECT_REFERRER,
        showSkipModal : false,
	}), 
    created() {
        this.wizardListTitle = this.wizardStep;
    },
    methods: {
        skip() {
            this.showSkipModal = !this.showSkipModal;
        }
    },

}
</script>

<style lang="scss">
    .sso-wizard-container {
        padding-bottom: 30px;
        border-bottom: 1px solid #363636;
        .sso-title-container {
            padding-bottom: 5px;
            line-height: 30px;
        }
        .sso-wizard-title {
            font-size: 20px;
            padding:0;
            margin:0;
        }
        .sso-sub-title {
            color: #fff;
            font-size: 12px;
            font-weight: 200;
        }
        .sso-skip-link {
            float: right;
        }
        .sso-wizard-indicator {
            padding-top : 15px;
            border-top: 1px solid #363636;
            font-weight: 400;
            color: #727272;
            font-size: 20px;
        }
        .sso-form-container {
            border-top: 1px solid #363636;
            margin-top : 30px;
        }
        .sso-a-link {
            margin: 0;
            padding : 0 0 0;
        }
        .w-50 {
            width: 100%;
        }



        
    }
</style>