<template>
    <main class="main">
        <header class="sso-uninav-header">
            <div>
                <span class="sso-network-uninav">
                    EXPLORE ABS-CBN
                    <i class="fa fa-chevron-right"></i>
                </span>
                <a v-if="!hideSideMenu" :href="$store.getters.redirectURL" class="sso-a-link overide-font-size-14 hidden-desktop sso-proceed">Proceed / Go to site</a>
            </div>
        </header>
        
        <section>
            <!--Side Menu Component-->
            <side-menu @modal="showModal = $event"
                v-on:show-loader="showLoader"
                v-on:hide-loader="hideLoader"></side-menu>
        </section>
        
        <!--Loader you can find it in components folder -> Loader.vue -->
        <loader :loading="isLoading"></loader>
        
        <section class="sso-body-container sso-basic-info" :class="isOnboardingClass" style="overflow-x: hidden;">
            <div class="sso-main-content">
                <div class="text-align-right" v-if="!hideSideMenu">
                    <img src="https://assets.abs-cbn.com/sso/images/sso-back-arrow.png" class="back-to-menu visible-xs" alt="Back" @click="showMenu()" />
                    <a :href="$store.getters.redirectURL" class="sso-a-link overide-font-size-14 hidden-mobile">Proceed / Go to site</a>
                </div>
                <router-view
                    v-if="gigyaReady"
                    :key="$route.fullPath"
                    v-on:show-loader="showLoader"
                    v-on:hide-loader="hideLoader">
                </router-view>
            </div>
        </section>

        <footer>
            <div class="sso-copy-right">
                <p>&copy; <span>{{ssoYear}}</span> ABS-CBN Corporation. All Rights Reserved.</p>
            </div>
        </footer>

        <!--Modal Dialog Component this is the upload photo dialog-->
        <modal-dialog @modal="showModal = $event" v-if="showModal"></modal-dialog>
    </main>
</template>

<script>
import Loader from './components/Loader';
import SideMenu from './components/SideMenu';
import ModalDialog from './components/ModalDialog';

export default {
    name: 'app',
    // include dependencies component
    components: { SideMenu, Loader, ModalDialog },
    data: () => ({
        isLoading: true,
        gigyaReady: false,
        showModal: false,
        ssoYear: null,
        hideSideMenu : false,
        isOnboardingClass : null
    }),
    methods: {
        // function to hide the pre-loader
        hideLoader: function() {
            this.gigyaReady = true;
            this.isLoading = false;
        },
        // function to show the pre-loader
        showLoader: function() {
            this.isLoading = true;
        },
        // function to hide and show the side menu on mobile view
        showMenu: function() {
            $('.sso-sidebar-menu').removeClass('inactive');
        },

        isOnboarding() {
            return this.$route.path == '/on-boarding' ? {'overflow':'scroll'} : {} ; // Check if routes is equal to /on-boarding' then hide
        }
    },

    created() {
        // dispatch all the data required in the apps.
        // get points to get the kapamilya points and put it into our store.
        this.$store.dispatch("GET_POINTS");
        // get countries to get the countries and put it into our store.
        this.$store.dispatch("GET_ACOUNTRIES");
        // get tooltip to get the tooltips in cms and put it into our store.
        this.$store.dispatch("GET_TOOLTIP");
        // get links to get the all the links in cms and put it into our store.
        this.$store.dispatch("GET_LINKS");

        var year = new Date().getFullYear();
        this.ssoYear = year;

        this.hideSideMenu = this.$route.path == '/on-boarding' ? true : false; // Check if routes is equal to /on-boarding' then hide
        
        this.isOnboardingClass = this.hideSideMenu ? 'sso-on-boarding-appmenu' : {};

    }
}
</script>