<template>
  <div class="ob-mobile-select">
  
      <v-select 
        :options="countries" 
        label="countryName"
        v-model="selectedCountry"
        @change="selectedValue">
        <template slot="option" slot-scope="option">
            <i class="cflags"  v-if="option.countryCode !== null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            {{ option.countryName }}
            <span class="option-areaCode areaCode"> {{ option.areaCode }}</span> 
        </template>
        <template slot="selected-option" slot-scope="option">
            <i class="cflags" v-if="option.countryCode !== null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="selected-areaCode areaCode"> {{ selectedCountryCode }}</span> 
        </template>
    </v-select>

  </div>
</template>
<script>
import vSelect from 'vue-select';
import axios from 'axios';
export default {
    name: "mobile-input",
    components:  {
        vSelect
    },
    data: () => ({
        countries: [],
        selectedCountryCode: "+63",
        selectedCountryName: null,
        selectedCountry : {
            "countryCode": "PH",
            "countryName": "Philippines",
            "x": 1,
            "y": 3027,
            "areaCode": "+63",
            "smsProvider": "TextBlitz"
        }
    }),

    watch: {
        selectedCountry(e) {
            this.selectedCountryCode = e.areaCode;
            this.$emit('MSEmitter', { data : e });
        }
    },
    methods: {
        selectedValue(e) {
            if( e != null ) {
                this.selectedCountryCode = e.areaCode;
                this.selectedCountry = e;
                this.$emit('MSEmitter', { data : e });                
            }
        }
    },
    created() {
        axios({ baseURL: 'https://admin-account.abs-cbn.com', url: '/api/cms/GetCountries' })
        .then(res => {
            this.countries = res.data;
        })
        .catch((err) => {
            console.log(err);                    
        });
    },
};
</script>
<style lang="scss">
    .ob-mobile-select {

        .dropdown.v-select {
            width: 100px;
            border: none;
            margin-left:0;
            position: relative;
        }

        .dropdown.v-select .dropdown-toggle input[type=search] {
            // background: red;
            padding:0;
            position: absolute;
            left: 0;
            top:0;
        }
        .dropdown.v-select .dropdown-toggle .open-indicator {
            height: 16px;
            border-left: none;
            // border-right: 1px solid #f1f1f1;
            top: 10px;
        }
        .dropdown.v-select .dropdown-toggle .open-indicator:before {
            // margin-left: 0;
            margin-top: 0;
        }

        .dropdown.v-select .dropdown-toggle .selected-tag {
            margin: 0 0;
        }
        .dropdown-menu li {
            color: red;
        }
        .v-select {
            li > a {
                color: red;
            }
            .selected-tag {
                max-width: 100px;
            }
            .areaCode {
                color: gray;
            }

            .cflags {
                width: 24px;
                height: 17px;
                margin-right: 10px;
            }

            .cflags {
                display: inline-block;
                vertical-align: middle;
                background-size: 26px auto;
                background-repeat: no-repeat;
                background-position: -1px -3027px;
                background-image: url("//assets.abs-cbn.com/thankyou/2.0.1/images/placeholders/flags/img-flags.png");
            }

            .vs__actions {
                width: 25px;
                padding-left: 0;
                padding-right: 0;

                .clear {
                    // display: none;
                }

                .open-indicator {
                    width: auto;

                    // &::before {
                    //     width: 7px;
                    //     height: 7px;
                    //     margin-top: 5px;
                    //     margin-left: 20px;
                    //     border-width: 2px 2px 0 0;
                    // }
                }
            }

            .dropdown-menu {
                width: 320px; 
            }
        }

    }
</style>