<template>
    <transition name="fade" v-if="showSkipModal">
        <div class="sso-skip-lightbox-form">
            <div class="sso-contant-form-container">
                <div class="sso-contact-form">
                    <h4 class="sso-form-title">SKIP PROCCESS</h4>
                    <form class="sso-form" >
                        <div class="sso-input-container">
                            <p>
                                We are sad to know that you are unable to complete this page at this time . Would you like to proceed to skip the process? Thank you
                            </p>
                        </div>
                        <div class="sso-btn-container">
                            <a :href="redirectReferer" class="sso-btn-add-save"> OK </a>
                            <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="cancel">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        showSkipModal : {
            type: Boolean,
            default: false
        }
    },
	data: () => ({
        redirectReferer : `${window.location.protocol}//${process.env.VUE_APP_ON_BOARDING_REDIRECT_URI}`

	}),
	methods: {
        cancel() {
            this.showSkipModal = !this.showSkipModal;
        }
    },
    created() {
    },
}
</script>

<style lang="scss">


    .sso-skip-lightbox-form {
        position: fixed;
        background-color: rgba(0, 0, 0, .7);
        z-index: 999999;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .sso-contant-form-container {
            box-shadow: 0px 1px 15px 3px #000000;
            left: calc(50% - 250px);
            top: calc(50% - 150px);
            border-radius: 5px;
            position: fixed;
            width: 500px;
            background-color: #363636;
            padding: 40px 0 35px;
            margin-bottom: 40px;
            .sso-contact-form {
                margin: 0 auto;
                
                h4 {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0;
                }
                .sso-form {
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: center; 

                    .sso-input-container {
                        text-align: center;
                        font-weight: 200;
                        display: block;
                        font-size: 12px;
                    }                   
                    .sso-btn-container {
                        text-align: center;
                        .sso-btn-add-save {
                            border: none;
                            width: 300px;
                            height: 50px;
                            line-height: 50px;
                            display: block;
                            cursor: pointer;
                            color: #fff;
                            border-radius: 1px;
                            position: relative;
                            font-weight: 600;
                            outline: none;
                            background-color: #111111;
                            font-size: 14px;
                            margin: 30px auto 20px;
                            text-decoration: none;
                        }
                        .sso-a-link {
                            font-size: 12px;
                            color: #00bff3;
                            text-decoration: none;
                            cursor: pointer;
                            margin: 5px 0;
                            font-weight: 300;

                        }
                    }
                }
            }
        }
    }
 
</style>