<template>
    <div class="sso-contant-form-container">
        <div class="sso-contact-form">
            <h4 class="sso-form-title">ADD MOBILE NUMBER</h4>
            <form class="sso-form" v-on:submit.prevent>
                <div class="sso-input-container">
                    <label>Mobile Number</label>
                    <span class="inline-block">
                        <input 
                            autocomplete="off" 
                            type="text" 
                            class="sso-input-text sso-text-m-n" 
                            :class="{ 'has-error': hasError }" 
                            name="number" 
                            v-model="number" 
                            @input="validateMobileNumber"/>
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="required">Mobile number is required.</p>
                            <p class="sso-error-message" v-if="numbersOnly">Numeric number only.</p>
                            <p class="sso-error-message" v-if="maximum">11-digit mobile number only.</p>
                            <p class="sso-error-message" v-if="defaultError">{{ errorText }}</p>
                        </div>
                    </span>
                </div>
                <div class="sso-btn-container">
                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="checkMobileIfExists">
                        SUBMIT
                    </button>
                    <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="$emit('closeView')">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: ["payload"],

    data: () => ({
        number: null,

        // validation
        hasError: false,
        errorText: null,
        required: false,
        numbersOnly: false,
        maximum: false,
        defaultError: false
    }),

    methods: {
        validateMobileNumber: function() {
            var reg = new RegExp('^[0-9]+$');
            if (this.number === '' || this.number === null) {
                this.required = true;
                this.hasError = true;
                this.numbersOnly = false;
                this.maximum = false;
                this.defaultError = false;

            } else if (!reg.test(this.number)) {
                this.required = false;
                this.hasError = true;
                this.numbersOnly = true;
                this.maximum = false;
                this.defaultError = false;

            } else if (this.number.length > 11) {
                this.maximum = true;
                this.required = false;
                this.hasError = true;
                this.numbersOnly = false;
                this.defaultError = false;

            } else {
                this.resetErrors();
            }
        },

        submit: function() {
            return new Promise((resolve) => {
                this.validateMobileNumber();
                
                if (this.hasError) {
                    resolve();
                    return;
                }
                
                let temp = this.$store.getters.mobileNumbers;
                let temporaryNumber = "63" + this.number.substring(1);
                
                var b = _.find(temp, function(o) { return o.number == temporaryNumber });

                if (b) {
                    this.hasError = true;
                    this.defaultError = true;
                    this.errorText = "Mobile number already exist to this account.";
                    resolve();
                    return;
                }

                if (this.number && this.number.length < 11) {
                    this.hasError = true;
                    this.defaultError = true;
                    this.errorText = "Incomplete mobile number.";
                    resolve();
                    return;
                }

                this.$http.post('/api/Profile/RequestVerificationCode', {
                    uid: this.$user.UID,
                    mobileNumber: this.number.toLowerCase().trim()
                }).then((response) => {
                    
                    if (response.data.errorCode === 1001) {
                        this.defaultError = true;
                        this.hasError = true;
                        this.errorText = "Mobile number Already added.";
                        resolve();
                        return;
                    } else if (response.data.errorCode === 1003) {
                        this.hasError = true;
                        this.defaultError = true;
                        this.errorText = response.data.message;
                        resolve();
                        return;
                    }
                    
                    this.resetErrors();

                    this.$emit("loadView", "verify-mobile", {
                        number: this.number,
                        token: response.data.token
                    });
                    resolve();
                });
            });
        },

        checkMobileIfExists() {
            return new Promise((resolve) => {
                this.validateMobileNumber();
                
                if (this.hasError) {
                    resolve();
                    return;
                }
                
                let temp = this.$store.getters.mobileNumbers;
                let temporaryNumber = "63" + this.number.substring(1);
                
                var b = _.find(temp, function(o) { return o.number == temporaryNumber });

                if (b) {
                    this.hasError = true;
                    this.defaultError = true;
                    this.errorText = "Mobile number already exist to this account.";
                    resolve();
                    return;
                }

                if (this.number && this.number.length < 11) {
                    this.hasError = true;
                    this.defaultError = true;
                    this.errorText = "Incomplete mobile number.";
                    resolve();
                    return;
                }
                
                let headers = { headers: { 'Ocp-Apim-Subscription-Key': process.env.VUE_APP_API_ON_BOARDING_OCP_KEY } };

                let apiUrl = `${process.env.VUE_APP_API_ON_BOARDING}/sso/api/profile.mobileExist?mobileNumber=${temporaryNumber.toLowerCase().trim()}`;
                
                this.$http.get(apiUrl, headers).then((res) => {
                    
                    res = res.data;

                    this.resetErrors();

                    // Procceed churning once mobile exists
                    if (res.statusCode === 403404) { 
                        this.$emit("loadView", "churning-mobile", res);
                        resolve();
                    }
                    else if(res.statusCode === 403420) {
                        this.submit();
                    }
                });
            });
        },

        resetErrors: function() {
            this.required = false;
            this.hasError = false;
            this.numbersOnly = false;
            this.errorText = null;
            this.maximum = false;
            this.defaultError = false;
        }
    },

    created() {
        if (this.payload) {
            this.number = this.payload.number
        }

        
    }
}
</script>