<template>
    <div class="sso-contant-form-container mobile-churning-form-container">
        <div class="sso-contact-form">
            <h4 class="sso-form-title">ADD MOBILE NUMBER</h4>
            <form class="sso-form" >
                <div class="sso-input-container">
                    <p>
                         This mobile number ({{concatNumber}}) is currently registered in Kapamilya Accounts under Kapamilya Name:  ({{concatkapamilyaName}}).
                    </p>
                    <p>
                        If this is not you click CONTINUE. This mobile number will be added to your account once verified. 
                    </p>
                </div>
                <div class="sso-btn-container">
                    <button type="submit" class="sso-btn-add-save" @click.prevent="requestVerification">
                        CONTINUE
                    </button>
                    <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="cancelVerification">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: ["payload"],
	data: () => ({
        number : null,
        kapamilyaName : null,

        concatkapamilyaName : null,
        concatNumber : null
	}),

	methods: {
        requestVerification() {
            return new Promise((resolve) => {
                this.$http.post('/api/Profile/RequestVerificationCode', {
                    uid: this.$user.UID,
                    mobileNumber: this.number
                }).then((response) => {

                    this.$emit("loadView", "verify-mobile", {
                        number: this.number,
                        token: response.data.token
                    });
                    resolve();
                });
            });
        },

        cancelVerification() {
            this.$emit("loadView", "add-mobile");
        }

    },
    
    created() {
        let username = this.payload.loginIDs.username;
        let number = this.payload.data.mobile[0].number;

        this.kapamilyaName = username;
        this.number = number.toLowerCase().trim();

        this.concatkapamilyaName = username.substring(0, username.length / 3)+'********';
        this.concatNumber = number.substring(0, number.length / 3)+'********';
    },
}
</script>

<style lang="scss">
    .mobile-churning-form-container {
        .sso-contact-form {
            width: 80% !important;
            .sso-form {
                text-align:center;
                .sso-input-container {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
</style>