<template>
	<transition name="fade">
		<div class="sso-lightbox-form">
			<div class="sso-contant-form-container">
		        <div class="sso-contact-form sso-width-100-perc">
		            <h4 class="sso-form-title">DELETE MOBILE NUMBER</h4>
		            <div class="sso-form overide-margin-top">
		                <div class="sso-input-container">
		                    <p class="sso-contact-verif-info">
		                    	By clicking yes, you will no longer receive messages through this mobile number.
		                    </p>
		                </div>
		                <div class="sso-btn-container">
		                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="submit">
		                        YES
		                    </button>
		                    <a href="javascript:void(0);" class="sso-a-link sso-cancel overide-font-size-14" @click="$emit('closeView')">Cancel</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</transition>
</template>

<script>
export default {
	props: ["payload"],

	data: () => ({
		number: null
	}),

	methods: {
		submit: function() {
			return new Promise((resolve) => {
				let mobileNumbers = this.$store.getters.mobileNumbers.filter(e => e.number != this.payload.number);;
				
				this.$http.post('/api/Profile/DeleteMobile', {
	                uid: this.$user.UID,
	                mobileNumber: this.number
	            }).then((response) => {
	                if (response.data.errorCode === 0) {
	                	this.$store.commit("STORE_MOBILENUMBER", mobileNumbers);

	                	this.$emit("deleteAndCloseView", this.payload);
	                }

	                resolve();
	            }).catch(function(error) {
	                console.log(error);
	            });
	        });
		}
	},

	created() {
		if (this.payload) {
            this.number = this.payload.number
        }
	}
}
</script>
