<template>
    <div class="sso-contant-form-container">
        <div class="sso-contact-form">
            <span class="sso-contact-verif-title">ADD MOBILE NUMBER</span>
            <h4 class="sso-form-title">MOBILE VERIFICATION</h4>
            <p class="sso-contact-verif-info">Please enter the code that we sent to your mobile device.</p>
            <form class="sso-form" v-on:submit.prevent>
                <div class="sso-input-container">
                    <label>Code</label>
                    <span class="inline-block">
                        <input 
                            type="text" 
                            class="sso-input-text sso-text-m-n-v" 
                            :class="{ 'has-error': hasError }" 
                            name="verificationCode" 
                            v-model="verificationCode" 
                            @keyup="validateInput" />
                        <div class="sso-info-container">
                            <p class="sso-error-message" v-if="required">Please enter the code.</p>
                            <p class="sso-error-message" v-if="maximum">6-digit code only.</p>
                            <p class="sso-error-message" v-if="invalidCode">{{invalidText}}</p>
                        </div>
                    </span>
                </div>
                <div class="sso-btn-container">
                    <button type="submit" class="sso-btn-add-save" v-promise-btn @click="confirmCode">
                        SUBMIT
                    </button>
                    <a href="javascript:void(0);" class="sso-a-link sso-mobile-resend-verification overide-font-size-14" @click="requestVerificationCode">
                        <i class="fa fa-spinner fa-spin ob-mr" v-if="onSubmittingResendVerif"></i>
                        Resend Verification
                    </a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    
    props: ["payload"],

    data: () => ({
        verificationCode: null,
        invalidCode: false,
        invalidText: null,
        required: false,
        maximum: false,
        hasError: false,
        onSubmittingResendVerif : false,
    }),

    methods: {
        validateInput: function() {
            this.invalidCode = false;
            if (this.verificationCode === "" || this.verificationCode === null) {
                this.maximum = false;
                this.required = true;
                this.hasError = true;
            } else if (this.verificationCode.length > 6) {
                this.required = false;
                this.maximum = true;
                this.hasError = true;
            } else {
                this.required = false;
                this.maximum = false;
                this.hasError = false;
            }
        },
        confirmCode: function() {
            this.validateInput();
            
            return new Promise((resolve) => {
                if (this.hasError) {
                    resolve();
                    return;
                }

                this.$http.post('/api/Profile/AddMobile', {
                    code: this.verificationCode,
                    token: this.payload.token
                }).then((response) => {
                    if (response.data.errorCode === 0) {
                        let mobileInfo = response.data.data;

                        let mobileNumbers = this.$store.getters.mobileNumbers;
                        mobileNumbers.push(mobileInfo);

                        this.$store.commit("STORE_MOBILENUMBER", mobileNumbers);

                        this.$emit('closeView', mobileInfo, false);
                    } else {
                        this.invalidCode = true;
                        this.hasError = true;
                        this.invalidText = response.data.errorMessage;
                    }

                    resolve();
                }).catch(function(error) {
                    console.log(error);
                    resolve();
                });
            });
        },

        resendVerification() {
            this.onSubmittingResendVerif = true;
            this.$http.post('/api/Profile/RequestVerificationCode', {
                    uid: this.$user.UID,
                    mobileNumber: this.payload.number.toLowerCase().trim()
                }).then((response) => {
                    this.payload.token = response.data.token;
                    this.onSubmittingResendVerif = false;
                    resolve();
                });
        },

        requestVerificationCode: function() {
            // this.$emit("loadView", "add-mobile", this.payload)
            this.resendVerification();
        }
    }
}
</script>

<style>

</style>
